<div class="apps-dialog d-flex flex-column" style="height: 100%;">
    <div class="dialog-header d-flex flex-row justify-content-between font-bold">Wasdi apps
        <span class="close-btn material-symbols-outlined" (click)="onDismiss()"> close</span>
    </div>
    <div class="dialog-content flex-fill d-flex flex-row w-100 justify-content-between "
        style="height: 100%; overflow: hidden;">
        <div class="apps-container d-flex flex-column">
            <div class="search-header font-bold d-flex flex-column gap-2 mb-3">
                <div class="d-flex flex-row justify-content-between align-items-center">Search apps
                    <app-button [m_sLabel]="'New App'" [m_sIconLeft]="'add_box'"
                        (click)="openNewAppDialog()"></app-button>
                </div>
                <app-input-field [m_sPlacehodler]="'Search app'" [m_sIconLeft]="'search'"
                    (m_oInputChange)="handleSearchChange($event)"></app-input-field>
            </div>
            <div *ngIf="m_bIsLoadingProcessorList === true">
                <app-invader></app-invader>
            </div>
            <div *ngIf="m_bIsLoadingProcessorList === false"
                class="apps-cards-container d-flex flex-column gap-2 flex-fill pe-1" style="overflow-y:scroll">
                <app-list-item *ngFor="let oProcessor of m_aoProcessorList | filter: m_sSearchString"
                    [m_bIsSelected]="oProcessor.processorName === m_oSelectedProcessor.processorName"
                    [m_bSimpleItem]="true" [m_bProcessorItem]="true" [m_sLabel]="oProcessor.processorName"
                    [m_sDescription]="oProcessor.processorDescription" [m_sIcon]="oProcessor.imgLink"
                    [m_bHasToolbar]="oProcessor.sharedWithMe === true || m_sActiveUserId === oProcessor.publisher"
                    (m_oEmitClickEvent)="handleToolbarClick($event, oProcessor)"
                    (click)="selectProcessor(oProcessor)"></app-list-item>
            </div>
        </div>
        <div class="json-container d-flex flex-column justify-content-between">
            <div class="json-header d-flex flex-column">
                <div class="processor-name font-bold">{{m_oSelectedProcessor.processorName ?
                    m_oSelectedProcessor.processorName: 'Select A Processor'}}</div>
                <p *ngIf="m_oSelectedProcessor.publisher">Publisher: {{m_oSelectedProcessor.publisher}}</p>
            </div>
            <div class="json-body flex-fill">
                <div #editor class="json-editor" style="height: 100%;" (keyup)="getJSONInput($event)"></div>
            </div>

            <div class="footer d-flex flex-row justify-content-between">
                <div>
                    <app-button [m_bMuted]="true" [m_sLabel]="'Help'" [m_sIconLeft]="'help'"
                        (click)="openHelp()"></app-button>
                </div>
                <div class="d-flex flex-row gap-3">
                    <app-button [m_sLabel]="'Format JSON'" [m_bOutline]="true" (click)="formatJSON()"></app-button>
                    <app-button [m_sLabel]="'Run'" [m_sIconLeft]="'play_circle'"
                        [m_bDisabled]="!m_oSelectedProcessor.processorName" (click)="runProcessor()"></app-button>
                </div>
            </div>
        </div>
    </div>
</div>