label {
    color: var(--neutral95);
    font-size: 14px;
    font-weight: 400;
}

.has-validation {
    height: 100%;
}

.list-item-container {
    border: 1px solid #D9DCE1;
    border-radius: 8px;
    padding: 12px;
    width: fit-content;
}

.simple-header {
    font-size: 16px;
    font-weight: 700;
}

.simple-description {
    font-size: 14px;
}

span.bold {
    font-weight: 700;
}

.material-symbols-outlined {
    font-size: 30px;
}

.img-size {
    font-size: 12px;
    line-height: 18px;
}