<form action="#" method="get">
    <div class="search"></div>
</form>
<ul class="d-flex flex-row">
    <li>
        <div class="background-color" (click)="setSearchFilter()">
            <img src="assets/svg/search-icon.svg" alt="search icon" />
            <label for="search-bar">Search</label>
        </div>
        <input class="search-input" type="text" id="search-bar" name="search-bar" placeholder="Find Apps..." [(ngModel)]="m_sSearchInput" />
    </li>

    <!-- <li>
        <button class="name-select" id="name">
            Name
        </button>
    </li>
    <li>
        <button class="name-select date-select" id="date">
            Date
        </button>
    </li>
    <li>
        <button class="name-select price-select" id="price">
            Price
        </button>
    </li> -->
</ul>