<div class="flex-fill d-flex flex-column gap-3">
    <div class="header font-bold d-flex flex-row justify-content-between">Manage Users
    </div>
    <div class="d-flex flex-row align-items-end justify-content-end">
        <div class="d-flex flex-row gap-2">
            <app-input-field [m_sPlacehodler]="'Search for a user'" (m_oInputChange)="setUserSearch($event)"
                [m_sInputValue]="m_sUserSearch" (m_oClearInput)="getPaginatedList()"
                [m_bClearField]="true"></app-input-field>
            <app-button [m_sIconLeft]="'search'" (click)="executeUserSearch()"></app-button>
        </div>
    </div>
    <div class="flex-fill d-flex flex-column gap-2">
        <div class="table-wrapper">
            <table>
                <thead class="table-heading-container">
                    <tr>
                        <td>User Id</td>
                        <td>Surname</td>
                        <td>First Name</td>
                        <td>Last Login</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let oUser of m_aoUsers">
                        <td>{{oUser.userId}}</td>
                        <td>{{oUser.surname}}</td>
                        <td>{{oUser.name}}</td>
                        <td>{{oUser.lastLogin | date: 'dd/MM/YYYY HH:mm:ss'}}</td>
                        <td class="d-flex flex-row justify-content-end">
                            <span (click)="setSelectedUser(oUser)" data-bs-toggle="offcanvas" href="#userTime"
                                role="button" aria-controls="userTime" class="material-symbols-outlined">
                                timer
                            </span>
                            <!-- <span class="material-symbols-outlined"
                                (click)="showUserSubscriptions(oUser)">library_books</span> -->
                            <span (click)="setSelectedUser(oUser)" data-bs-toggle="offcanvas" href="#userEditor"
                                role="button" aria-controls="userEditor" class="material-symbols-outlined">
                                edit
                            </span>
                            <span class="material-symbols-outlined" (click)="deleteUser(oUser)">
                                delete
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav class="align-self-end" aria-label="Users table navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" aria-label="Previous" (click)="!m_bMinusPageDisabled? minusOnePage() : ''"
                        [class.disabled]="m_bMinusPageDisabled">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" aria-label="Next" (click)="!m_bStepPageDisabled? stepOnePage() : ''"
                        [class.disabled]="m_bStepPageDisabled">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="offcanvas offcanvas-end org-create-container d-flex flex-column justify-content-between"
    data-bs-backdrop="true" tabindex="-1" id="userEditor" aria-labelledby="userEditorLabel">
    <div class="editor-header font-bold pb-3">
        Edit User
    </div>
    <div class="d-flex flex-fill flex-column gap-3">
        <app-input-field [m_sLabel]="'User Id'" [m_sInputValue]="m_oSelectedUser? m_oSelectedUser.userId : ''"
            [m_bIsRequired]="true" [m_bIsValid]="m_bUserIdIsValid"
            (m_oInputChange)="setInputSelections($event, 'userId')"></app-input-field>
        <app-input-field [m_sLabel]="'User First Name'" [m_sInputValue]="m_oSelectedUser? m_oSelectedUser.name : ''"
            [m_bIsRequired]="true" [m_bIsValid]="m_bUserNameIsValid"
            (m_oInputChange)="setInputSelections($event, 'name')"></app-input-field>
        <app-input-field [m_sLabel]="'User Last name'" [m_bIsRequired]="true" [m_bIsValid]="m_bUserLastNameIsValid"
            [m_sInputValue]="m_oSelectedUser? m_oSelectedUser.surname : ''"
            (m_oInputChange)="setInputSelections($event, 'surname')"></app-input-field>
        <!-- Registration date -->
        <app-input-field [m_sLabel]="'Registration Date'" [m_bIsReadonly]="true"
            [m_sInputValue]="m_oSelectedUser.registrationDate? (m_oSelectedUser.registrationDate | date: 'dd/MM/YYYY HH:mm:ss') : 'N/A'"></app-input-field>
        <!-- Confirmation date -->
        <app-input-field [m_sLabel]="'Confirmation Date'" [m_bIsReadonly]="true"
            [m_sInputValue]="m_oSelectedUser.confirmationDate ? (m_oSelectedUser.confirmationDate | date: 'dd/MM/YYYY HH:mm:ss'): 'N/A'"></app-input-field>
        <!-- Last Login -->
        <app-input-field [m_sLabel]="'Last Login'" [m_bIsReadonly]="true"
            [m_sInputValue]="m_oSelectedUser.lastLogin ? (m_oSelectedUser.lastLogin | date: 'dd/MM/YYYY HH:mm:ss'): 'N/A'"></app-input-field>
        <!-- default node -->
        <app-dropdown [m_sLabel]="'Default Node'" [m_aoDropdownItems]="m_aoNodes"
            [m_aoSelectedItems]="m_oSelectedUser.defaultNode"
            (m_oSelectionChange)="setInputSelections($event, 'node')"></app-dropdown>
        <!-- Role -->
        <app-dropdown [m_sLabel]="'User Role'" [m_aoDropdownItems]="m_asRoles"
            [m_aoSelectedItems]="m_oSelectedUser.role"></app-dropdown>
        <div class="d-flex flex-row align-items-center gap-2">
            <input type="checkbox" class="wasdi-checkbox" name="isActive" id="" [checked]="m_oSelectedUser.active"
                (change)="setInputSelections($event, 'isActive')">
            <label for="isActive">Active</label>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-between pb-3">
        <app-button data-bs-dismiss="offcanvas" [m_sLabel]="'Cancel'" [m_bMuted]="true"></app-button>
        <app-button [m_sLabel]="'Update User'" (click)="updateUser(m_oSelectedUser)"></app-button>
    </div>
</div>

<div class="offcanvas offcanvas-end org-create-container d-flex flex-column justify-content-between"
    data-bs-backdrop="true" tabindex="-1" id="userTime" aria-labelledby="userTimeLabel">
    <div class="editor-header font-bold pb-3">
        Compute User Processing Time
    </div>
    <div class="flex-fill d-flex flex-column gap-3">
        <app-input-field [m_sLabel]="'Start Date'" [m_sInputType]="'date'" [m_sInputValue]="m_sDateFrom"
            (m_oInputChange)="setDateInput($event, 'from')"></app-input-field>
        <app-input-field [m_sLabel]="'End Date'" [m_sInputType]="'date'" [m_sInputValue]="m_sDateTo"
            (m_oInputChange)="setDateInput($event, 'to')"></app-input-field>

        <div class="output-container d-flex flex-column gap-2">
            <div>
                Total running time in milliseconds: {{m_iUserProcessingTime}}
            </div>
            <div>
                Total running time formatted (HH:mm:ss): {{m_iUserProcessingTime | convertMsToTime}}
            </div>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-between pb-3">
        <app-button data-bs-dismiss="offcanvas" [m_sLabel]="'Cancel'" [m_bMuted]="true"></app-button>
        <app-button [m_sLabel]="'Compute Running Time'" (click)="computeRunningTime()"></app-button>
    </div>
</div>