:host {
    align-items: center;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    padding: 16px;
}
.success-snackbar {}

.alert-snackbar {}

.alert-snackbar {}

.info-snackbar {}