<div mat-dialog-content class="attachment-preview-dialog">

  <div class="drag-drop-container d-flex flex-row justify-content-between mt-3">
    <div class="header-zone">
      <div class="icon-container">
        <span class="file-name">{{ m_oData.oPayload.fileName}}</span>
        <span class="material-icons file-icon" style="cursor: pointer;" (click)="onDownload(this.m_oData.oPayload.fileName)">download</span>
<!--        <span class="material-icons file-icon" style="cursor: pointer;" (click)="onDeleteAttachment()">delete</span>-->
      </div>
    </div>
  </div>
  <div *ngIf="m_oData.oPayload.type === 'image'" class="image-container">
    <img [src]="m_oImageUrl" alt="Preview" class="image-preview">
  </div>
  <div *ngIf="m_oData.oPayload.type === 'pdf'">
    <iframe  [src]="m_oPdfUrl" class="document-preview"></iframe>
  </div>

  <div *ngIf="m_oData.oPayload.type === 'txt'">
    <iframe  [src]="m_oPdfUrl" class="document-preview"></iframe>
  </div>
</div>
