main {
    min-height: calc(100vh - 3rem);
    position: relative;
}

.globe-container {
    height: calc(100vh - 3rem);
    width: calc(100% + 2rem);
    position: absolute;
    left: -2rem;
    z-index: 1;
}

div.cesium-container {
    height: calc(100vh - 3rem);
    width: 100%;
}

.workspaces-menu {
    z-index: 999;
    position: absolute;
    left: 2.5%;
    top: 3%;
}

div.workspace-name-card {
    border-radius: 24px;
    bottom: 3%;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 12px;
    position: absolute;
    right: 0;
    width: fit-content;
    z-index: 999;
}