section.workspaces-container {
    max-width: 95vw;
}

h4 {
    color: #43516a;
    font-weight: bolder;
}

div.workspace-properties-container {
    height: 80vh;
    width: 40%;
}

div.workspace-globe-contaienr {
    height: 80vh;
    width: 60vw;
}

div.workspaces-container,
div.properties-container {
    height: 40vh;
    width: 100%;
}

div.workspaces-list-group {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

li.workspace-product {
    overflow: hidden;
}