<!-- <mat-slider style="width: 80%;" min={{oSliderInput.m_iMin}} max={{oSliderInput.m_iMax}} step="10"
    showTickMarks discrete [displayWith]="formatLabel" (change)="getSliderInput($event)">
    <input matSliderThumb  value={{oSliderInput.m_iValue}}>
</mat-slider> -->
<div class="d-flex flex-column">
    <label for="">{{oSliderInput.label}}</label>
    <app-slider [m_bHasThumbLabel]="true" [m_iDefaultMax]="oSliderInput.m_iMax" [m_iDefaultMin]="oSliderInput.m_iMin"
        [m_iDefaultValue]="oSliderInput.m_iDefaultMin" (m_oSelectionChange)="getSelectionChange($event)"></app-slider>
</div>