div.card {
    border: none;
    box-shadow: 4px 4px 16px lightgray;
    cursor: pointer;
    height: 25rem;
    margin-bottom: 1rem;
    overflow: auto;
}
div.card:hover{ 
    transform: translateY(-2px);
    transition: 400ms;
}

div.featured-img {
    background-position: center;
    background-size: cover;
    height: 40%;
}

div.card-description {
    height: 20%;
    overflow: hidden;
}

.btn-primary {
    background-color: #43516a;
    border: none;
    margin-right: 0.33rem;
}

.card-text {
    font-size: smaller;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3rem;
}

.price-tag {
    background-color: #009036;
    border-radius: 5px;
    float: right;
    color: white;
    padding: 4px 8px;
}

.publisher .pub-name {
    color: #009036;
}

.row>* {
    flex-shrink: 1;
}

a {
    margin-bottom: 1rem;
}

h5 {
    color: #009036;
}