<a (click)="openProcessorDetails(oProcessor.processorName)">
    <article class="market-card">
        <p *ngIf="oProcessor.price!== 0" class="tag">PRO</p>
        <p *ngIf="oProcessor.price=== 0" class="tag free">FREE</p>
        <div class="img-container">
            <img class="processor-img" src="{{oProcessor.imgLink}}" alt="">
        </div>
        <div class="card-stars d-flex flex-row align-items-center">
            <div>
                <fa-icon [icon]="oProcessor.score> 0.25 &&oProcessor.score< 0.75 ? faStarHalf : faStar"
                    [ngClass]="oProcessor.score >= 0.25 ? 'text-warning' : 'text-secondary'">
                </fa-icon>
                <fa-icon [icon]="oProcessor.score> 1.25 &&oProcessor.score< 1.75 ? faStarHalf : faStar"
                    [ngClass]="oProcessor.score >= 1.25 ? 'text-warning' : 'text-secondary'">
                </fa-icon>
                <fa-icon [icon]="oProcessor.score> 2.25 &&oProcessor.score< 2.75 ? faStarHalf : faStar"
                    [ngClass]="oProcessor.score >= 2.25 ? 'text-warning' : 'text-secondary'">
                </fa-icon>
                <fa-icon [icon]="oProcessor.score> 3.25 &&oProcessor.score< 3.75 ? faStarHalf : faStar"
                    [ngClass]="oProcessor.score >= 3.25 ? 'text-warning' : 'text-secondary'">
                </fa-icon>
                <fa-icon [icon]="oProcessor.score> 4.25 &&oProcessor.score< 4.75 ? faStarHalf : faStar"
                    [ngClass]="oProcessor.score >= 4.25 ? 'text-warning' : 'text-secondary'">
                </fa-icon>
            </div>
            <p class="num m-0 p-0">({{oProcessor.votes}})</p>
        </div>
        <h4>{{oProcessor.friendlyName}}</h4>
        <p class="processor-description">
            {{oProcessor.processorDescription}}
        </p>
        <hr />
        <p class="owner">
            Published by: <span>Luca.pulvirenti</span>
        </p>
    </article>
</a>