a {
    color: #000; 
    cursor: pointer;
    text-decoration: none;
}

h3 {
    color: #fff;
}

div.featured-img {
    background-position: center;
    background-size: cover; 
    height: 150px;
}

div.card-body {
    height: 15rem;
}

div.card-description {
    height: 20%;
}

span.publisher-name {
    font-size: 14px;
}