<div class="d-flex flex-row gap-2" style="width: 100%;">

    <div class="ui-btns-container d-flex flex-column gap-1">
        <button class="btn btn-secondary btn-sm">
            Tab
        </button>
        <button class="btn btn-secondary btn-sm">
            Render As Strings
        </button>
        <button class="btn btn-secondary btn-sm">
            Textbox
        </button>
        <button class="btn btn-secondary btn-sm">
            Numeric Field
        </button>
        <button class="btn btn-secondary btn-sm">
            Dropdown
        </button>
        <button class="btn btn-secondary btn-sm">
            Select Area
        </button>
        <button class="btn btn-secondary btn-sm">
            Number Slider
        </button>
        <button class="btn btn-secondary btn-sm">
            Date
        </button>
        <button class="btn btn-secondary btn-sm">
            Boolean
        </button>
        <button class="btn btn-secondary btn-sm">
            Product Combo Box
        </button>
        <button class="btn btn-secondary btn-sm">
            Search EO Images
        </button>
        <button class="btn btn-secondary btn-sm">
            List Box
        </button>
        <button class="btn btn-secondary btn-sm">
            Hidden Field
        </button>
        <button class="btn btn-secondary btn-sm">
            Table
        </button>
    </div>
    <div class="JSON-container d-flex flex-column gap-1" style="height: 100%; width: 100%;">
        <textarea class="form-control" name="" id="" cols="30" style="height: 30rem; width: 100%;"></textarea>
        <button class="btn btn-success btn-sm align-self-end">Format JSON</button>
    </div>
</div>