.dialog-container {
    border-radius: 8px;
    border: 1px solid var(--neutral20);
    color: var(--neutral80);
    gap: 16px;
    overflow: hidden;
    overflow-wrap: break-word;
    padding: 16px;
    width: 100%;
    height: 100%;
}

.dialog-container.success {
    border: 1px solid var(--wasdiGreen) !important;
    background-color: var(--wasdiGreenLight) !important;
}

.dialog-container.alert {
    border: 1px solid var(--wasdiWarn) !important;
    background-color: var(--wasdiWarnLight) !important;
    margin-bottom: 0 !important;
}

.dialog-container.danger {
    border: 1px solid var(--wasdiDanger) !important;
    background-color: var(--wasdiDangerLight) !important;
}

.dialog-container.info {
    border: 1px solid var(--neutral50Brand) !important;
    background-color: var(--wasdiBluelight) !important;
}

.alert-header {
    color: #000000;
    font-size: 16px;
    line-height: 24px;
}

.dialog-content-container {
    overflow: hidden;
    overflow-wrap: break-word;

}

.dialog-message-container {
    max-height: 50vh;
    overflow-y: scroll;
}

.success>.icon-container {
    color: var(--wasdiGreen);
}

.alert>.icon-container {
    color: var(--wasdiWarn);
}

.danger>.icon-container {
    color: var(--wasdiDanger);
}

.info>.icon-container {
    color: var(--neutral50Brand);
}