<div class="upload-container">
  <div class="upload-info">
    <p>Carica file:</p>
  </div>

  <div class="file-input-container">
    <input type="file" (change)="getSelectedFile($event)" />

  </div>

  <mat-progress-bar
    mode="determinate"
    [value]="uploadProgress"
    >
  </mat-progress-bar>

  <div class="upload-status">
    <span >
      The upload is at: {{ uploadProgress }}%
    </span>
    <span *ngIf="uploadError" class="error-message">
      {{ uploadError }}
    </span>
  </div>

  <button
    mat-raised-button
    color="primary"
    (click)="onUploadFile()"
    [disabled]="!m_oFile || m_bIsUploading">
    Upload
  </button>
</div>
