<div class="dialog d-flex flex-column justify-content-between" style="height: 100%">
    <div class="dialog bg-secondary text-light d-flex flex-row justify-content-between p-2">
        <h4>Import</h4>

        <button class="btn" (click)="onDismiss()">
            <fa-icon [icon]="faX"></fa-icon>
        </button>
    </div>

    <div class="m-2 flex-fill" style="height: 60%">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" (click)="changeActiveTab('upload')"
                    ngClass="{{m_sActiveTab === 'upload'? 'active' : ''}}">Upload</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="changeActiveTab('SFTP')"
                    ngClass="{{m_sActiveTab === 'SFTP'? 'active' : ''}}">SFTP</a>
            </li>
        </ul>
        <!-- Upload Content -->
        <div *ngIf="m_sActiveTab === 'upload'">
            <form #f="ngForm" (ngSubmit)="f.form && onUploadFile()"
                class="d-flex flex-column gap-3 my-3 align-items-center" action="">
                <app-drag-and-drop (m_oSelectedFileOutput)="getSelectedFile($event)"></app-drag-and-drop>
                <input type="text" name="m_sStyle" placeholder="Select a Style" [matAutocomplete]="auto"
                    class="form-control">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let sStyle of m_aoStylesMap" [value]="sStyle">
                        {{sStyle}}
                    </mat-option>
                </mat-autocomplete>
                <button class="btn btn-success align-self-start">Upload</button>
            </form>
        </div>
        <!-- SFTP TAB -->
        <!-- NEW SFTP User -->
        <form class="sftp-new-user d-flex flex-column gap-2 p-2" *ngIf="m_sActiveTab === 'SFTP'">
            <h3 class="m-0 p-0">Register</h3>
            <input class="form-control" type="text" placeholder="Email Address">
            <button class="btn btn-primary align-self-start">Register</button>
        </form>
        <!-- Existing SFTP User -->
       <!-- <form action="" class="sftp-existing-user d-flex flex-column gap-2 p-2" *ngIf="!isAccountCreated()">
            <h3>List of Files</h3>
            <div>
                <div class="row"> -->
                    <!-- TODO ADD LIST OF FILES -->
                    <!-- <mat-selection-list>
                        <mat-list-option>

                        </mat-list-option>
                    </mat-selection-list> -->
                <!-- </div>
            </div>
        </form>  -->
    </div>

    <div class="d-flex flex-row justify-content-end p-2">
        <button class="btn btn-secondary" (click)="onDismiss()">Close</button>
    </div>
</div>