<div class="dialog d-flex flex-column justify-content-between h-100">
    <div class="dialog-header d-flex flex-row justify-content-between font-bold">
        {{"DIALOG_IMPORT_HEADER" | translate}}
        <span class="close-btn material-symbols-outlined" (click)="onDismiss()"> close</span>
    </div>
    <div class="dialog-content flex-fill d-flex flex-column gap-3">
        <div>
            <div class="header font-bold">{{"DIALOG_IMPORT_LOCATION" | translate}}</div>
            <div>{{m_oWorkspace.name}}</div>
        </div>
        <div>{{"DIALOG_IMPORT_FILE_TYPES" | translate}}</div>
        <div class="drag-drop-container">
            <app-drag-and-drop (m_oSelectedFileOutput)="getSelectedFile($event)"></app-drag-and-drop>
        </div>
        <div class="mt-3">
            <div class="font-bold">{{"DIALOG_IMPORT_APPLY_STLYE" | translate}}</div>
            <app-dropdown [m_sPlaceholder]="'DIALOG_IMPORT_SELECT_STYLE' | translate" [m_aoDropdownItems]="m_aoStyles"
                [m_bHasSearch]="true" (m_oSelectionChange)="getSelectedStyle($event)"></app-dropdown>
        </div>
    </div>
    <div class="dialog-footer d-flex flex-row gap-2 justify-content-end mt-3">
        <app-button [m_sLabel]="'Cancel'" [m_bMuted]="true"></app-button>
        <app-button [m_sLabel]="'DIALOG_IMPORT_IMPORT' | translate" [m_bDisabled]="!m_oFile"
            (click)="onUploadFile()"></app-button>
    </div>
</div>