<div class="dialog d-flex flex-column justify-content-between" style="height: 100%;">
    <div class="dialog-header bg-secondary text-light d-flex flex-row justify-content-between px-4 pt-3 pb-2">
        <h4 class="dialog-text"><fa-icon [icon]="faRocket"></fa-icon> WASDI App</h4>
        <fa-icon [icon]="faX" (click)="onDismiss()"></fa-icon>
    </div>
    <div class="processor-tabs m-2">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" (click)="changeActiveTab('PROCESSOR')"
                    ngClass="{{m_sActiveTab === 'PROCESSOR' ? 'active' : ''}}">Processor</a>
            </li>
            <li class="nav-item" *ngIf="m_bEditMode === true">
                <a class="nav-link" (click)="changeActiveTab('STORE')"
                    ngClass="{{m_sActiveTab === 'STORE' ? 'active' : ''}}">Store</a>
            </li>
            <li class="nav-item" *ngIf="m_bEditMode === true">
                <a class="nav-link" (click)="changeActiveTab('MEDIA')"
                    ngClass="{{m_sActiveTab === 'MEDIA' ? 'active' : ''}}">Media</a>
            </li>
            <li class="nav-item" *ngIf="m_bEditMode === true">
                <a class="nav-link" (click)="changeActiveTab('SHARE')"
                    ngClass="{{m_sActiveTab === 'SHARE' ? 'active' : ''}}">Share</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="changeActiveTab('UI')"
                    ngClass="{{m_sActiveTab === 'UI' ? 'active' : ''}}">UI</a>
            </li>
        </ul>
    </div>
    <div class="tab-content-container p-3" style="height: 75%;">
        <!-- Default Page - Processor Information -->
        <app-processor-tab-content *ngIf="m_sActiveTab === 'PROCESSOR'"
            [m_bEditMode]="m_bEditMode" [m_oProcessorBasicInfo]="m_oProcessorForm.get('processorBasicInfo')" ></app-processor-tab-content>
        <!-- Processor Store Options -->
        <app-processor-tab-store *ngIf="m_sActiveTab==='STORE'"></app-processor-tab-store>
        <!-- Processor Media Options -->
        <app-processor-tab-media *ngIf="m_sActiveTab==='MEDIA'"></app-processor-tab-media>
        <!-- Processor UI JSON file -->
        <app-processor-tab-ui *ngIf="m_sActiveTab==='UI'" [m_oProcessor]="m_oInputProcessor"></app-processor-tab-ui>
        <!-- Processor Share Options -->
        <app-share-ui *ngIf="m_sActiveTab === 'SHARE'" [resourceType]="'processor'" [resource]="m_oInputProcessor"></app-share-ui>
    </div>
    <div mat-dialog-actions class="border dialog-footer p-1 d-flex flex-row justify-content-end justify-self-end gap-2">
        <button class="btn btn-success" (click)="updateProcessor()">Apply</button>
        <button class="btn btn-secondary" (click)="onDismiss()">Close</button>
    </div>
</div>