<div class="apps-dialog d-flex flex-column justify-content-between px-4" style="height:100%; width: 100%;">
    <div class="dialog-header d-flex flex-row justify-content-between font-bold">
        {{m_bEditMode === true ? m_oProcessorDetails.processorName : 'New Wasdi app'}}
        <span class="close-btn material-symbols-outlined" (click)="onDismiss()">close</span>
    </div>
    <div class="processor-tabs d-flex flex-row pb-4">
        <app-tab [m_sLabel]="'Processor'" [m_bHasBorder]="false" [m_bIsActive]="m_sActiveTab === 'PROCESSOR'"
            (click)="changeActiveTab('PROCESSOR')"></app-tab>
        <app-tab [m_sLabel]="'Store Info'" [m_bHasBorder]="false" [m_bIsActive]="m_sActiveTab === 'STORE'"
            (click)="changeActiveTab('STORE')" *ngIf="m_bEditMode"></app-tab>
        <app-tab [m_sLabel]="'Pricing'" [m_bHasBorder]="false" [m_bIsActive]="m_sActiveTab === 'PRICING'"
            (click)="changeActiveTab('PRICING')" *ngIf="m_bEditMode"></app-tab>
        <app-tab [m_sLabel]="'Collaborators'" [m_bHasBorder]="false" [m_bIsActive]="m_sActiveTab === 'SHARE'"
            (click)="changeActiveTab('SHARE')" *ngIf="m_bEditMode"></app-tab>
        <app-tab [m_sLabel]="'App User Interface'" [m_bHasBorder]="false" [m_bIsActive]="m_sActiveTab === 'UI'"
            (click)="changeActiveTab('UI')"></app-tab>
    </div>
    <div class="flex-fill mt-2">
        <!-- Default Page - Processor Information -->
        <app-processor-tab-content *ngIf="m_sActiveTab === 'PROCESSOR' && m_oProcessorForm" [m_bEditMode]="m_bEditMode"
            [m_oProcessorBasicInfo]="m_oProcessorForm.get('processorBasicInfo')"
            [m_sProcessorId]="m_oInputProcessor ? m_oInputProcessor.processorId : ''" [m_sProcessorName]="m_sName"
            [m_sPublisher]="m_oProcessorDetails.publisher"></app-processor-tab-content>
        <!-- Processor Store Options -->
        <app-processor-tab-store *ngIf="m_sActiveTab==='STORE'"
            [m_oProcessorStoreInfo]="m_oProcessorForm.get('processorStoreInfo')"
            [m_oProcessor]="m_oProcessorDetails"></app-processor-tab-store>
        <!-- Processor Pricing Options -->
        <app-processor-tab-pricing *ngIf="m_sActiveTab==='PRICING'"
            [m_oProcessorStoreInfo]="m_oProcessorForm.get('processorStoreInfo')"></app-processor-tab-pricing>
        <!-- Processor Media Options -->
        <app-processor-tab-media *ngIf=" m_sActiveTab==='MEDIA'"
            [m_oProcessor]=" m_oProcessorDetails"></app-processor-tab-media>
        <!-- Processor UI JSON file -->
        <app-processor-tab-ui *ngIf="m_sActiveTab==='UI'" [m_oProcessor]="m_oInputProcessor"
            [m_oProcessorUIInfo]="m_oProcessorForm.get('processorUIInfo')"></app-processor-tab-ui>
        <!-- Processor Share Options -->
        <app-share-ui *ngIf="m_sActiveTab === 'SHARE'" [resourceType]="'processor'"
            [resource]="m_oInputProcessor"></app-share-ui>

    </div>
    <div class="dialog-footer d-flex flex-row justify-content-between mt-2">
        <app-button [m_sLabel]="'Cancel'" [m_bOutline]="true" (click)="onDismiss()"></app-button>
        <app-button *ngIf="m_bEditMode" [m_sLabel]="'Apply'" (click)="updateProcessor()"></app-button>
        <app-button *ngIf="!m_bEditMode" [m_sLabel]="'Save App'" (click)="postNewProcessor()"></app-button>
    </div>
</div>