<main class="d-flex flex-column flex-fill">
    <div class="d-flex flex-row" style="height: 92%; width: 100%;">
        <div class="d-flex flex-row" style="height: 100%; width: 100%;">
            <div class="satellites-resource-tree d-flex flex-column" style="width: 45%;">
                <button class="btn btn-success" (click)="executeSearchOrbit()"
                    [disabled]="m_bIsDisabledSearchButton === true">
                    <fa-icon [icon]="faSearch"></fa-icon>
                    {{"PLAN_SEARCH"|translate}}
                </button>
                <app-search-orbit-resources *ngIf="m_aoSatelliteResources && m_bShowSatelliteFilters === true"
                    [m_aoSatelliteResources]="m_aoSatelliteResources" (m_oDateSelection)="getSelectedDates($event)"
                    (m_oSatelliteSelection)="getSelectedSatelliteResources($event)"></app-search-orbit-resources>
                <app-search-orbit-results *ngIf="m_bShowSatelliteFilters === false"
                    [m_aoSearchOrbits]="m_aoOrbitResults"
                    (m_oBackToFiltersEmit)="getNavigationStatus($event)"></app-search-orbit-results>

            </div>
            <div class="map" style="width: 100%;">
                <app-plan-map (m_oSearchInputhange)="getBoundingBox($event)"></app-plan-map>
            </div>
        </div>

    </div>
    <app-processes-bar [m_oActiveWorkspace]="m_oActiveWorkspace"></app-processes-bar>
</main>