<app-edit-toolbar [m_oActiveWorkspace]="m_oActiveWorkspace"
    [m_aoProducts]="m_aoProducts"
    (m_sSearchString)="getSearchString($event)"></app-edit-toolbar>
<main>
    <div class="d-flex flex-row px-3">
        <div class="productlist-navigation-container d-flex flex-column " style="height: 70vh">
            <div style="height: 40%;">
                <app-products-list [productArray]="m_aoProducts"
                    [m_sSearchString]="m_sSearchString" (m_aoVisibleBandsOutput)="getVisibleBands($event)" (m_oProductInfoChange)="getProductsChange($event)"></app-products-list>
            </div>
            <div style="height: 60%">
                <app-nav-layers [m_aoVisibleBands]="m_aoVisibleBands" [m_aoVisibleBands]="m_aoVisibleBands" [m_aoProducts]="m_aoProducts" [m_b2DMapModeOn]="m_b2DMapModeOn"></app-nav-layers>
            </div>
        </div>
        <div style="height: 75vh; width: 100%">
            <app-edit-map [m_aoProducts]="m_aoProducts" (m_b2DMapModeOutput)="getMapMode($event)"></app-edit-map>
        </div>
    </div>
    <div>
        <app-processes-bar [m_oActiveWorkspace]="m_oActiveWorkspace"></app-processes-bar>
    </div>
</main>