<main class="d-flex flex-row flex-fill">
    <!-- Side Bar Container -->
     <!--  appResizable [position]="'right'" [minResizeWidth]="475" -->
    <div class="editor-sidebar d-flex flex-column">
        <div class="workspace-location d-flex flex-column">
            <div class="d-flex flex-row gap-3 align-items-center">
                <app-button class="align-self-start" [m_sLabel]="'KEY_PHRASES.BACK' | translate" [m_bOutline]="true"
                    [m_sSize]="'small'" [m_sIconLeft]="'arrow_left'" (click)="navigateToWorkspaces()"></app-button>
                <div class="workspace-subheading">{{"DIALOG_WS_INFO_ID" | translate}} - <span class="workspace-id-copy"
                        (click)="copyWorkspaceId()">{{m_oActiveWorkspace?.workspaceId}}</span></div>
            </div>
            <div>
                <div class="workspace-name d-flex flex-row justify-content-between py-2">
                    <div>
                        <span class="workspace-id-copy"
                            (click)="copyWorkspaceName()">{{m_oActiveWorkspace?.name}}</span> ({{m_iFilteredProducts}})
                    </div>
                    <app-button matTooltip="Workspace Properties" [m_sSize]="'small'" [m_sIconLeft]="'settings_suggest'"
                        [m_bOutline]="true" (click)="openPropertiesDialog()"></app-button>
                </div>
            </div>
        </div>
        <app-products-list class="product-list-container flex-fill" [m_aoWorkspaceProductsList]="m_aoProducts"
            [m_aoVisibleBands]="m_aoVisibleBands" [m_bIsLoadingProducts]="m_bIsLoadingProducts"
            [m_b2DMapMode]="m_b2DMapModeOn" (m_aoVisibleBandsOutput)="getVisibleBands($event)"
            (m_oProductInfoChange)="getProductsChange($event)" (m_oProductArrayOutput)="getProductsChange($event)"
            (m_iFilteredProducts)="getFilteredProductsLength($event)"
            (m_oDownloadProgress)="getProductDownloadStatus($event)"></app-products-list>
            <div class="nav-layer-container">
                <app-nav-layers  [m_aoVisibleBands]="m_aoVisibleBands"
                    (m_aoVisibleBandsChange)="getVisibleBands($event)"></app-nav-layers>
            </div>
    </div>
    <!-- Map Container with Floating Nav-->
    <div class="map map-container flex-grow-1">
        <app-edit-map [aoProducts]="m_aoProducts" [m_aoVisibleBands]="m_aoVisibleBands"
            [bIsLoadingProducts]="m_bIsLoadingProducts" (m_b2DMapModeOutput)="getMapMode($event)"></app-edit-map>
    </div>
</main>