<main class="d-flex flex-row">
    <div class="d-flex flex-row">
        <section class="sub-menu">
            <article class="sub-menu-grp">
                <div class="title">
                    <img src="assets/svg/category-icon.svg" alt="category" />
                    <h3>Category</h3>
                </div>
                <div class="category-body ">
                    <button *ngFor="let oCategory of m_asCategoryOptions" (click)="categoriesChanged(oCategory)"
                        [ngClass]="m_aoSelectedCategories.indexOf(oCategory.id) !== -1 ? 'selected' :''">{{oCategory.category}}</button>
                </div>
            </article>
            <article class="sub-menu-grp">
                <div class="title">
                    <img src="assets/svg/developer-icon.svg" alt="developer-icon" />
                    <h3>Developer</h3>
                </div>
                <div class="sub-menu-body">
                    <div class="sub-menu-search">
                        <img src="assets/svg/search-icon.svg" alt="search icon" />
                        <input type="text" placeholder="Find a developer" [(ngModel)]="m_sDeveloperSearch" />
                    </div>
                    <label class="d-flex flex-row align-items-center" for="dev-mail-{{oPublisher.publisher}}"
                        *ngFor="let oPublisher of m_aoPublishers | filter: m_sDeveloperSearch">
                        <input id="dev-mail-{{oPublisher.publisher}}" type="checkbox"
                            (click)="developerChanged(oPublisher)" />
                        <span class="checkmark"></span>
                        <p class="p-0 m-0">{{oPublisher.publisher}}</p>
                        <span class="num">({{oPublisher.appCount}})</span>
                    </label>
                </div>
            </article>

            <article class="sub-menu-grp">
                <div class="title">
                    <img src="assets/svg/rating-icon.svg" alt="rating icon" />
                    <h3>Rating</h3>
                </div>
                <div class="sub-menu-body">
                    <label for="all-ratings">
                        <input id="all-ratings" type="radio" name="rating" (click)="ratingChanged(0)"
                            checked="checked" />
                        <span class="checkmark"></span>
                        <p class="p-0 m-0">All Ratings</p>
                    </label>
                    <label for="star-rating-4">
                        <input id="star-rating-4" type="radio" name="rating" (click)="ratingChanged(4)" />
                        <span class="checkmark"></span>
                        <p class="p-0 m-0">4+</p>
                        <img style="padding-left: 0.3rem" src="assets/svg/yellow-star-icon.svg"
                            alt="yellow-star-icon" />
                        <img src="assets/svg/yellow-star-icon.svg" alt="yellow-star-icon" />
                        <img src="assets/svg/yellow-star-icon.svg" alt="yellow-star-icon" />
                        <img src="assets/svg/yellow-star-icon.svg" alt="yellow-star-icon" />
                        <img src="assets/svg/grey-star-icon.svg" alt="grey-star-icon" />
                    </label>
                    <label for="star-rating-3">
                        <input id="star-rating-3" type="radio" name="rating" (click)="ratingChanged(3)" />
                        <span class="checkmark"></span>
                        <p class="p-0 m-0">3+</p>
                        <img style="padding-left: 0.3rem" src="assets/svg/yellow-star-icon.svg"
                            alt="yellow-star-icon" />
                        <img src="assets/svg/yellow-star-icon.svg" alt="yellow-star-icon" />
                        <img src="assets/svg/yellow-star-icon.svg" alt="yellow-star-icon" />
                        <img src="assets/svg/grey-star-icon.svg" alt="grey-star-icon" />
                        <img src="assets/svg/grey-star-icon.svg" alt="grey-star-icon" />
                    </label>
                    <label for="star-rating-2">
                        <input id="star-rating-2" type="radio" name="rating" (click)="ratingChanged(2)" />
                        <span class="checkmark"></span>
                        <p class="p-0 m-0">2+</p>
                        <img style="padding-left: 0.3rem" src="assets/svg/yellow-star-icon.svg"
                            alt="yellow-star-icon" />
                        <img src="assets/svg/yellow-star-icon.svg" alt="yellow-star-icon" />
                        <img src="assets/svg/grey-star-icon.svg" alt="grey-star-icon" />
                        <img src="assets/svg/grey-star-icon.svg" alt="grey-star-icon" />
                        <img src="assets/svg/grey-star-icon.svg" alt="grey-star-icon" />
                    </label>
                    <label for="star-rating-1">
                        <input id="star-rating-1" type="radio" name="rating" (click)="ratingChanged(1)" />
                        <span class="checkmark"></span>
                        <p class="p-0 m-0">1+</p>
                        <img style="padding-left: 0.3rem" src="assets/svg/yellow-star-icon.svg"
                            alt="yellow-star-icon" />
                        <img src="assets/svg/grey-star-icon.svg" alt="grey-star-icon" />
                        <img src="assets/svg/grey-star-icon.svg" alt="grey-star-icon" />
                        <img src="assets/svg/grey-star-icon.svg" alt="grey-star-icon" />
                        <img src="assets/svg/grey-star-icon.svg" alt="grey-star-icon" />
                    </label>
                </div>
            </article>
            <article class="sub-menu-grp">
                <div class="title">
                    <img src="assets/svg/price-icon.svg" alt="price icon" />
                    <h3>Price</h3>
                </div>
                <!--div class="sub-menu-body">
                    <div class="range">
                        <div class="price-values-display">
                            <p>0</p>
                            <p class="min">70$</p>
                            <p class="max">350$</p>
                            <p>500</p>
                        </div>
                        <!-- the following div is used as input for the JS -->
                <!-- Display: hidden: -->
                <!-- <div class="range-price">
                            <input type="number" name="min" value="300" />
                            <input type="number" name="max" value="700" />
                        </div>
                        <div class="range-slider">
                            <span class="range-selected"></span>
                        </div>
                        <div class="range-input">
                            <input type="range" class="min" min="0" max="1000" value="300" step="10" />
                            <input type="range" class="max" min="0" max="1000" value="700" step="10" />
                        </div>
                    </div>
                </div> -->
            </article>
        </section>
        <!-- Marketplace App Cards -->
        <div class="processor-cards-container d-flex flex-column py-3">
            <div class="col-12 d-flex flex-row flex-wrap justify-content-start px-3 gap-1">
                <app-marketplace-app-card *ngFor="let oProcessor of m_aoApplications"
                    [oProcessor]="oProcessor"></app-marketplace-app-card>
            </div>
            <button [disabled]="m_bLoadMoreEnabled === false" class="btn btn-lg btn-primary align-self-center"
                (click)="loadMore()">Load More</button>
        </div>
    </div>

</main>