.app-cards-container {
	margin: 0 auto;
	padding: 16px;
	max-width: 1280px;
}

.processor-cards-container {
	width: 100%;
}

.wasdi-card {
	min-width: 250px;
	max-width: 400px;
}

/* Class for 4 COLUMNS */
@media (min-width: 1440px) {
	.wasdi-card {
		width: 22% !important;
	}
}

/* Class for 3 Columns */
@media (max-width: 1440px) {
	.wasdi-card {
		width: 33.333% !important;
	}

	.wasdi-card:nth-last-child(-n+2) {
		width: 33.333% !important;
	}
}

/* Class for 2 columns */
@media (max-width: 1024px) {
	.wasdi-card {
		width: 50% !important;
		max-width: 100% !important;
	}
}




div.category-tag>.material-symbols-outlined {
	font-size: 16px;
}

p {
	margin: 0;
	padding: 0;
}