.app-cards-container {
	overflow-y: scroll;
	width: 100%;
}

/* Slider Custom css */
.range-slider {
	height: 5px;
	position: relative;
	background-color: #e1e9f6;
	border-radius: 2px;
}

.range-selected {
	height: 100%;
	left: 30%;
	right: 30%;
	position: absolute;
	border-radius: 5px;
	background-color: #43526b;
}

.range-input {
	position: relative;
}

.range-input input {
	position: absolute;
	width: 100%;
	height: 5px;
	top: -7px;
	background: none;
	pointer-events: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.range-input input::-webkit-slider-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: 3px solid #43526b;
	background-color: #fff;
	pointer-events: auto;
	-webkit-appearance: none;
}

.range-input input::-moz-range-thumb {
	height: 8px;
	width: 8px;
	border-radius: 50%;
	border: 3px solid #43526b;
	background-color: #43526b;
	transform: translateY(2px);
	pointer-events: auto;
	-moz-appearance: none;
}

.range-price {
	margin: 30px 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.range-price label {
	margin-right: 5px;
}

.range-price input {
	width: 40px;
	padding: 5px;
}

.range-price input:first-of-type {
	margin-right: 15px;
}

.price-values-display {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.price-values-display p {
	color: #c3c7cd;
	font-family: "Poppins", sans-serif;
	font-size: 15.756px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.price-values-display .min,
.price-values-display .max {
	color: #212f45;
}

.processor-cards-container {
	gap: 16px;
	padding: 24px;
	max-width: 1440px;
}

@media only screen and (min-width: 1900px) {
	.processor-cards-container {
		margin: 0 auto;
	}
}