input.form-control {
    width: 35px !important;
}

span.material-symbols-outlined {
    cursor: pointer;
}

span.step-btn {
    font-size: 16px;
}

.disabled {
    color: var(--neutral15);
}

 /*Remove the spinner (up/down arrows) in Chrome/Safari *!*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Also for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
