div.nav-container {
	height: 100%;
	position: sticky;
	overflow: hidden;
}

nav {
	background: var(--neutral50Brand);
	border-top-right-radius: 8px;
	height: 100%;
	padding-top: 16px;
	padding-bottom: 24px;
	width: 250px;
}

nav.collapsed {
	width: 64px;
	overflow-x: hidden;
}

div.menu-control {
	background: #FFFFFF;
	z-index: 1000;
}

span.material-symbols-outlined {
	cursor: pointer;
}

.menu-list-container {
	z-index: 1000;
}

.logo-img {
	position: absolute;
	left: 2rem;

	top: 87%;
	width: 95.819px;
	height: 93.926px;
	transform: rotate(-30deg);
	filter: brightness(0) saturate(100%) invert(24%) sepia(8%) saturate(1917%) hue-rotate(179deg) brightness(96%) contrast(91%);
	z-index: 0;
}

.logo-img.open {
	width: 137.754px;
	height: 135.033px;
	transform: rotate(-30deg);

}