<nav>
    <button class="minimize">
        <img src="assets/svg/hide-icon.svg" alt="" />
    </button>
    <menu class="navigation-menu">
        <li>
            <button class="active">
                <img src="assets/svg/apps-icon.svg" alt="icon" />
                Apps
            </button>
        </li>
        <li>
            <button>
                <img
                    src="assets/svg/workplace-icon.svg"
                    alt="apps icon"
                />
                WorkPlaces
                <div class="notification-red"></div>
            </button>
        </li>
        <li>
            <button>
                <img src="assets/svg/plan-icon.svg" alt="icon" />
                Plan
                <div class="notification-green"></div>
            </button>
        </li>
        <li>
            <button>
                <img
                    src="assets/svg/search-fill.svg"
                    alt="apps icon"
                />
                Search
            </button>
        </li>
        <li>
            <button>
                <img src="assets/svg/edit-icon.svg" alt="icon" />
                Edit
            </button>
        </li>
        <li>
            <button>
                <img src="assets/svg/chat-icon.svg" alt="icon" />
                Conversations
            </button>
        </li>
        <li>
            <button>
                <img src="assets/svg/report-icon.svg" alt="icon" />
                Reports
            </button>
        </li>
        <li>
            <button>
                <img src="assets/svg/setting-icon.svg" alt="icon" />
                Settings
            </button>
        </li>
        <li>
            <div class="upgrade-container">
                <div class="upgrade-card">
                    <div>
                        <h2>Upgrade to Pro</h2>
                        <img
                            src="assets/svg/yellow-star-icon.svg"
                            alt="star"
                        />
                    </div>
                    <p>
                        Get 1 Month free and Unlock All Pro Features
                    </p>
                    <a href="#">Get Started</a>
                </div>
            </div>
        </li>
        <li>
            <button>
                <img src="assets/svg/help-book-icon.svg" alt="icon" />
                Help & Information
            </button>
        </li>
        <li>
            <button>
                <img src="assets/svg/alien-icon.svg" alt="icon" />
                Account
            </button>
        </li>
    </menu>
    <p>Project: <span>WASDI</span></p>
</nav>
