<div class="nav-container d-flex flex-row">

    <!-- Open Navbar -->
    <nav class="d-flex flex-column justify-content-between" [class.collapsed]="m_bIsNavbarOpen === false">
        <div class="menu-list-container">
            <button class="menu-list-item" routerLink="/marketplace" [class.open]="m_bIsNavbarOpen === true"
                (click)="setActiveTab('marketplace')" [class.active]="m_sSelectedTab === 'marketplace'"
                attr.aria-label="{{'ROOT_VIEW_NAV_BAR_LINK_APPSTORE' | translate}}">
                <span class="material-symbols-sharp">
                    grid_on
                </span>
                <span [hidden]="!m_bIsNavbarOpen">Marketplace</span>
            </button>
            <button class="menu-list-item" routerLink="/workspaces" [class.open]="m_bIsNavbarOpen === true"
                (click)="setActiveTab('workspaces')" [class.active]="m_sSelectedTab === 'workspaces'"
                attr.aria-label="{{'ROOT_VIEW_NAV_BAR_LINK_WORKSPACES' | translate}}">
                <span class="material-symbols-sharp">
                    workspaces
                </span>
                <span [hidden]="!m_bIsNavbarOpen">{{'ROOT_VIEW_NAV_BAR_LINK_WORKSPACES' | translate}}</span>
            </button>
            <button class="menu-list-item" routerLink="/plan" [class.open]="m_bIsNavbarOpen === true"
                (click)="setActiveTab('plan')" [class.active]="m_sSelectedTab === 'plan'"
                attr.aria-label="{{'ROOT_VIEW_NAV_BAR_LINK_SEARCH' | translate}}">
                <span class="material-symbols-outlined">
                    calendar_month
                </span>
                <span [hidden]="!m_bIsNavbarOpen">Plan</span>
            </button>
            <button class="menu-list-item" routerLink="/search" [class.open]="m_bIsNavbarOpen === true"
                (click)="setActiveTab('search')" [class.active]="m_sSelectedTab === 'search'"
                attr.aria-label="{{'ROOT_VIEW_NAV_BAR_LINK_IMPORT' | translate}}">
                <span class="material-symbols-outlined">
                    search
                </span>
                <span [hidden]="!m_bIsNavbarOpen">{{"ROOT_VIEW_NAV_BAR_LINK_IMPORT" | translate}}</span>
            </button>
            <button class="menu-list-item" routerLink="/edit/{{sActiveWorkspaceId}}"
                [class.open]="m_bIsNavbarOpen === true" (click)="setActiveTab('edit')"
                [class.active]="m_sSelectedTab === 'edit'" [disabled]="m_bEditIsActive === false"
                attr.aria-label="{{'ROOT_VIEW_NAV_BAR_LINK_PROCESS' | translate}}">
                <span class="material-symbols-outlined">
                    edit
                </span>
                <span [hidden]="!m_bIsNavbarOpen">{{'ROOT_VIEW_NAV_BAR_LINK_PROCESS' | translate}}</span>
            </button>
            <button class="menu-list-item" [class.open]="m_bIsNavbarOpen === true" (click)="setActiveTab('settings')"
                [class.active]="m_sSelectedTab === 'settings'">
                <span class="material-symbols-outlined">
                    settings
                </span>
                <span [hidden]="!m_bIsNavbarOpen">Settings</span>
            </button>
        </div>
        <div class="menu-list-container">
            <button class="menu-list-item" [class.open]="m_bIsNavbarOpen === true"
                (click)="openDocs('https://wasdi.readthedocs.io/en/latest/')">
                <span class="material-symbols-sharp">
                    support
                </span>
                <span [hidden]="!m_bIsNavbarOpen">{{"ROOT_VIEW_LINK_HELP" | translate}}</span>
            </button>
        </div>
        <img class="logo-img" [class.open]="m_bIsNavbarOpen" src="/assets/icons/logo-only.svg" alt="">
    </nav>
    <div class="menu-control d-flex flex-column justify-content-center" (click)="openCloseNavbar()">
        <span class="material-symbols-outlined" [hidden]="m_bIsNavbarOpen">
            chevron_right
        </span>
        <span class="material-symbols-outlined" [hidden]="!m_bIsNavbarOpen">
            chevron_left
        </span>
    </div>
</div>


<!-- Feedback Form OffCanvas -->
<div class="offcanvas offcanvas-end" id="feedbackOffcanvas">
    <div class="offcanvas-header d-flex flex-row justify-content-start gap-3 p-0 m-0">
        <button type="button" class="btn btn-secondary close-feedback-btn" data-bs-dismiss="offcanvas"
            aria-label="Close">
            <!-- <fa-icon [icon]="faArrowLeft"></fa-icon> -->
        </button>
        <h5 class="offcanvas-title">Send Feedback to WASDI</h5>
    </div>
    <div class="offcanvas-body">
        <form name="m_oFeedback" #f="ngForm" (ngSubmit)="f.form && sendFeedback()">
            <div class="user-contact-info mb-3">
                <h6>As:</h6>
                <p class="m-0 p-0">{{m_oUser.name}} {{m_oUser.surname}}</p>
                <p class="m-0 p-0">{{m_oUser.userId}}</p>
            </div>
            <label for="">
                <h6>Reason:</h6>
            </label>
            <select class="form-control mb-3" name="title" [(ngModel)]="m_oFeedback.title">
                <option value="" selected disabled hidden>Select a reason</option>
                <option value="I found a bug/problem">I found a bug/problem</option>
                <option value="I need help with something">I need help with something</option>
                <option value="I want to suggest a feature">I want to suggest a feature</option>
            </select>
            <label for="">
                <h6>Tell us more:</h6>
            </label>
            <textarea class="form-control" name="message" cols="30" rows="10"
                [(ngModel)]="m_oFeedback.message"></textarea>
            <div class="btn-container d-flex flex-row gap-2 mt-5 justify-content-end">
                <a class="btn btn-secondary" href="https://discord.gg/JYuNhPaZbE" target="_blank">Live
                    Support</a>
                <button class="btn btn-success" type="submit">Send</button>

            </div>
        </form>
    </div>
</div>