<div class="menu-container">
    <div>
        <div class="menu-header">App User Interface</div>
        <ul>
            <li *ngFor="let oTab of m_aoTabs" [class.active]="m_sActiveTab === oTab.name"
                (click)="setActiveTab(oTab.name)">{{oTab.name}}</li>
            <li [class.active]="m_sActiveTab === 'help'" (click)="setActiveTab('help')">Help</li>
            <li [class.active]="m_sActiveTab === 'history'" (click)="setActiveTab('history')">History</li>
            <li [class.active]="m_sActiveTab === 'json'" (click)="setActiveTab('json')">JSON</li>
        </ul>
    </div>
    <div>
        <div class="menu-header">Run App</div>
        <div class="run-app-container">
            <app-autocomplete [m_sLabel]="'APP_UI_SELECT_WS' | translate" [m_aoInputs]="m_aoWorkspaces"
                (m_oSelectionChange)="getSelectedWorkspace($event)"
                [m_sPlaceholder]="m_oActiveWorkspace.name ? m_oActiveWorkspace.name : 'APP_UI_SEARCH_WS' | translate"></app-autocomplete>
            <app-button *ngIf="m_bIsPurchased" [m_sLabel]="'APP_UI_OPEN_WS' | translate" [m_sSize]="'large'"
                (click)="executeApp()" [m_bDisabled]="!m_oActiveWorkspace.workspaceId"></app-button>
            <app-button *ngIf="!m_bIsPurchased" [m_sLabel]="'APP_UI_PURCHASE' | translate" [m_sIconLeft]="'rocket_launch'"
                [m_sSize]="'large'" (click)="saveAppPurchase()"></app-button>
            <app-button [m_sLabel]="'APP_UI_AUTO_WS' | translate" [m_sSize]="'large'" [m_bMuted]="true"
                [m_sIconLeft]="'add'" (click)="executeApp()"></app-button>
        </div>
    </div>
</div>