<div class="apps-dialog d-flex flex-column" style="height: 100%; width: 100%;">
    <div class="dialog-header d-flex flex-row justify-content-between font-bold">
        Wasdi workflows
        <span class="close-btn material-symbols-outlined" (click)="onDismiss()"> close</span>
    </div>
    <div class="dialog-content flex-fill d-flex flex-row w-100 justify-content-between "
        style="height: 100%; overflow: hidden;">
        <div class="apps-container d-flex flex-column">
            <div class="search-header font-bold d-flex flex-column gap-2 mb-3">
                <div class="d-flex flex-row justify-content-between align-items-center">
                    Search workflows
                    <app-button [m_sLabel]="'New Workflow'" [m_sIconLeft]="'add_box'"
                        (click)="openEditWorkflowDialog()"></app-button>
                </div>
                <app-input-field [m_sPlacehodler]="'Search workflow'" [m_sIconLeft]="'search'"></app-input-field>
            </div>
            <div *ngIf="m_bIsLoadingWorkflow === true">
                <app-invader></app-invader>
            </div>
            <div *ngIf="m_bIsLoadingWorkflow === false"
                class="apps-cards-container d-flex flex-column gap-2 flex-fill pe-1" style="overflow-y:scroll">
                <app-list-item *ngFor="let oWorkflow of m_aoWorkflows| filter: m_sSearchString"
                    [m_oProcessorItem]="oWorkflow " [m_bIsSelected]="oWorkflow .name === m_oSelectedWorkflow.name"
                    [m_bSimpleItem]="true" [m_bProcessorItem]="true" [m_sLabel]="oWorkflow.name"
                    [m_sDescription]="oWorkflow.description" [m_sIcon]="oWorkflow.imgLink"
                    [m_bHasToolbar]="oWorkflow .sharedWithMe === true || m_sUserId === oWorkflow .userId"
                    (m_oEmitClickEvent)="handleListItemClick($event, oWorkflow)"
                    (click)="setSelectedWorkflow(oWorkflow)"></app-list-item>
            </div>
        </div>
        <div class="json-container d-flex flex-column justify-content-between">
            <div class="json-header d-flex flex-column">
                <div class="processor-name font-bold">{{m_oSelectedWorkflow.name ?
                    m_oSelectedWorkflow.name: 'Select A Workflow'}}</div>
                <p *ngIf="m_oSelectedWorkflow.userId">Publisher: {{m_oSelectedWorkflow.userId}}</p>
            </div>
            <div class="flex-fill workflows-product-container">
                <div *ngFor="let oNode of m_oSelectedWorkflow.inputNodeNames">
                    <app-dropdown [m_bIsMultiSelect]="false" [m_aoDropdownItems]="m_aoProducts" [m_bHasSearch]="true"
                        [m_bFileExt]="true" (m_oSelectionChange)="getSingleSelection($event, oNode)"
                        [m_sLabel]="'Read'"></app-dropdown>
                </div>
            </div>
            <div class="footer d-flex flex-row justify-content-end">
                <div class="d-flex flex-row gap-3">
                    <app-button [m_sLabel]="'Run'" [m_sIconLeft]="'play_circle'"
                        [m_bDisabled]="!m_oSelectedWorkflow.name" (click)="runSingleInputWorkflow()"></app-button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="dialog d-flex flex-column justify-content-between">
    

    <div class="dialog-content d-flex flex-row justify-content-between px-4 py-2 gap-3">
        <div class="dialog-col-1">
            <ul class="nav nav-tabs d-flex flex-row justify-content-between">
                <div class="d-flex flex-row">
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="m_sActiveTab === 'execute' ? 'active': ''"
                            (click)="setActiveTab('execute')">
                            Execute
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="m_sActiveTab === 'batch' ? 'active': ''"
                            (click)="setActiveTab('batch')">
                            Batch Processing
                        </a>
                    </li>
                </div>
                <li class="nav-item">
                    <button class="btn btn-success" (click)="openEditWorkflowDialog()">
                        <fa-icon [icon]="faPlus"></fa-icon> New Workflow
                    </button>
                </li>
            </ul>
            <input type="text" class="form-control my-2" placeholder="Filter Workflows by Name"
                [(ngModel)]="m_sFilterString">
            <div class="workflow-cards-container d-flex flex-row flex-wrap justify-content-start gap-1">
                <div class="card d-flex flex-column gap-3 p-2 align-self-start"
                    *ngFor="let oWorkflow of m_aoWorkflows | filter: m_sFilterString"
                    (click)="setSelectedWorkflow(oWorkflow)">
                    <div class="card-toolbar d-flex flex-row justify-content-end" style="height: 30px">
                        <div *ngIf="isWorkflowOwner(oWorkflow) || oWorkflow.sharedWithMe === true">
                            <button class="btn" (click)="downloadWorkflow(oWorkflow)">
                                <fa-icon [icon]="faDownload"></fa-icon>
                            </button>
                            <button class="btn" (click)="openEditWorkflowDialog(oWorkflow)">
                                <fa-icon [icon]="faEdit"></fa-icon>
                            </button>
                            <button class="btn text-danger" (click)="removeWorkflow(oWorkflow)">
                                <fa-icon [icon]="faX"></fa-icon>
                            </button>
                        </div>
                    </div>
                    <div class="cardbody">
                        <h2 class="text-center">
                            <fa-icon [icon]="faLaptop"></fa-icon>
                        </h2>
                        <p class="text-success pb-0 mb-0 title">{{oWorkflow.name}}</p>
                        <p class="style-description pb-0 mb-0">{{oWorkflow.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-container card border border-success rounded-1">
            <div class="px-4 py-4 d-flex flex-column gap-2">
                <h4>{{m_oSelectedWorkflow.name}}</h4>
                <div class="main-style-info d-flex flex-row justify-content-between">

                    <div class="style-description">
                        <span class="text-success">Description:</span>
                        <p>{{m_oSelectedWorkflow.description}}</p>
                    </div>
                    <div>
                        <span class="text-success">Owner:</span>
                        <p>{{m_oSelectedWorkflow.userId}}</p>
                    </div>
                </div>

                <div class="style-xml-container d-flex flex-column gap-1">
                    <div class="d-flex flex-row align-items-center">
                        Show file extension: <mat-checkbox [color]="'success'"
                            [(ngModel)]="m_bShowExtension"></mat-checkbox>
                    </div>
                    <div *ngFor="let oNode of m_oSelectedWorkflow.inputNodeNames">
                        <label class="text-success form-label">Read:</label> -->
<!-- Multi-select for Batch Processing -->
<!-- <mat-select *ngIf="m_sActiveTab === 'batch'" class="form-control"
                            [(ngModel)]="m_aoMultiInputSelectedProducts[oNode]" (selectionChange)="getMultiSelection($event, oNode)" multiple>
                            <input type="text" name="m_sStyle" placeholder="Search Products" class="form-control"
                                [(ngModel)]="m_sSearchString">
                            <mat-option *ngFor="let oProduct of m_aoProducts | filter: m_sSearchString"
                                [value]="oProduct">
                                {{m_bShowExtension ? oProduct.fileName : oProduct.name}}
                            </mat-option>
                        </mat-select> -->
<!-- Single Select for Single Processing -->
<!-- <mat-select *ngIf="m_sActiveTab === 'execute'" class="form-control"
                            [(ngModel)]="m_aoMultiInputSelectedProducts[oNode]" (selectionChange)="getSingleSelection($event, oNode)">
                            <input type="text" name="m_sStyle" placeholder="Search Products" class="form-control"
                                [(ngModel)]="m_sSearchString">
                            <mat-option *ngFor="let oProduct of m_aoProducts | filter:m_sSearchString"
                                [value]="oProduct">
                                {{m_bShowExtension ? oProduct.fileName : oProduct.name}}
                            </mat-option>
                        </mat-select>
                    </div> -->
<!-- <button class="btn btn-success" (click)="runMultiInputWorkflow()">Run</button> -->
<!-- <button *ngIf="m_sActiveTab === 'execute'" class="btn btn-success"
                        (click)="runSingleInputWorkflow()" [disabled]="m_bIsReadOnly === true">Run</button>
                    <button *ngIf="m_sActiveTab === 'batch'" class="btn btn-success" (click)="runMultiInputWorkflow()"
                        [disabled]="m_bIsReadOnly === true">Run</button>
                </div>
            </div>
        </div>
    </div>
</div> -->