<header class="d-flex flex-row justify-content-between ps-4 pe-3">
    <div class="header-logo-container d-flex flex-row align-items-center gap-1">
        <img src="/assets/icons/logo-only.svg" alt="">
        <img src="/assets/icons/logo-name.svg" alt="">
    </div>
    <div class="d-flex flex-row align-items-center gap-3">
        <div class="project-selection-container">
            <div class="dropdown">
                <button class="btn" type="button" id="projectSelectButton" data-bs-toggle="dropdown"
                    aria-expanded="false" aria-haspopup="true">
                    {{m_oSelectedProject ? m_oSelectedProject.name : "Select Project"}}
                    <div class="dropdown-icon material-symbols-outlined">
                        expand_more
                    </div>
                </button>
                <ul class="dropdown-menu" aria-labelledby="projectSelectButton">
                    <li><a class="dropdown-item" (click)="setActiveProject(oProject)"
                            *ngFor="let oProject of m_aoUserProjectsMap">{{oProject.name}}</a></li>
                </ul>
            </div>
        </div>
        <div class="card-divider"></div>
        <div class="dropdown">
            <div class="user-greeting-container d-flex flex-row align-items-center gap-2" data-bs-toggle="dropdown"
                aria-expanded="false" aria-haspopup="true">
                <div class="d-flex flex-column align-items-end">
                    <span class="greeting">Welcome Back</span>
                    <span class="username">{{m_oUser.name}}</span>
                </div>
                <div class="user-icon">
                    <span class="material-symbols-outlined">
                        account_circle
                    </span>
                </div>
            </div>
            <ul class="dropdown-menu">
                <li class=""><a class="dropdown-item" routerLink="/settings"><span class="material-symbols-outlined">
                            settings
                        </span>User Dashboard</a></li>
                <li class=""><a class="dropdown-item" (click)="goToSubscriptions()"><span
                            class="material-symbols-outlined">
                            rocket_launch
                        </span>Subscription</a></li>
                <!-- Open Off Canvas Feedback Form -->
                <li class=""><a class="dropdown-item" data-bs-toggle="offcanvas" href="#feedbackOffcanvas" role="button"
                        aria-controls="feedbackOffcanvas"><span class="material-symbols-outlined">
                            chat
                        </span>Send Feedback</a></li>
                <li class=""><a class="dropdown-item" (click)="openDocs()"><span class="material-symbols-outlined">
                            support
                        </span>
                        <div class="help-btn">Help</div> <span class="material-symbols-outlined align-self-end">
                            open_in_new
                        </span>
                    </a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</header>

<!-- Feedback Form OffCanvas -->
<div class="offcanvas offcanvas-end" id="feedbackOffcanvas">
    <div class="offcanvas-header d-flex flex-row justify-content-start gap-3 p-0 m-0">
        <button type="button" class="btn btn-secondary close-feedback-btn" data-bs-dismiss="offcanvas"
            aria-label="Close">
        </button>
        <h5 class="offcanvas-title">Send Feedback to WASDI</h5>
    </div>
    <div class="offcanvas-body">
        <form name="m_oFeedback" #f="ngForm" (ngSubmit)="f.form && sendFeedback()">
            <div class="user-contact-info mb-3">
                <h6>As:</h6>
                <p class="m-0 p-0">{{m_oUser.name}} {{m_oUser.surname}}</p>
                <p class="m-0 p-0">{{m_oUser.userId}}</p>
            </div>
            <label for="">
                <h6>Reason:</h6>
            </label>
            <select class="form-control mb-3" name="title" [(ngModel)]="m_oFeedback.title">
                <option value="" selected disabled hidden>Select a reason</option>
                <option value="I found a bug/problem">I found a bug/problem</option>
                <option value="I need help with something">I need help with something</option>
                <option value="I want to suggest a feature">I want to suggest a feature</option>
            </select>
            <label for="">
                <h6>Tell us more:</h6>
            </label>
            <textarea class="form-control" name="message" cols="30" rows="10"
                [(ngModel)]="m_oFeedback.message"></textarea>
            <div class="btn-container d-flex flex-row gap-2 mt-5 justify-content-end">
                <a class="btn btn-secondary" href="https://discord.gg/JYuNhPaZbE" target="_blank">Live
                    Support</a>
                <button class="btn btn-success" type="submit">Send</button>

            </div>
        </form>
    </div>
</div>