a.nav-link:link {
    font-weight: bold;
}

a.nav-link:hover {
    background-color: #00903759;
    border: 3px, solid, #009036;
    border-radius: 4px;
}

.brand-logo {
    width: 48px;
}

.navbar {
    background-image: linear-gradient(180deg, #43516a8d, lightgray);
}

input.new-workspace-name {
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid black;
}

.offcanvas {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    height: 80vh;
}

.offcanvas.offcanvas-end {
    top: auto !important;
}

button.close-feedback-btn {
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}