<nav class="navbar navbar-expand-lg">
    <div class="container-fluid ">
        <div class="d-flex align-items-center">
            <a class="navbar-brand" href="#">
                <img class="brand-logo" src="assets/images/wasdi_logo_header.png" alt="">
            </a>
            <input class="form-control new-workspace-name" type="text" *ngIf="m_bEditIsActive=== true"
                value="{{m_oActiveWorkspace.name}}">
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto-sm ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/marketplace"><fa-icon [icon]="faSpaceShip"></fa-icon>
                        {{'ROOT_VIEW_NAV_BAR_LINK_APPSTORE' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/workspaces"><fa-icon [icon]="faFloppyDisk"></fa-icon>
                        {{'ROOT_VIEW_NAV_BAR_LINK_WORKSPACES' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/plan"><fa-icon [icon]="faCalendar"></fa-icon> {{'ROOT_VIEW_NAV_BAR_LINK_SEARCH' |
                        translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/search"><fa-icon [icon]="faMagnifyingGlass"></fa-icon>
                        {{'ROOT_VIEW_NAV_BAR_LINK_IMPORT' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'disabled' : !sActiveWorkspaceId}"
                        routerLink="/edit/{{sActiveWorkspaceId}}"><fa-icon [icon]="faGlobe"></fa-icon>
                        {{'ROOT_VIEW_NAV_BAR_LINK_PROCESS' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a *ngIf="m_oUser.role !== 'USER'" class="nav-link" routerLink="/admin"><fa-icon
                            [icon]="faGears"></fa-icon> {{'ROOT_VIEW_NAV_BAR_LINK_ADMIN' |
                        translate}}</a>

                </li>

                <li class="nav-item dropdown-center">
                    <a href="" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Project:
                        {{m_oSelectedProject.name}}</a>
                    <ul class="dropdown-menu">
                        <li style="cursor:pointer;" class="dropdown-item" *ngFor="let oProject of m_aoUserProjectsMap"
                            (click)="setActiveProject(oProject)">
                            {{oProject.name}}</li>
                    </ul>
                </li>
                <!-- Account Type: -->
                <li class="nav-item">
                    <!-- User with brand new WASDI Account -->
                    <a class="nav-link" routerLink="/subscriptions" href=""
                        *ngIf="m_sUserAccount !== 'FREE' && m_sUserAccount !== 'PROFESSIONAL' && m_sUserAccount !==  'STANDARD'">PURCHASE
                        SUBSCRIPTION</a>
                    <a class="nav-link" routerLink="/subscriptions" role="button" data-bs-toggle="dropdown" href=""
                        *ngIf="m_sUserAccount === 'FREE'">FREE</a>
                    <a class="nav-link" routerLink="/subscriptions" role="button" data-bs-toggle="dropdown" href=""
                        *ngIf="m_sUserAccount === 'PROFESSIONAL'"><fa-icon [icon]="faStar"></fa-icon> PRO</a>
                    <a class="nav-link" routerLink="/subscriptions" role="button" data-bs-toggle="dropdown" href=""
                        *ngIf="m_sUserAccount === 'STANDARD'"><fa-icon [icon]="faCertificate"></fa-icon> STND</a>
                </li>
                <app-language-switch></app-language-switch>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                        <fa-icon [icon]="faUser"></fa-icon>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a href="" class="dropdown-item" (click)="openUserSettings($event)"><fa-icon
                                    [icon]="faGauge"></fa-icon> User Dashboard</a></li>
                        <li><a href="" class="dropdown-item"><fa-icon [icon]="faDocumentation"></fa-icon>
                                Documentation</a></li>
                        <li><a href="" class="dropdown-item" data-bs-toggle="offcanvas"
                                data-bs-target="#feedbackOffcanvas" aria-controls="feedbackOffcanvas"><fa-icon
                                    [icon]="faComment"></fa-icon> Send
                                Feedback</a></li>
                        <a class="dropdown-item" routerLink="" (click)="logout()"><fa-icon [icon]="faLogout"></fa-icon>
                            Logout</a>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>



<!-- Feedback Form OffCanvas -->
<div class="offcanvas offcanvas-end" id="feedbackOffcanvas">
    <div class="offcanvas-header d-flex flex-row justify-content-start gap-3 p-0 m-0">
        <button type="button" class="btn btn-secondary close-feedback-btn" data-bs-dismiss="offcanvas"
            aria-label="Close">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
        </button>
        <h5 class="offcanvas-title">Send Feedback to WASDI</h5>
    </div>
    <div class="offcanvas-body">
        <form name="m_oFeedback" #f="ngForm" (ngSubmit)="f.form && sendFeedback()">
            <div class="user-contact-info mb-3">
                <h6>As:</h6>
                <p class="m-0 p-0">{{m_oUser.name}} {{m_oUser.surname}}</p>
                <p class="m-0 p-0">{{m_oUser.userId}}</p>
            </div>
            <label for="">
                <h6>Reason:</h6>
            </label>
            <select class="form-control mb-3" name="title" id="" [(ngModel)]="m_oFeedback.title">
                <option value="" selected disabled hidden>Select a reason</option>
                <option value="I found a bug/problem">I found a bug/problem</option>
                <option value="I need help with something">I need help with something</option>
                <option value="I want to suggest a feature">I want to suggest a feature</option>
            </select>
            <label for="">
                <h6>Tell us more:</h6>
            </label>
            <textarea class="form-control" name="message" id="" cols="30" rows="10"
                [(ngModel)]="m_oFeedback.message"></textarea>
            <div class="btn-container d-flex flex-row gap-2 mt-5 justify-content-end">
                <a class="btn btn-secondary" href="https://discord.gg/JYuNhPaZbE" target="_blank">Live
                    Support</a>
                <button class="btn btn-success" type="submit">Send</button>

            </div>
        </form>
    </div>
</div>