<div class="dialog-content d-flex flex-row w-100 h-100  gap-3">
    <div class="templates-container flex-fill d-flex flex-column gap-2">
        <div class="d-flex flex-row justify-content-between align-items-center">
            <div class="primary-header font-bold align-items-center d-flex flex-row gap-3">
                <app-button [m_sLabel]="'Back'" [m_sIconLeft]="'arrow_back'" [m_bOutline]="true" [m_sSize]="'small'"
                    (click)="onDismiss()"></app-button>
                Parameters list
            </div>
            <div>
                <app-button [m_sLabel]="'New template'" (click)=" addProcessorParams()"></app-button>
            </div>
        </div>
        <div class="">
            <div class="secondary-header font-bold">Selected app</div>
            {{m_oSelectedProcessor.processorName}}
        </div>
        <div class="align-self-stretch">
            <div>Search by parameters name</div>
            <app-input-field [m_sPlacehodler]="'Search parameters'" [m_sIconLeft]="'search'"
                (m_oInputChange)="getInputValues('search', $event)"></app-input-field>
        </div>
        <div class="flex-fill table-wrapper">
            <table>
                <thead class="table-heading-container">
                    <tr>
                        <td>Parameter name</td>
                        <td>Publisher</td>
                        <td>Last Updated</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr (click)="viewProcessorParams(oParameter)" class="table-row"
                        *ngFor="let oParameter of m_aoParametersTemplateList | filter: m_sSearchString"
                        [class.selected]="oParameter.selected">
                        <td>{{oParameter.name}}</td>
                        <td>{{oParameter.userId}}</td>
                        <td>{{oParameter.updateDate | date: 'dd/MM/yyyy'}}</td>
                        <td class="d-flex flex-row justify-content-end gap-1">
                            <span *ngIf="isOwner(oParameter) || oParameter.readOnly === false"
                                class="material-symbols-outlined" (click)="showShareForm()">
                                share
                            </span>
                            <span (click)="applyProcessorParams(oParameter.templateId)" class="material-symbols-outlined">
                                play_circle
                            </span>
                            <span (click)="deleteProcessorParams(oParameter)" *ngIf="isOwner(oParameter)"
                                class="material-symbols-outlined">
                                delete
                            </span>
                            <span (click)="deleteProcessorParams(oParameter)" *ngIf="!isOwner(oParameter)"
                                class="material-symbols-outlined">
                                logout
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div [class.hidden]="!m_bShowJsonForm" class="json-container d-flex flex-column h-100 gap-3">
        <div class="json-header d-flex flex-column gap-3">
            <app-input-field [m_sLabel]="'Template name'" [m_sInputValue]="m_oSelectedTemplate.name"
                [m_bIsDisabled]="m_oSelectedTemplate.readOnly === true"
                [m_bIsReadonly]="m_oSelectedTemplate.readOnly === true"
                (m_oInputChange)="getInputValues('name', $event)"></app-input-field>
            <div class="textarea-wrapper">
                <app-textarea [m_sLabel]="'Description'" [m_bIsDisabled]="m_oSelectedTemplate.readOnly === true"
                    [m_bIsReadonly]="m_oSelectedTemplate.readOnly === true"
                    [m_sInputString]="m_oSelectedTemplate.description"
                    (keyup)="getInputValues('description', $event)"></app-textarea>
            </div>
        </div>
        <div class="json-body flex-fill d-flex flex-column">
            <div class="secondary-header font-bold pb-2">Parameters</div>
            <div class="flex-fill">
                <div #editor class="json-editor" style="height: 100%;" (keyup)="getJSONInput($event)"></div>
            </div>
        </div>
        <div class="footer d-flex flex-row justify-content-between gap-2">
            <app-button [m_sLabel]="'Cancel'" *ngIf="m_bShowCreateForm" [m_bOutline]="true"
                (click)="viewProcessorParams(this.m_aoParametersTemplateList[0])"></app-button>
            <div class="d-flex flex-fill flex-row justify-content-end gap-2">
                <app-button *ngIf="m_oSelectedTemplate.readOnly === false || m_bShowCreateForm" [m_sLabel]="'Save'"
                    (click)="saveProcessorParam()"></app-button>
                <app-button [m_sLabel]="'Apply'"
                    (click)="applyProcessorParams(this.m_oSelectedTemplate.templateId)"></app-button>
            </div>
        </div>
    </div>
    <div *ngIf="m_bShowShareForm" class="json-container d-flex flex-column flex-fill ms-2">
        <div class="json-header font-bold mb-2">Share workflow with WASDI user</div>
        <div class="share-container">
            <app-share-ui [resource]="m_oSelectedTemplate" [resourceType]="'workflow'"></app-share-ui>
        </div>
    </div>
</div>