.primary-header {
    font-size: 20px;
    line-height: 30px;
}

.secondary-header {
    font-size: 14px;
    line-height: 21px;
    color: var(--neutral95);
}

div.table-wrapper {
    height: 70%;
    overflow-y: auto;
    display: inline-block;
    width: 100%;
    margin: auto;
}

td {
    padding: 6px 12px 6px 8px;
}


table {
    width: 100%;
    margin: auto;
}

.table-heading-container {
    background-color: #FFFFFF;
    box-shadow: inset 0px -1px #D1D5DB;
    position: sticky;
    top: 0;
    z-index: 1;
    font-weight: 700;
}

td>span.material-symbols-outlined {
    color: var(--wasdiGreen);
    cursor: pointer;
    font-size: 20px;
}

.table-row>td {
    font-size: 14px;
    line-height: 24px;
}

.table-row {
    cursor: pointer;
}

.table-row:hover {
    background: var(--neutral5);
}

.table-row.selected {
    background: var(--wasdiGreenLight);
}

.textarea-wrapper {
    height: 6rem;
}

.json-body {
    height: 50%;
}

.hidden {
    display: none !important;
}

.share-container {
    padding: 0px 32px;
}