<div class="bottom-sheet-container d-flex flex-column" style="height: 100%;">
    <app-processes-bar></app-processes-bar>
    <div class="processes-filter d-flex flex-row align-items-center justify-content-between gap-3 mx-3 p-2">
        <div class="flex-fill d-flex flex-row gap-3 justify-content-stretch" style="max-width: 70%;">
            <app-input-field class="flex-fill" [m_sLabel]="'Status'"></app-input-field>
            <app-input-field class="flex-fill" [m_sLabel]="'Operation Type'"></app-input-field>
            <app-input-field class="flex-fill" [m_sLabel]="'Name'"></app-input-field>
        </div>
        <div class="d-flex flex-row gap-2 align-self-end">

            <div class="button-container align-self-end d-flex gap-2 flex-row">
                <app-button [m_sLabel]="'Apply filter'"></app-button>
                <app-button [m_sLabel]="'Clear'" [m_bMuted]="true"></app-button>
            </div>
            <app-button class="" [m_sLabel]="'Download log'" [m_bOutline]="true"></app-button>
        </div>
    </div>
    <app-logs-table class="flex-fill" [m_aoTableData]="m_aoAllProcessesLogs"></app-logs-table>
</div>