<div class="bottom-sheet-container d-flex flex-column" style="height: 95vh">
    <app-processes-bar [m_bIsOpen]="true"></app-processes-bar>
    <div class="processes-filter d-flex flex-row align-items-center justify-content-between gap-3 mx-3 p-2">
        <div class="flex-fill d-flex flex-row gap-3 justify-content-between align-self-end" style="width: 70%;">
            <app-dropdown class="flex-fill" style="width: 33%" [m_sLabel]="'Status'" [m_sPlaceholder]="'Select Status'"
                [m_aoSelectedItems]="m_oSelectedStatus" [m_aoDropdownItems]="m_aoProcessStatuses"
                (m_oSelectionChange)="catchFilterChange($event, 'status')"></app-dropdown>
            <app-dropdown class="flex-fill" style="width: 33%" [m_sLabel]="'Operation Type'"
                [m_aoSelectedItems]="m_oSelectedType" [m_sPlaceholder]="'Select Operation'"
                [m_aoDropdownItems]="m_aoProcessTypes"
                (m_oSelectionChange)="catchFilterChange($event, 'type')"></app-dropdown>
            <app-input-field style="padding-bottom: 2px" class="flex-fill" style="width: 33%" [m_sLabel]="'Name'"
                [m_sInputValue]="m_oFilter.sName" [m_sPlacehodler]="'Search by name'"
                (m_oInputChange)="catchFilterChange($event, 'name')"></app-input-field>

        </div>
        <div class="d-flex flex-row gap-2 align-self-end">

            <div class="button-container align-self-end d-flex gap-2 flex-row">
                <app-button [m_sLabel]="'Apply filter'" (click)="applyFilters()"></app-button>
                <app-button [m_sLabel]="'Clear'" [m_bMuted]="true" (click)="clearFilters()"></app-button>
            </div>
            <app-button class="" [m_sLabel]="'Download log'" [m_bOutline]="true"
                (click)="downloadProcessesFile()"></app-button>
        </div>
    </div>
    <div class="table-wrapper flex-fill d-flex flex-column pb-3">
        <table>
            <thead class="table-heading-container">
                <tr>
                    <th>Status</th>
                    <th>Operation</th>
                    <th>Name</th>
                    <th>Started</th>
                    <th>Progress</th>
                    <th>Duration</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let oProcessLog of m_aoAllProcessesLogs">
                    <td>
                        <app-table-cell [m_sLabel]="oProcessLog.status" [m_bIsTag]="true"></app-table-cell>
                    </td>
                    <td>
                        <app-table-cell [m_sLabel]="oProcessLog.operationType"></app-table-cell>
                    </td>
                    <td>{{oProcessLog.productName}}</td>
                    <td>
                        {{oProcessLog.operationStartDate}}
                    </td>
                    <td>
                        <app-progress-bar [m_iProgressPerc]="oProcessLog.progressPerc"></app-progress-bar>
                    </td>

                    <td>
                        {{oProcessLog | duration}}
                    </td>
                    <td class="d-flex flex-row">
                        <span class="material-symbols-outlined" matTooltip="Logs" (click)="openLogsDialog(oProcessLog)">
                            subtitles
                        </span>
                        <span class="material-symbols-outlined" matTooltip="Payload" *ngIf="oProcessLog.payload"
                            (click)="openPayloadDialog(oProcessLog)">
                            data_object
                        </span>
                        <span class="cancel-icon material-symbols-outlined" matTooltip="Delete"
                            *ngIf="oProcessLog.status === 'RUNNING'" (click)="deleteProcess(oProcessLog)">
                            cancel
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <app-button class="justify-self-center align-self-center" *ngIf="m_bIsLoadMoreBtnClickable"
            [m_sLabel]="'Load more'" (click)="getAllProcessesLogs()"></app-button>
    </div>
</div>