<div class="bottom-sheet-container d-flex flex-column" style="height: 95vh">
    <app-processes-bar #processBar [m_bIsOpen]="true"></app-processes-bar>
    <div class="processes-filter d-flex flex-row align-items-center justify-content-between gap-3 mx-3 p-2">
        <div class="flex-fill d-flex flex-row gap-3 justify-content-between align-self-end" style="width: 70%;">
            <app-dropdown class="flex-fill" style="width: 33%" [m_sLabel]="'DIALOG_LOGS_STATUS' | translate"
                [m_sPlaceholder]="'DIALOG_LOGS_STATUS_PLACEHOLDER' | translate" [m_aoSelectedItems]="m_oSelectedStatus"
                [m_aoDropdownItems]="m_aoProcessStatuses"
                (m_oSelectionChange)="catchFilterChange($event, 'status')"></app-dropdown>
            <app-dropdown class="flex-fill" style="width: 33%" [m_sLabel]="'DIALOG_LOGS_OPERATION_TYPE' | translate"
                [m_aoSelectedItems]="m_oSelectedType" [m_sPlaceholder]="'DIALOG_LOGS_OPERATION_SELECT'| translate "
                [m_aoDropdownItems]="m_aoProcessTypes"
                (m_oSelectionChange)="catchFilterChange($event, 'type')"></app-dropdown>
            <app-input-field style="padding-bottom: 2px" class="flex-fill" style="width: 33%"
                [m_sLabel]="'DIALOG_LOGS_NAME' | translate" [m_sInputValue]="m_oFilter.sName"
                [m_sPlaceholder]="'DIALOG_LOGS_SEARCH_NAME'| translate"
                (m_oInputChange)="catchFilterChange($event, 'name')"></app-input-field>

        </div>
        <div class="d-flex flex-row gap-2 align-self-end">

            <div class="button-container align-self-end d-flex gap-2 flex-row">
                <app-button [m_sLabel]="'EDITOR_PRODUCTS_FILTER_APPLY' | translate"
                    (click)="applyFilters()"></app-button>
                <app-button [m_sLabel]="'IMPORT_CLEAR_BUTTON' | translate" [m_bMuted]="true"
                    (click)="clearFilters()"></app-button>
            </div>
            <app-button class="" [m_sLabel]="'DIALOG_LOGS_DOWNLOAD' | translate" [m_bOutline]="true"
                (click)="downloadProcessesFile()"></app-button>
        </div>
    </div>
    <div class="table-wrapper flex-fill pb-3">
        <table>
            <thead class="table-heading-container">
                <tr>
                    <th>{{"DIALOG_LOGS_STATUS" | translate}}</th>
                    <th>{{"DIALOG_LOGS_OPERATION" | translate}}</th>
                    <th>{{"DIALOG_LOGS_NAME" | translate}}</th>
                    <th>{{"DIALOG_LOGS_STARTED" | translate}}</th>
                    <th>{{"DIALOG_LOGS_PROGRESS" | translate}}</th>
                    <th>{{"DIALOG_LOGS_DURATION" | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let oProcessLog of m_aoAllProcessesLogs">
                    <td>
                        <app-table-cell [m_sLabel]="oProcessLog.status" [m_bIsTag]="true"></app-table-cell>
                    </td>
                    <td>
                        <app-table-cell [m_sLabel]="oProcessLog.operationType"></app-table-cell>
                    </td>
                    <td>{{oProcessLog.productName}}</td>
                    <td>
                        {{oProcessLog.operationStartDate}}
                    </td>
                    <td>
                        <app-progress-bar [m_iProgressPerc]="oProcessLog.progressPerc"></app-progress-bar>
                    </td>

                    <td>
                        {{getDuration(oProcessLog)}}
                    </td>
                    <td class="d-flex flex-row">
                        <span class="material-symbols-outlined" matTooltip="{{'PROCESSING_BAR_LOGS'| translate}}"
                            (click)="openLogsDialog(oProcessLog)">
                            subtitles
                        </span>
                        <span class="material-symbols-outlined" matTooltip="{{'PROCESSING_BAR_PAYLOAD' | translate}}"
                            *ngIf="oProcessLog.payload" (click)="openPayloadDialog(oProcessLog)">
                            data_object
                        </span>
                        <span class="material-symbols-outlined" style="cursor: default; color: gray;"
                            matTooltip="{{'PROCESSING_BAR_PAYLOAD' | translate}}" *ngIf="!oProcessLog.payload">
                            data_object
                        </span>
                        <span class="cancel-icon material-symbols-outlined" matTooltip="{{'WAP_DELETE' | translate}}"
                            *ngIf="showKillButton(oProcessLog)" (click)="deleteProcess(oProcessLog)">
                            cancel
                        </span>
                        <span class="cancel-icon material-symbols-outlined"
                            style="cursor: default !important; color: gray !important;" matTooltip="{{'WAP_DELETE' |
                            translate}}" *ngIf="!showKillButton(oProcessLog)">
                            cancel
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex flex-row justify-content-center w-100 my-2">
            <app-button *ngIf="m_bIsLoadMoreBtnClickable" [m_sLabel]="'KEY_PHRASES.LOAD_MORE' | translate"
                (click)="getAllProcessesLogs()"></app-button>
        </div>
    </div>
</div>