<div class="d-flex flex-column justify-content-between px-5">
    <div class="preference-container">
        <mat-checkbox color="success">New Content Annoucements</mat-checkbox>
        <p class="text-secondary mx-4">Stay up to date on new content (e.g., features or promising processors) in WASDI.</p>
    </div>
    <div class="preference-container">
        <mat-checkbox color="success">Beta Testing Invitations</mat-checkbox>
        <p class="text-secondary mx-4">Be invited to participate as a beta tester for new WASDI features and give
            feedback.</p>
    </div>
    <div class="preference-container">
        <mat-checkbox color="success">Special Promotions and Events</mat-checkbox>
        <p class="text-secondary mx-4">Be notified of special promotions or events (in-person or online).</p>
    </div>
    <div class="preference-container">
        <mat-checkbox color="success">Progress Updates</mat-checkbox>
        <p class="text-secondary mx-4">Be notified of progress on bugs or new features in WASDI.</p>
    </div>
    <div class="preference-container">
        <mat-checkbox color="success">Outage Reminders</mat-checkbox>
        <p class="text-secondary mx-4">Be reminded of planned outages.</p>
    </div>
    <button class="btn btn-lg btn-success align-self-end">Update Email Preferences</button>
</div>