<div class="secondary-nav">
    <div class="location-header">Search Results</div>
    <app-button [m_sLabel]="'Back to Search'" [m_bOutline]="true" [m_sSize]="'small'" [m_sIconLeft]="'arrow_back'"
        class="align-self-start" (click)="navigateBackToFilters()"></app-button>
    <div class="d-flex flex-row justify-content-between">
        <!-- <app-button class="align-self-start" [m_sLabel]="'Select All'" [m_bOutline]="true"
            (click)="selectAllProducts()"></app-button> -->
        <app-button [m_sLabel]="'Add to Workspace'" [m_bOutline]="true" (click)="openAddToWorkspaceDialog()"
            *ngIf="m_aoSelectedProducts.length > 0"></app-button>
    </div>
    <div class="results-container">
        <div *ngFor="let oProvider of m_aoProvidersList">
            <div class="mb-1 d-flex flex-column">
                <app-list-item [m_bParentItem]="true" [m_sLabel]="oProvider.name"
                    [m_sDescription]="oProvider.totalOfProducts"
                    [m_bParentIsOpen]="m_oActiveProvider.name === oProvider.name"
                    (click)="setActiveProvider(oProvider)"></app-list-item>
                <!-- If there are no products -->
                <div class="ps-1" *ngIf="m_oActiveProvider.name === oProvider.name && oProvider.totalOfProducts <= 0">
                    Could not find any products.
                </div>

                <div class="d-flex flex-column gap-1 px-1"
                    *ngIf="m_oActiveProvider.name === oProvider.name && oProvider.totalOfProducts > 0">
                    <app-paginator (m_oClickEmitter)="handlePagination($event, oProvider.name)"
                        [m_bFullPaginator]="false" [m_iTotalItems]="oProvider.totalOfProducts"
                        (m_iItemsPerPageChange)="changeNumberOfProductsPerPage($event)"></app-paginator>
                    <app-list-item *ngFor="let oProduct of m_aoProductsList" [m_bProductItem]="true" class="my-1"
                        [m_oProductListItem]="oProduct" [m_bIsSelected]="oProduct.selected"
                        [m_oInfoCallbackFn]="openProductInfoDialog" [m_oZoomCallbackFn]="zoomToProduct"
                        [m_oAddCallbackFn]="sendSingleProductToWorkspace"
                        (mouseover)="changeRectangleStyleMouseOver(oProduct.rectangle)"
                        (mouseleave)="changeRectangleStyleMouseLeave(oProduct.rectangle)"
                        (click)="addProductSelectedProducts(oProduct)"></app-list-item>
                </div>
            </div>
        </div>
    </div>
</div>