.secondary-nav {
    width: 400px;
    padding-right: 24px;
    overflow-x: hidden;
}

a.nav-link {
    cursor: pointer;
}

.results-container {
    height: 70%;
    overflow-y: scroll;
}

.page-link {
    color: var(--neutral70);
    cursor: pointer;
    font-weight: 400;
}