export const environment = {
    production          : true,
    authUrl             : '{{ aoWasdiClientConfiguration['authUrl'] }}',
    baseurl             : '{{ aoWasdiClientConfiguration['baseUrl'] }}',
    keycloakJs          : '{{ aoWasdiClientConfiguration['keycloakJs'] }}',
    url                 : '{{ aoWasdiClientConfiguration['url'] }}',
    webstompUrl         : '{{ aoWasdiClientConfiguration['webstompUrl'] }}',
    wmsUrl              : '{{ aoWasdiClientConfiguration['wmsUrl'] }}'
}
