export const environment = {
    authUrl             : '{{ aoWasdiClientConfiguration['authUrl'] }}',
    baseurl             : '{{ aoWasdiClientConfiguration['baseUrl'] }}',
    CESIUM_BASE_URL     : '{{ aoWasdiClientConfiguration['cesiumBaseUrl'] }}',
    cesiumToken         : '{{ aoWasdiClientConfiguration['cesiumToken'] }}',
    keycloakJs          : '{{ aoWasdiClientConfiguration['keycloakJs'] }}',
    url                 : '{{ aoWasdiClientConfiguration['url'] }}',
    webstompUrl         : '{{ aoWasdiClientConfiguration['webstompUrl'] }}',
    wmsUrl              : '{{ aoWasdiClientConfiguration['wmsUrl'] }}'
}
