export const secrets = {
    GOOGLE_ID       : '{{ aoWasdiClientConfiguration['googleId'] }}',
    RABBIT_USER     : '{{ aoWasdiClientConfiguration['rabbitUser'] }}',
    RABBIT_PASSWORD : '{{ aoWasdiClientConfiguration['rabbitPassword'] }}'
}
