div.products-container {
  height: 35vh;
  overflow: scroll;

}

h3.products-header {

  z-index: 1;
}

.tree-btn {
  border: 0;
  padding: 0;
}

.tree-invisible {
  display: none;
}

.tree-nested-node {
  padding-left: 1rem;
}


.mat-tree-node {
  background-color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
}

span.product-name {
  display: block;
  white-space: nowrap;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.tree-container {
  border-bottom: 0;
}