<div class="product-tree-container" style="height: 100%;">
    <!-- Product Tree Header -->
    <h3 class="products-header bg-secondary text-light sticky">{{'EDITOR_TITLE_PANEL_PRODUCTS' | translate}}</h3>
    <!-- Product Tree Scrollable content -->
    <div class="products-container d-flex flex-column" style="height:83%">
        <!-- Buttons to import/search for products if there is no product -->
        <div *ngIf="!m_aoWorkspaceProductsList || m_aoWorkspaceProductsList.length === 0">
            <p>{{'EDITOR_WIZARDS_HOW_TO_ADD_NEW_PRODUCT' | translate}}</p>
            <div class="d-flex flex-row justify-content-around" style="width:50%">
                <button class="btn btn-lg btn-primary" (click)="navigateToSearchPage()">
                    <fa-icon [icon]="faSearch"></fa-icon>
                    Search
                </button>
                <button class="btn btn-lg btn-primary" (click)="openImportDialog()">
                    <fa-icon [icon]="faPlus"></fa-icon>
                    Import
                </button>
            </div>
        </div>
        <ul *ngIf="m_oProductArrayOutput" class="list-group list-group-flush">
            <li *ngFor="let oProduct of m_aoWorkspaceProductsList; let iIndex = index"
                class="list-group-item p-2 d-flex flex-column" style="cursor: pointer;">
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div class="d-flex flex-row align-items-center gap-2">

                        <fa-icon [icon]="faPlusCircle" data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#collapseExample' + iIndex" aria-expanded="false"
                            aria-controls="collapseExample"
                            [ngClass]="oProduct.bandsGroups.bands ? 'text-primary' : 'text-secondary'"></fa-icon>

                        <input class="form-check-input me-1" type="checkbox" value="">
                        <span class="product-name">{{oProduct.name}}</span>
                    </div>

                    <div class="d-flex flex-row gap-2 mr-2" *ngIf="oProduct.bandsGroups">
                        <button class="tree-btn btn" matTooltip="{{'MENU_METADATA'| translate}}"
                            (click)="readMetadata(oProduct.fileName)">
                            <fa-icon [icon]="faBox"></fa-icon>
                        </button>
                        <button class="tree-btn btn" matTooltip="{{'MENU_DOWNLOAD' | translate}}">
                            <fa-icon [icon]="faDownload" (click)="downloadProduct(oProduct)"></fa-icon>
                        </button>
                        <button class="tree-btn btn" matTooltip="{{'MENU_SEND_FTP' | translate}}" (click)="openSendToFTP(oProduct)">
                            <fa-icon [icon]="faShare" title="Share Product"></fa-icon>
                        </button>
                        <button class="tree-btn btn" matTooltip="{{'EDIT.PRODUCTS_TREE_INFO' | translate}}">
                            <fa-icon [icon]="faInfoCircle" title="Properties"
                                (click)="openProductProperties($event, oProduct)"></fa-icon>
                        </button>
                        <button class="tree-btn btn" matTooltip="{{'EDIT.PRODUCTS_TREE_DELETE' | translate}}">
                            <fa-icon [icon]="faTrash" title="Delete Product"
                                (click)="deleteProduct(oProduct)"></fa-icon>
                        </button>
                    </div>
                </div>
                <div class="collapse" id="{{'collapseExample' + iIndex}}">
                    <ul class="list-group list-group-flush ps-4">
                        <li *ngFor="let oBand of oProduct.bandsGroups.bands" class="d-flex flex-row gap-2">
                            <div>
                                <fa-icon class="btn text-secondary" *ngIf="m_aoVisibleBands.indexOf(oBand) === -1"
                                    [icon]="faCircleX" (click)="setBandImage(oBand, iIndex)"></fa-icon>
                                <fa-icon class="btn text-success" *ngIf="m_aoVisibleBands.indexOf(oBand) !== -1"
                                    (click)="setBandImage(oBand, iIndex)" [icon]="faCircleCheck"></fa-icon>
                                {{oBand.name}}
                            </div>

                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>