div.products-tree-container {
  padding: 8px 0px 0px 0px;
}

.products-container {
  overflow-y: scroll;
}

h3 {
  color: var(--neutral60);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
}

input {
  width: 100%;
  margin-bottom: 1rem;
}