.format-selection-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.format-option {
  width: 80px;
  height: 80px;
  border: 2px solid  #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /*background-color: var(--wasdiBluelight, #f8f8f8);*/

  &:hover {
    border-color: var(--wasdiGreen10);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &.active {
    border-color: var(--wasdiGreen, #28a745);
    background-color: var(--wasdiGreen10, #e6ffe6);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .format-icon {
    font-size: 2em;
    color: var(--neutral50Brand);
    margin-bottom: 5px;
  }

  .format-label {
    font-weight: bold;
    color: var(--neutral50Brand);
  }
}
