.format-selection-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.format-option {
  width: 80px;
  height: 120px;
  border: 2px solid  #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /*background-color: var(--wasdiBluelight, #f8f8f8);*/

  &:hover {
    border-color: var(--wasdiGreen10);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &.active {
    border-color: var(--wasdiGreen, #28a745);
    background-color: var(--wasdiGreen10, #e6ffe6);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .format-icon {
    font-size: 2em;
    color: var(--neutral50Brand);
    margin-bottom: 5px;
  }

  .format-label {
    font-weight: bold;
    color: var(--neutral50Brand);
  }
}
.toggle-switch {
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-switch::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle-switch.active {
  background-color: #0c303c; /* A color from your theme */
}

.toggle-switch.active::after {
  transform: translateX(20px);
}

.format-group {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid var(--wasdiGreen);
  border-radius: 8px;

}
