div.wasdi-card {
    align-items: flex-start;
    background: #FFFFFF;
    border: 1px solid #D9DCE1;
    border-radius: 8px;
    color: #000000;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 11px;
    height: 400px;
    padding: 16px;
    position: relative;
    width: 300px;
}

img.card-img {
    height: 155px;
    object-fit: cover;
}

div.app-title {
    font-size: 16px;
    font-weight: 700;
}

div.app-description {
    color: #283140;
    font-size: 14px;
    height: 55px;
    overflow: hidden;
}

span.app-total-votes {
    color: #000;
    font-size: 12.753px;
}

div.card-divider {
    align-self: stretch;
    background-color: #D9DCE1;
    height: 1px;
}

div.app-publisher {
    font-size: 12.753px;
}

span.publisher-name {
    color: #009036;
    font-size: 12.753px;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

div.card-price {
    position: absolute;
    display: flex;
    padding: 1px 8px;
    align-items: center;
    gap: 10px;
    right: 24px;
    top: -2px;
    border-radius: 0px 0px 4px 4px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--Colors-Neutrals-0, #FFF);

}

.price-free {
    background: #009036;
}

.price-paid {
    background: #FBAC00;
}

@media only screen and (min-width: 1200px) {
    div.wasdi-card {
        width: 250px;
    }
}