div.wasdi-card {
    align-items: flex-start;
    background: #FFFFFF;
    border: 1px solid #D9DCE1;
    border-radius: 8px;
    color: #000000;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 11px;
    height: 400px;
    padding: 16px;
    position: relative;
    width: 300px;
}

.wasdi-card:hover {
    box-shadow: 4px 0px 32px 0px rgba(0, 0, 0, 0.29);
}

.wasdi-card:hover>.card-img>.overlay {
    transition: width 0.3s ease;
    width: 100%;
}

.wasdi-card:hover>.card-img>.overlay>img {
    animation: fly 2s linear;
    opacity: 0;
    width: 100px;
    height: 100px;
}

div.card-img {
    height: 155px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}

div.app-title {
    font-size: 16px;
    font-weight: 700;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
}

div.app-description {
    color: #283140;
    font-size: 14px;
    height: 55px;
    overflow: hidden;
}

span.app-total-votes {
    color: #000;
    font-size: 12.753px;
}

div.card-divider {
    align-self: stretch;
    background-color: #D9DCE1;
    height: 1px;
}

div.app-publisher {
    font-size: 12.753px;
}

span.publisher-name {
    color: #009036;
    font-size: 12.753px;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}


div.card-price {
    position: absolute;
    display: flex;
    padding: 1px 8px;
    align-items: center;
    gap: 10px;
    right: 24px;
    top: -2px;
    border-radius: 0px 0px 4px 4px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--Colors-Neutrals-0, #FFF);
    z-index: 2;

}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    opacity: 0.7;
    overflow: hidden;
    width: 0%;
    height: 100%;
    transition: width 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-free {
    background: #009036;
}

.price-paid {
    background: #FBAC00;
}

@media only screen and (min-width: 1200px) {
    div.wasdi-card {
        width: 250px;
    }
}


@keyframes fly {
    0% {
        opacity: 1;
        transform-origin: center center;
        transform: rotate(10deg) translate(22px, 10px) scale(0);
    }

    25% {
        opacity: 1;
        transform-origin: center center;
        transform: rotate(-20deg) translate(-20px, 12px) scale(0.33);
    }

    50% {
        opacity: 1;
        transform-origin: center center;
        transform: rotate(5deg) translate(-12px, -12px) scale(0.66);
    }

    75% {
        transform-origin: center center;
        transform: rotate(-30deg) translate(18px, -10px) scale(1);
        opacity: 1;
    }

    100% {
        transform-origin: center center;
        transform: rotate(-20deg) translate(12px, -5px) scale(1.5);
        opacity: 0;
    }
}