<div class="wasdi-card" (click)="openProcessorDetails(m_oProcessor.processorName)">
    <div class="card-price" [class]="getStyle()">
        {{getPrice()}}
    </div>
    <div class="card-img" style="background-image: url({{m_oProcessor.imgLink}})">
        <div class="overlay">
            <img src="assets/svg/market-ship.svg" class="scalein" alt="scalein">
        </div>
    </div>
    <!-- <img class="card-img overlay" src="{{m_oProcessor.imgLink}}"
        alt="{{'Image accompanying the application '+ m_oProcessor.friendlyName}}" class="card-img"> -->
    <div class="app-stars d-flex flex-row align-items-center">
        <div>
            <span class="material-symbols-outlined" [class]="m_oProcessor.score> 0 ? 'star-filled' : 'star-grey'">
                star
            </span>
            <span class="material-symbols-outlined" [class]="m_oProcessor.score > 1 ? 'star-filled' : 'star-grey'">
                star
            </span>
            <span class="material-symbols-outlined" [class]="m_oProcessor.score> 2 ? 'star-filled' : 'star-grey'">
                star 
            </span>
            <span class="material-symbols-outlined" [class]="m_oProcessor.score> 3 ? 'star-filled' : 'star-grey'">
                star
            </span>
            <span class="material-symbols-outlined" [class]="m_oProcessor.score> 4 ? 'star-filled' : 'star-grey'">
                star
            </span>
        </div>
        <span class="app-total-votes">({{m_oProcessor.votes}})</span>
    </div>
    <div>
        <div class="app-title">{{m_oProcessor.friendlyName}}</div>
        <div class="app-subtitle">{{m_oProcessor.processorName}}</div>
    </div>
    <div class="app-description">{{m_oProcessor.processorDescription ? m_oProcessor.processorDescription : ''}}</div>
    <div class="card-divider"></div>
    <div class="app-publisher">{{ "MARKET_CARD_PUBLISHER" | translate}}: <span
            class="publisher-name">{{m_oProcessor.publisher}}</span></div>
</div>