<div class="wasdi-card" (click)="openProcessorDetails(m_oProcessor.processorName)">
    <div class="card-price" [class]="getStyle()">
        {{getPrice()}}
    </div>
    <div class="card-img" style="background-image: url({{m_oProcessor.imgLink}})">
        <div class="overlay">
            <img src="assets/svg/market-ship.svg" class="scalein" alt="scalein">
        </div>
    </div>

    <div class="card-content">
        <div>
            <div class="app-title">{{m_oProcessor.friendlyName}}</div>
            <div class="app-subtitle">{{m_oProcessor.processorName}}</div>
        </div>

        <div class="app-description">{{m_oProcessor.processorDescription ? m_oProcessor.processorDescription : ''}}</div>
    </div>

    <div class="app-publisher">
        <span>{{ "MARKET_CARD_PUBLISHER" | translate}}: <span class="publisher-name">{{m_oProcessor.publisherNickName}}</span></span>
    </div>
</div>