<li class="list-group-item list-group-item-action pb-2" (click)="showWorkspaceProperties(workspace)">
    <div class="d-flex flex-row justify-content-between" style="cursor: pointer;">
        <div class="d-flex flex-column gap-2">
            <p class="p-0 m-0">{{workspace.workspaceName}}</p>
            <div class="d-flex flex-row gap-3">
                <p class="secondary-info text-muted p-0 m-0">{{getDate(workspace.creationDate)}}</p>
                <p class="secondary-info text-muted p-0 m-0">{{workspace.ownerUserId}}</p>
            </div>
        </div>
        <div class="button-panel d-flex flex-row gap-2 align-items-center">
            <button class="btn btn-primary btn-rounded btn-sm" role="button" (click)="openWorkspace(workspace)">Open</button>
            <button class="btn btn-primary btn-rounded btn-sm" role="button" (click)="deleteWorkspace(workspace.workspaceId)">Delete</button>
        </div>
    </div>
</li>