<li class="list-group-item list-group-item-action py-3" (click)="showWorkspaceProperties(workspace)">
    <div class="d-flex flex-row justify-content-between" style="cursor: pointer;">
        <div class="d-flex flex-column gap-1">
            <p class="p-0 m-0">{{workspace.workspaceName}}</p>
            <div class="d-flex flex-row gap-3">
                <p class="secondary-info text-muted p-0 m-0">{{getDate(workspace.creationDate)}}</p>
                <p class="secondary-info text-muted p-0 m-0">{{workspace.ownerUserId}}</p>
            </div>
        </div>
        <div class="button-panel d-flex flex-row gap-2 align-items-center">
            <button class="btn btn-primary btn-rounded btn-sm" role="button"
                (click)="openWorkspace(workspace)">{{"WORKSPACES.LIST_BTN_OPEN" | translate}}</button>
            <button class="btn btn-primary btn-rounded btn-sm" role="button"
                (click)="deleteWorkspace(workspace.workspaceId)">{{"WORKSPACES.LIST_BTN_DELETE" | translate}}</button>
        </div>
    </div>
</li>