<div class="list-item-container d-flex flex-row gap-2" [class.parent-item]="m_bParentItem"
    [class.product-item]="m_bProductItem" [class.selected]="m_bIsSelected && !m_bParentItem">
    <!-- Contents if List Item is of Parent Type: -->
    <div class="d-flex flex-row justify-content-between align-items-center w-100" *ngIf="m_bParentItem">
        <div>
            {{"Provider: " + m_sLabel}} | {{(m_sDescription === 0 || m_sDescription === -1)? 0 : m_sDescription + "
            Results"}}
        </div>
        <span class="material-symbols-outlined" *ngIf="m_bParentIsOpen === false">
            expand_more
        </span>
        <span class="material-symbols-outlined" *ngIf="m_bParentIsOpen === true">
            expand_less
        </span>
    </div>
    <!-- Contents if the List item is of Product Type: -->
    <div class="product-item-container d-flex flex-row justify-content-between align-items-start w-100"
        *ngIf="m_bProductItem">
        <div *ngIf="!m_oProductListItem.preview" class="pe-1 d-flex flex-column align-items-center text-center">
            <span class="material-symbols-outlined">
                {{m_sIcon}}
            </span>
            <span class="img-size">
                {{m_oProductListItem.summary.Size}}
            </span>
        </div>
        <div *ngIf="m_oProductListItem.preview" class=" preview-layer-image">
            <img src={{m_oProductListItem.preview}} alt="Image" style="height: 82px;width: 82px; ">
        </div>
        <div class="product-info-container flex-fill">
            <p class="d-flex flex-row gap-1">Name:<span>{{m_oProductListItem.title}}</span></p>
            <p *ngIf="m_bIsLightProduct === true">{{"IMPORT_PRODUCT_LIST_POLARIZATION"|translate}}
                <span>{{m_oProductListItem.properties.polarisationmode
                    }}</span>
            </p>
            <p>Rel Orbit: <span>{{m_oProductListItem.properties.relativeOrbitNumber?
                    m_oProductListItem.properties.relativeOrbitNumber :
                    m_oProductListItem.properties.relativeorbitnumber}}</span></p>
            <p *ngIf="m_bIsLightProduct === true">Platform Name:
                <span>{{m_oProductListItem.properties.platformname}}</span>
            </p>
            <p *ngIf="m_bIsLightProduct === true">{{"IMPORT_PRODUCT_LIST_SENSOR"|translate}}
                <span>{{m_oProductListItem.properties.sensoroperationalmode}}</span>
            </p>
            <p *ngIf="m_bIsLightProduct === false">Provider: <span>{{m_oProductListItem.provider}}</span></p>
            <p *ngIf="m_bIsLightProduct === false">Product Type:
                <span>{{m_oProductListItem.properties.productType}}</span>
            </p>
            <p *ngIf="m_bIsLightProduct === false">Date: <span>{{m_oProductListItem.properties.date | date:
                    'short'}}</span>
            </p>

        </div>
        <div *ngIf="m_bIsLightProduct === false" class="toolbar d-flex flex-row gap-1">
            <span class="material-symbols-outlined" (click)="m_oInfoCallbackFn(m_oProductListItem)"
                matTooltip="Properties">
                info
            </span>
            <span class="material-symbols-outlined" (click)="m_oZoomCallbackFn(m_oProductListItem.rectangle)"
                matTooltip="Zoom to Product">
                zoom_in
            </span>
            <span class="material-symbols-outlined" (click)="m_oAddCallbackFn(m_oProductListItem)"
                matTooltip="Add to Workspace">
                add_box
            </span>
        </div>
    </div>
</div>