<div class="d-flex flex-row gap-3" style="height: 100%; width: 100%;">
    <div class="input-column d-flex flex-column gap-2">
        <h3 class="app-header font-bold">{{"DIALOG_PROCESSOR_STORE_SUB_TITLE" | translate}}</h3>
        <app-input-field [m_sLabel]="'Application name in the store'" [m_sPlacehodler]="'DIALOG_PROCESSOR_STORE_FRIEND_NAME' | translate"
            [m_sInputValue]="m_oProcessorStoreInfo.get('sFriendlyName').value"></app-input-field>
        <div class="categories-container">
            <div>{{"DIALOG_PROCESSOR_STORE_CATEGORY" | translate}}</div>
            <div class="d-flex flex-row flex-wrap gap-1">
                <div class="category-tag" *ngFor="let oCategory of m_aoCategories" [class.active]="oCategory.checked"
                    (click)="categoryChanged($event, oCategory)">
                    {{oCategory.category}}</div>
            </div>
        </div>
        <div class="textarea-wrapper flex-fill">
            <app-textarea [m_sLabel]="'DIALOG_PROCESSOR_STORE_LONG_DESCRIPTION' | translate"
                [m_sInputString]="m_oProcessorStoreInfo.get('sLongDescription').value"
                (keyup)="onTextareaInput($event)"></app-textarea>
        </div>
        <app-input-field class="mt-4" [m_sLabel]="'DIALOG_PROCESSOR_STORE_LINK' | translate" [m_sPlacehodler]="'Link'"
            [m_sInputValue]=" m_oProcessorStoreInfo.get('sLink').value"
            (m_oInputChange)="m_oProcessorStoreInfo.patchValue({sLink: $event.event.target.value})"></app-input-field>
        <app-input-field [m_sLabel]="'DIALOG_PROCESSOR_STORE_MAIL' | translate" [m_sPlacehodler]="'Email'"
            [m_sInputValue]=" m_oProcessorStoreInfo.get('sEmail').value"
            (m_oInputChange)="m_oProcessorStoreInfo.patchValue({sEmail: $event.event.target.value})"></app-input-field>
    </div>
    <div class="input-column d-flex flex-column gap-4">
        <div class="d-flex flex-row align-items-center gap-2" style="height: 50%">
            <div style="height:100%; width:50%;">
                <app-drag-and-drop [m_sPrompt]="'DIALOG_PROCESSOR_STORE_MEDIA_TYPES' | translate" [m_sFormDataType]="'image'"
                    (m_oSelectedFileOutput)="getSelectedLogo($event)"></app-drag-and-drop>
            </div>
            <div class="d-flex flex-column" style="width: 50%;">
                <p>{{"DIALOG_PROCESSOR_STORE_MEDIA_DESCRIPTION_LINE1" | translate}}</p>
                <p>{{"DIALOG_PROCESSOR_STORE_MEDIA_DESCRIPTION_LINE2" | translate}}</p>
                <!-- Uploaded image and Save button container -->
                <div class="save-example-container d-flex flex-row justify-content-between">
                    <img src="{{m_oProcessor.imgLink}}" class="img-fluid img-thumbnail"
                        style="max-height: 100px; max-width: 100px" alt="...">
                    <app-button class="align-self-end" [m_sLabel]="'Save'" (click)="updateProcessorLogo()"></app-button>
                </div>
            </div>
        </div>
        <div style="height: 40%">
            <div class="image-header font-bold">{{"DIALOG_PROCESSOR_STORE_MEDIA_DESCRIPTION_ADDITIONAL" | translate}}</div>
            <div class="d-flex flex-column gap-1" style="height: 100%; width: 100%;">
                {{"DIALOG_PROCESSOR_STORE_MEDIA_DESCRIPTION_ADDITIONAL_LINE1" | translate}}
                <app-drag-and-drop class="flex-fill" [m_sPrompt]="'File must be of type .jpg or .png'" [m_sFormDataType]="'image'"
                    (m_oSelectedFileOutput)="getSelectedAppImage($event)"></app-drag-and-drop>
                <div class="d-flex flex-row justify-content-between">
                    <div class="d-flex flex-row gap-1">
                        <div *ngFor="let oImage of m_oProcessor.images" class="position-relative">
                            <img src="{{oImage}}" class="img-fluid img-thumbnail"
                                style="max-height: 200px; max-width: 200px" alt="...">
                        </div>
                    </div>
                    <app-button class="align-self-end" [m_sLabel]="'Save'" (click)="updateProcessorLogo()"></app-button>
                </div>
            </div>
        </div>
    </div>
</div>