<div class="flex-fill d-flex flex-column gap-3">
    <div class="header font-bold d-flex flex-row justify-content-between">Manage Subscriptions
        <app-button data-bs-toggle="offcanvas" href="#subscriptionEditor" role="button"
            (click)="setSelectedSubscription(null)" aria-controls="subscriptionEditor"
            [m_sLabel]="'Create New Subscription'"></app-button>
    </div>
    <div class="d-flex flex-row align-items-end justify-content-end">
        <div class="d-flex flex-row gap-2">
            <app-input-field [m_sPlacehodler]="'Search for a subscription'"
                (m_oInputChange)="setSubscriptionSearch($event)" [m_sInputValue]="m_sSearch"
                [m_bClearField]="true"></app-input-field>
            <app-button [m_sIconLeft]="'search'" (click)="getSubscriptions()"></app-button>
        </div>
    </div>
    <div class="flex-fill d-flex flex-column gap-2">
        <div class="table-wrapper">
            <table>
                <thead class="table-heading-container">
                    <tr>
                        <td>Subscription Id</td>
                        <td>Name</td>
                        <td>Owner</td>
                        <td>Status</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let oSubscription of m_aoSubscriptions">
                        <td>{{oSubscription.subscriptionId}}</td>
                        <td>{{oSubscription.name}}</td>
                        <td>{{oSubscription.ownerUserId}}</td>
                        <td>{{subscriptionActive(oSubscription)}}</td>
                        <td class="d-flex flex-row justify-content-end">
                            <span (click)="setSelectedSubscription(oSubscription)" data-bs-toggle="offcanvas"
                                href="#subscriptionEditor" role="button" aria-controls="subscriptionEditor"
                                class="material-symbols-outlined">
                                edit
                            </span>
                            <span class="material-symbols-outlined" (click)="deleteSubscription(oSubscription)">
                                delete
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav class="align-self-end" aria-label="Users table navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" aria-label="Previous" (click)="!m_bMinusPageDisabled? minusOnePage() : ''"
                        [class.disabled]="m_bMinusPageDisabled">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" aria-label="Next" (click)="!m_bStepPageDisabled? stepOnePage() : ''"
                        [class.disabled]="m_bStepPageDisabled">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="offcanvas offcanvas-end org-create-container d-flex flex-column justify-content-between"
    data-bs-backdrop="true" tabindex="-1" id="subscriptionEditor" aria-labelledby="subscriptionEditorLabel">
    <div class="editor-header font-bold pb-3">
        {{m_oSelectedSubscription.subscriptionId? 'Edit Subscription' : 'Create Subscription'}}
    </div>
    <div class="d-flex flex-fill flex-column gap-3">
        <app-input-field [m_sLabel]="'Subscription Id'"
            [m_sInputValue]="m_oSelectedSubscription.subscriptionId? m_oSelectedSubscription.subscriptionId : 'N/A'"
            [m_bIsReadonly]="true"></app-input-field>
        <app-input-field [m_sLabel]="'Name'"
            [m_sInputValue]="m_oSelectedSubscription.name? m_oSelectedSubscription.name: ''"
            (m_oInputChange)="setInputSelections($event, 'name')"></app-input-field>
        <app-input-field [m_sLabel]="'Owner User Id'"
            [m_sInputValue]="m_oSelectedSubscription.userId? m_oSelectedSubscription.userId : ''"
            (m_oInputChange)="setInputSelections($event, 'userId')"></app-input-field>
        <app-input-field [m_sLabel]="'Organisation Id'" [m_sInputValue]="m_oSelectedSubscription.organizationName? m_oSelectedSubscription.
            organizationName: ''" (m_oInputChange)="setInputSelections($event, 'orgId')"></app-input-field>
        <app-dropdown [m_sLabel]="'Type'" [m_aoDropdownItems]="m_asTypesMap"
            [m_aoSelectedItems]="m_oSelectedSubscription.typeName"
            (m_oSelectionChange)="getTypeSelection($event)"></app-dropdown>
        <div class="row">
            <app-input-field class="col" [m_sLabel]="'Purchase Date (yyyy-MM-dd)'"
                [m_sInputValue]="m_oSelectedSubscription? (m_oSelectedSubscription.buyDate | date: 'yyyy-MM-dd'): ''"
                [m_bIsReadonly]="true"></app-input-field>
            <div class="col">
                <strong>Duration: </strong>{{m_oSelectedSubscription? m_oSelectedSubscription.durationDays: ''}} Day(s)
            </div>
        </div>
        <div class="row">
            <app-input-field class="col" [m_sLabel]="'Start Date'"
                [m_sInputType]="m_oSelectedSubscription.subscriptionId? 'text': 'date'"
                [m_sInputValue]="m_oSelectedSubscription? (m_oSelectedSubscription.startDate | date: 'yyyy-MM-dd'): ''"
                [m_bIsReadonly]="m_oSelectedSubscription.subscriptionId"></app-input-field>
            <app-input-field class="col" [m_sLabel]="'End Date'" [m_sInputType]="'date'"
                [m_sInputValue]="m_oSelectedSubscription? (m_oSelectedSubscription.endDate | date: 'yyyy-MM-dd'): ''"></app-input-field>
        </div>
        <div class="row">
            <div class="col">
                <strong>Days Remaining: </strong>{{subscriptionActive(m_oSelectedSubscription)}}
            </div>
            <div class="col">
                <strong>Purchased: </strong>{{m_oSelectedSubscription.buySuccess}}
            </div>
        </div>

        <!-- <app-input-field [m_sLabel]="'User Id'" [m_sInputValue]="m_oSelectedUser? m_oSelectedUser.userId : ''"
            [m_bIsRequired]="true" [m_bIsValid]="m_bUserIdIsValid"
            (m_oInputChange)="setInputSelections($event, 'userId')"></app-input-field>
        <app-input-field [m_sLabel]="'User First Name'" [m_sInputValue]="m_oSelectedUser? m_oSelectedUser.name : ''"
            [m_bIsRequired]="true" [m_bIsValid]="m_bUserNameIsValid"
            (m_oInputChange)="setInputSelections($event, 'name')"></app-input-field>
        <app-input-field [m_sLabel]="'User Last name'" [m_bIsRequired]="true" [m_bIsValid]="m_bUserLastNameIsValid"
            [m_sInputValue]="m_oSelectedUser? m_oSelectedUser.surname : ''"
            (m_oInputChange)="setInputSelections($event, 'surname')"></app-input-field>
        <!-- Registration date -->
        <!-- <app-input-field [m_sLabel]="'Registration Date'" [m_bIsReadonly]="true"
            [m_sInputValue]="m_oSelectedUser.registrationDate? (m_oSelectedUser.registrationDate | date: 'dd/MM/YYYY HH:mm:ss') : 'N/A'"></app-input-field> -->
        <!-- Confirmation date -->
        <!-- <app-input-field [m_sLabel]="'Confirmation Date'" [m_bIsReadonly]="true"
            [m_sInputValue]="m_oSelectedUser.confirmationDate ? (m_oSelectedUser.confirmationDate | date: 'dd/MM/YYYY HH:mm:ss'): 'N/A'"></app-input-field> -->
        <!-- Last Login -->
        <!-- <app-input-field [m_sLabel]="'Last Login'" [m_bIsReadonly]="true"
            [m_sInputValue]="m_oSelectedUser.lastLogin ? (m_oSelectedUser.lastLogin | date: 'dd/MM/YYYY HH:mm:ss'): 'N/A'"></app-input-field> -->
        <!-- default node -->
        <!-- <app-dropdown [m_sLabel]="'Default Node'" [m_aoDropdownItems]="m_aoNodes"
            [m_aoSelectedItems]="m_oSelectedUser.defaultNode"
            (m_oSelectionChange)="setInputSelections($event, 'node')"></app-dropdown> -->
        <!-- Role -->
        <!-- 
        <div class="d-flex flex-row align-items-center gap-2">
            <input type="checkbox" class="wasdi-checkbox" name="isActive" id="" [checked]="m_oSelectedUser.active"
                (change)="setInputSelections($event, 'isActive')">
            <label for="isActive">Active</label>
        </div> -->
    </div>
    <div class="d-flex flex-row justify-content-between pb-3">
        <app-button data-bs-dismiss="offcanvas" [m_sLabel]="'Cancel'" [m_bMuted]="true"></app-button>
        <app-button *ngIf="m_oSelectedSubscription.subscriptionId" [m_sLabel]="'Update Subscription'"
            (click)="updateSubscription(m_oSelectedSubscription)"></app-button>
        <app-button *ngIf="!m_oSelectedSubscription.subscriptionId" [m_sLabel]="'Create Subscription'"
            (click)="createNewSubscription(m_oSelectedSubscription)"></app-button>
    </div>
</div>