<div class="flex-fill d-flex flex-column gap-3">
    <div class="header font-bold d-flex flex-row justify-content-between">{{"ADMIN_SUBSCRIPTIONS_TITLE" | translate}}
        <app-button data-bs-toggle="offcanvas" href="#subscriptionEditor" role="button"
            (click)="setSelectedSubscription(null)" aria-controls="subscriptionEditor"
            [m_sLabel]="'ADMIN_SUBSCRIPTIONS_CREATE' | translate"></app-button>
    </div>
    <div class="d-flex flex-row align-items-end justify-content-end">
        <div class="d-flex flex-row gap-2">
            <div class="d-flex flex-row align-items-center gap-1">Search By:
                <app-dropdown class="input-field" [m_aoDropdownItems]="m_asSortOptions" [m_aoSelectedItems]="m_sSubscriptionSortBy" (m_oSelectionChange)="setSortType($event)"></app-dropdown>
            </div>
            <app-input-field [m_sPlaceholder]="'ADMIN_SUBSCRIPTIONS_SEARCH' | translate"
                (m_oInputChange)="setSubscriptionSearch($event)"></app-input-field>
            <app-button [m_sIconLeft]="'search'" (click)="getSubscriptions()"></app-button>
        </div>
    </div>
    <div class="flex-fill d-flex flex-column gap-2">
        <div class="table-wrapper">
            <table>
                <thead class="table-heading-container">
                    <tr>
                        <td>{{"ADMIN_SUBSCRIPTIONS_SUBID" | translate}}</td>
                        <td>{{"KEY_PHRASES.NAME" | translate}}</td>
                        <td>{{"KEY_PHRASES.OWNER" | translate}}</td>
                        <td>{{"KEY_PHRASES.STATUS" | translate}}</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="m_aoSubscriptions.length === 0">
                        No more subscriptions to show.
                    </tr>
                    <tr *ngFor="let oSubscription of m_aoSubscriptions">
                        <td>{{oSubscription.subscriptionId}}</td>
                        <td>{{oSubscription.name}}</td>
                        <td>{{oSubscription.ownerUserId}}</td>
                        <td>{{subscriptionActive(oSubscription)}}</td>
                        <td class="d-flex flex-row justify-content-end">
                            <span (click)="setSelectedSubscription(oSubscription)" data-bs-toggle="offcanvas"
                                href="#subscriptionEditor" role="button" aria-controls="subscriptionEditor"
                                class="material-symbols-outlined">
                                edit
                            </span>
                            <span class="material-symbols-outlined" (click)="deleteSubscription(oSubscription)">
                                delete
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <app-paginator [m_bMaxPaginator]="false" [m_bFullPaginator]="false"
        (m_iItemsPerPageChange)="handleItemsPerPageChange($event)" (m_oClickEmitter)="handlePagination($event)"
        [m_bShowTotalPages]="false"></app-paginator>
    </div>
</div>
<div class="offcanvas offcanvas-end org-create-container d-flex flex-column justify-content-between"
    data-bs-backdrop="true" tabindex="-1" id="subscriptionEditor" aria-labelledby="subscriptionEditorLabel">
    <div class="editor-header font-bold pb-3">
        {{m_oSelectedSubscription.subscriptionId? 'Edit Subscription' : 'Create Subscription'}}
    </div>
    <div class="d-flex flex-fill flex-column gap-3">
        <app-input-field [m_sLabel]="'Subscription Id'"
            [m_sInputValue]="m_oSelectedSubscription.subscriptionId? m_oSelectedSubscription.subscriptionId : 'N/A'"
            [m_bIsReadonly]="true"></app-input-field>
        <app-input-field [m_sLabel]="'KEY_PHRASES.NAME' | translate"
            [m_sInputValue]="m_oSelectedSubscription.name? m_oSelectedSubscription.name: ''"
            (m_oInputChange)="setInputSelections($event, 'name')"></app-input-field>
        <app-input-field [m_sLabel]="'ADMIN_SUBSCRIPTIONS_OWNER_UID' | translate"
            [m_sInputValue]="m_oSelectedSubscription.userId? m_oSelectedSubscription.userId : ''"
            (m_oInputChange)="setInputSelections($event, 'userId')"></app-input-field>
        <app-input-field [m_sLabel]="'ADMIN_SUBSCRIPTIONS_ORG_ID' | translate" [m_sInputValue]="m_oSelectedSubscription.organizationName? m_oSelectedSubscription.
            organizationName: ''" (m_oInputChange)="setInputSelections($event, 'orgId')"></app-input-field>
        <app-dropdown [m_sLabel]="'ADMIN_SUBSCRIPTIONS_TYPE' | translate" [m_aoDropdownItems]="m_asTypesMap"
            [m_aoSelectedItems]="m_oSelectedSubscription.typeName"
            (m_oSelectionChange)="getTypeSelection($event)"></app-dropdown>
        <div class="row">
            <app-input-field class="col" [m_sLabel]="'ADMIN_SUBSCRIPTIONS_PURCHASE' | translate"
                [m_sInputValue]="m_oSelectedSubscription? (m_oSelectedSubscription.buyDate | date: 'yyyy-MM-dd'): ''"
                [m_bIsReadonly]="true"></app-input-field>
            <div class="col">
                <strong>{{"ADMIN_SUBSCRIPTIONS_DURATION" | translate}} </strong>{{m_oSelectedSubscription.durationDays?
                m_oSelectedSubscription.durationDays: m_iDurationDays}} Day(s)
            </div>
        </div>
        <div class="row">
            <app-input-field class="col" [m_sLabel]="'ADMIN_SUBSCRIPTIONS_START' | translate"
                [m_sInputType]="m_oSelectedSubscription.subscriptionId? 'text': 'date'"
                [m_sInputValue]="(m_oSelectedSubscription.startDate? m_oSelectedSubscription.startDate : m_sStartDate) | date: 'yyyy-MM-dd'"
                [m_bIsReadonly]="m_oSelectedSubscription.subscriptionId"
                (m_oInputChange)="setInputSelections($event, 'startDate')"></app-input-field>
            <app-input-field class="col" [m_sLabel]="'ADMIN_SUBSCRIPTIONS_END' | translate" [m_sInputType]="'date'"
                [m_sInputValue]="(m_oSelectedSubscription.endDate? m_oSelectedSubscription.endDate : m_sEndDate) | date: 'yyyy-MM-dd'"
                (m_oInputChange)="setInputSelections($event, 'endDate')"></app-input-field>
        </div>
        <div class="row">
            <div class="col">
                <strong>{{"ADMIN_SUBSCRIPTIONS_DAYS_REMAINING" | translate}}
                </strong> {{subscriptionActive(m_oSelectedSubscription)}}
            </div>
            <div class="col">
                <strong>{{"ADMIN_SUBSCRIPTIONS_PURCHASED" | translate}} </strong>{{m_oSelectedSubscription.buySuccess}}
            </div>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-between pb-3">
        <app-button data-bs-dismiss="offcanvas" [m_sLabel]="'KEY_PHRASES.CANCEL' | translate"
            [m_bMuted]="true"></app-button>
        <app-button *ngIf="m_oSelectedSubscription.subscriptionId" [m_sLabel]="'ADMIN_SUBSCRIPTIONS_UPDATE' | translate"
            (click)="updateSubscription(m_oSelectedSubscription)"></app-button>
        <app-button *ngIf="!m_oSelectedSubscription.subscriptionId"
            [m_sLabel]="'ADMIN_SUBSCRIPTIONS_CREATE' | translate"
            (click)="createNewSubscription(m_oSelectedSubscription)"></app-button>
    </div>
</div>