<main class="d-flex flex-fill">
    <app-admin-menu (m_sSelectedTab)="getActiveTab($event)"></app-admin-menu>
    <div class="dashboard-content flex-fill">
        <app-user-account *ngIf="m_sActiveTab === 'account'"></app-user-account>
        <app-email-preferences-display *ngIf="m_sActiveTab === 'preferences'"></app-email-preferences-display>
        <app-organizations-display *ngIf="m_sActiveTab === 'organisations'"></app-organizations-display>
        <app-subscriptions-purchase *ngIf="m_sActiveTab ==='subscriptions'"></app-subscriptions-purchase>
        <app-subscriptions-display *ngIf="m_sActiveTab ==='billings'" [m_aoOrganizations]="m_aoOrganizations"></app-subscriptions-display>
    </div>
</main>