<main class="d-flex">
  <app-admin-menu (m_sSelectedTab)="getActiveTab($event)"></app-admin-menu>
  <div class="dashboard-content flex-fill">
    <div class="dashboard-content-wrapper">
      @if (m_sActiveTab === 'account') {
        <app-user-account></app-user-account>
      }
      @if (m_sActiveTab === 'preferences') {
        <app-email-preferences-display
        ></app-email-preferences-display>
      }
      @if (m_sActiveTab === 'organisations') {
        <app-organizations-display
        ></app-organizations-display>
      }
      @if (m_sActiveTab === 'subscriptions') {
        <app-subscriptions-purchase
        ></app-subscriptions-purchase>
      }
      @if (m_sActiveTab === 'billings') {
        <app-subscriptions-display
          [m_aoOrganizations]="m_aoOrganizations"
        ></app-subscriptions-display>
      }
      @if (m_sActiveTab === 'users') {
        <app-manage-users></app-manage-users>
      }
      @if (m_sActiveTab === 'sharing') {
        <app-manage-sharing
        ></app-manage-sharing>
      }
      @if (m_sActiveTab === 'resources') {
        <app-manage-subscriptions
        ></app-manage-subscriptions>
      }
      @if (m_sActiveTab === 'nodes') {
        <app-manage-nodes></app-manage-nodes>
      }
      @if (m_sActiveTab === 'missions') {
        <app-private-missions
        ></app-private-missions>
      }
    </div>
  </div>
</main>
