<div class="apps-dialog d-flex flex-column justify-content-between" style="height: 100%;">
    <div class="dialog-header d-flex flex-row justify-content-between font-bold">
        <span>
            {{"DIALOG_LOGS_TITLE" | translate}}:
            <span class="click-and-copy" (click)="copyProcessObjId()"> {{m_oProcess.processObjId}}</span>
        </span>
        <span class="close-btn material-symbols-outlined" (click)="dismiss()"> close</span>
    </div>
    <div class="payload-info d-flex flex-row align-items-center mb-3">
        <div>
            {{m_oProcess.operationType === 'RUNPROCESSOR' ? ('KEY_PHRASES.APP_NAME' | translate) :
            ('KEY_PHRASES.PRODUCT_NAME' | translate) }}: {{m_oProcess.productName?
            m_oProcess.productName: 'N/A'}} | {{"DIALOG_LOGS_STATUS" | translate}}
            <span class="category-tag" [ngClass]="m_sTagColor">{{m_oProcess.status}}</span>
        </div>
    </div>
    <div class="log-filter-container d-flex flex-row justify-content-between">
        <app-input-field class="flex-fill" style="max-width: 50%;" [m_sLabel]="'DIALOG_LOGS_SEARCH_TEXT' | translate"
            [m_sPlaceholder]="'KEY_PHRASES.SEARCH' | translate" (m_oInputChange)="setSearchString($event)"></app-input-field>
        <div class="buttons-container align-self-end d-flex flex-row gap-2">
            <app-button [m_sLabel]="'DIALOG_LOGS_DOWNLOAD' | translate" [m_sIconLeft]="'download'"
                (click)="downloadLogFile()"></app-button>
            <app-button [m_sLabel]="'DIALOG_LOGS_REFRESH' | translate" [m_sIconLeft]="'refresh'" [m_bMuted]="true"
                (click)="refreshLogs()"></app-button>
        </div>
    </div>
    <div class="table-wrapper flex-fill mt-2">
        <table>
            <thead>
                <tr>
                    <th>{{"DIALOG_LOGS_DATE" | translate}}</th>
                    <th>{{"DIALOG_LOGS_ACTION" | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let oProcessLog of m_aoLogs | filter: m_sSearch">
                    <td>{{oProcessLog.logDate}}</td>
                    <td>{{oProcessLog.logRow}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-paginator [m_iTotalItems]="m_iNumberOfLogs" [m_iItemsPerPage]="m_iNumberOfLogsPerPage"
        (m_oClickEmitter)="handlePagination($event)" (m_oClickEmitter)="handlePagination($event)"></app-paginator>
</div>