.log-filter-container {
    padding: 1rem;
    background: var(--neutral5);
    border-radius: 8px;
}

td,
th {
    padding: 6px 12px 6px 12px;
}

.click-and-copy:hover {
	color: var(--wasdiGreen);
	cursor: pointer;
}