<div class="card h-100 " style="overflow-y:scroll;">
    <div class="card-header">
        {{"IMPORT_PANEL_HEAD_TITLE_FILTERS" | translate}}
    </div>
    <div class="card-body flex-column">
        <!-- CronTab / Providers Buttons -->
        <div class="d-flex flex-row justify-content-between">
            <button class="btn btn-primary">{{"IMPORT_CRONTAB" | translate}}</button>

            <!-- Providers Multi-select -->
            <mat-select multiple class="form-control" placeholder="{{'IMPORT_PROVIDERS' | translate}}"
                style="width: 15rem" [(ngModel)]="m_aoSelectedProviders"
                (selectionChange)="emitSelectedProviders($event)">
                <mat-option *ngFor="let oProvider of m_aListOfProviders" [value]="oProvider">
                    {{oProvider.description}}
                </mat-option>
            </mat-select>
        </div>

        <!-- From/to Date Pickers -->
        <div class="d-flex flex-row justify-content-between gap-2">
            <div class="flex-fill">
                <label for="startDate">{{'IMPORT_DATE_FROM'|translate}}</label>
                <input type="date" name="" id="" class="form-control" [(ngModel)]="m_sDateFrom"
                    (ngModelChange)="emitModelChanges()">
            </div>
            <div class="flex-fill">
                <label for="startDate">{{'IMPORT_DATE_TO'|translate}}</label>
                <input type="date" name="" id="" class="form-control" [(ngModel)]="m_sDateTo"
                    (ngModelChange)="emitModelChanges()">
            </div>
        </div>

        <!-- Time-series filters summary -->

        <!-- Missions Selector and Advanced Filters -->
        <div id="advanced-search-content h-50" class="d-flex flex-column">
            <!-- Product Name Search -->
            <div>
                <label for="productName">{{"IMPORT_PRODUCT_NAME"|translate}}:</label>
                <input type="text" name="" id="" class="form-control" [(ngModel)]="m_oMissionObject.textQuery">
            </div>
            <!-- Missions Tabs -->
            <div>
                <label for="">{{"IMPORT_PRODUCT_SELECTED_MISSIONS"|translate}}</label>
                <ul class="d-flex flex-row flex-wrap border-bottom pb-2  nav nav-pills">
                    <li class="nav-item" *ngFor="let oMission of m_aoMissions" (click)="setActiveMission(oMission)">
                        <a class="nav-link"
                            [ngClass]="oMission.name === m_oActiveMission.name? 'active' : ''">{{oMission.name}}</a>
                    </li>
                </ul>
            </div>
            <!-- Mission Search Form -->
            <div class="mission-inputs d-flex flex-row flex-wrap align-items-center pt-2 gap-2 ">
                <div class="d-flex flex-column " *ngFor="let oFilter of m_aoVisibleFilters">
                    <div style="width: 15rem">
                        <label class="form-label" for="">{{oFilter.indexlabel}}</label>
                        <mat-select *ngIf="oFilter.indexvalues !== ''" #auto="matSelect" class="form-control"
                            placeholder="" (selectionChange)="getMissionInput($event, oFilter)"
                            placeholder="{{oFilter.indexvalue}}">
                            <mat-option *ngFor="let oOption of prepMissionFilter(oFilter)" [value]="oOption">
                                {{oOption}}
                            </mat-option>
                        </mat-select>
                        <input class="form-control" type="text" *ngIf="oFilter.indexvalues === ''"
                            placeholder="{{oFilter.indexhint}}" pattern="{{oFilter.regex}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>