<input type="search" name="m_sStyle" placeholder="{{m_sPlaceholder}}" [matAutocomplete]="auto" class="form-control"
    [(ngModel)]="m_sSearchString">
<mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionText" (optionSelected)="emitSelectionChange($event)">
    <mat-option *ngFor="let oInput of m_aoInputs | filter: m_sSearchString" [value]="oInput">
        <div class="w-100 d-flex flex-row justify-content-between align-items-center gap-2">
            <div class="flex-fill d-flex flex-column">
                <div>{{oInput.workspaceName}}</div>
                <div class="user-id">{{oInput.ownerUserId}}</div>
            </div>
            <span *ngIf="oInput.workspaceName" class="material-symbols-outlined"
                (click)="m_oDeleteFn(oInput, m_oController)">
                delete
            </span>
        </div>
    </mat-option>
</mat-autocomplete>