label {
    color: var(--neutral95);
    font-size: 14px;
    font-weight: 400;
}

mat-select {
    /* Set width by default to 100% of parent */
    width: 100%;
    border: 1px solid #B4BAC4;
    color: #000000;
    height: 32px;
    padding-top: 3px;
}

input[type='search']::-webkit-search-cancel-button {
    cursor: pointer;
    filter: grayscale(1);
}

.form-control:focus {
    outline: none;
    border-color: none;
    box-shadow: none;
}

.mat-search-container {
    padding: 8px 4px;
    background: #D9DCE1;
}

.mat-select-search {
    background: #FFFFFF;
    width: 100%;
    border-radius: 4px;
    padding: 4px 8px;
    top: 0;
}

.user-id {
    font-size: 12px;
}

::ng-deep div.mat-mdc-select-panel {
    padding: 0 !important;
    border-radius: 4px !important;
    right: 50px !important;
    transform: translate(-12px, 2px) !important;
    max-width: 150%;
}

::ng-deep .mdc-menu-surface.mat-mdc-select-panel {
    min-width: 100% !important;
}

::ng-deep mat-option {
    background: #FFFFFF !important;
}

::ng-deep .mat-mdc-option {
    height: fit-content !important;
    padding: 4px 16px !important;
    /* Override min-height imposed by Angular Materials */
    min-height: 0px !important;
}

::ng-deep .mat-mdc-option:hover {
    background-color: #ECEEF0 !important;
}

::ng-deep .mat-mdc-option.divider {
    box-sizing: border-box;
    height: 1px !important;
    padding: 8px 14px !important;
    width: 100% !important;
    background: #D9DCE1 !important;
}

::ng-deep .mat-mdc-option.divider:hover {
    height: 1px !important;

}

::ng-deep .mat-ripple {
    display: none !important;
}

::ng-deep .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full {
    background-color: var(--wasdiGreen);
}

::ng-deep .mdc-list-item__primary-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150% !important;
}

.material-symbols-outlined {
    color: var(--wasdiGreen);
}

::ng-deep mat-pseudo-checkbox {
    display: none !important;
}

::ng-deep .mat-mdc-option.mdc-list-item:hover {
    background: var(--wasdiBlue10) !important;
}