<div style="height: 100%" class="dialog d-flex flex-column justify-content-between">
    <div class="dialog-header bg-secondary text-light d-flex flex-row justify-content-between px-4 pt-3 pb-2">
        <h4 class="dialog-text">Add New Style</h4>
        <fa-icon [icon]="faX" (click)="onDismiss()"></fa-icon>
    </div>
    <div mat-dialog-content>
        <form action="">
            <div class="form-col-1 d-flex flex-column gap-3">
                <div>
                    <label class="form-label" for="name">
                        Name:
                    </label>
                    <input class="form-control" id="name" name="name" type="text">
                </div>
                <div>
                    <label class="form-label" for="description">Description:</label>
                    <textarea class="form-control" name="description" id="description" cols="30" rows="5"></textarea>
                </div>
                <div>
                    <mat-checkbox [color]="'primary'">Set Styles as Public</mat-checkbox>
                </div>
                <div>
                    <label for="formFileLg" class="form-label">
                        Choose XML Style to Upload
                    </label>
                    <input class="form-control" id="formFileLg" type="file">
                </div>
                <button class="btn btn-success align-self-end">
                    Add Style
                </button>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="border dialog-footer d-flex flex-row justify-content-end">
        <button class="btn btn-secondary btn-sm" (click)="onDismiss()">
            Close
        </button>
    </div>
</div>