<div class="d-flex flex-column mx-3" style="height:100%;">
    <div class="d-flex flex-row justify-content-between">
        <h4>My Subscriptions</h4>
        <button class="btn btn-success" routerLink="/subscriptions" (click)="onDismiss()">Buy New Subscription</button>
    </div>
    <div style="height:100%; overflow-y: scroll;">
        <table class="table table-sm table-striped table-hover mt-4">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Organization</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let oSubscription of m_aoSubscriptions">
                    <td>{{oSubscription.name}}</td>
                    <td>{{oSubscription.typeName}}</td>
                    <td>{{oSubscription.ownerUserId}}</td>
                    <td>{{oSubscription.organizationName ? oSubscription.organizationName : 'N/A'}}</td>
                    <td>{{oSubscription.startDate | date:'dd-MM-yyyy'}}</td>
                    <td>{{oSubscription.endDate | date:'dd-MM-yyyy'}}</td>
                    <td class="d-flex flex-row gap-1">
                        <button class="btn btn-secondary btn-sm" *ngIf="oSubscription.adminRole === true"
                            (click)="openSharedUsersDialog(oSubscription)">
                            <fa-icon [icon]="faUsers"></fa-icon>
                        </button>
                        <button class="btn btn-secondary btn-sm"
                            (click)="openProjectsDialog(oSubscription.adminRole, oSubscription)">
                            <fa-icon [icon]="faBriefcase"></fa-icon>
                        </button>
                        <button class="btn btn-secondary btn-sm" *ngIf="oSubscription.adminRole === true"
                            (click)="openEditSubscriptionDialog(oSubscription, oSubscription.adminRole)">
                            <fa-icon [icon]="faEdit"></fa-icon>
                        </button>
                        <button class="btn btn-secondary btn-sm" *ngIf="oSubscription.adminRole === false"
                            (click)="openEditSubscriptionDialog(oSubscription, oSubscription.adminRole)">
                            <fa-icon [icon]="faEye"></fa-icon>
                        </button>
                        <button class="btn btn-secondary btn-sm" (click)="deleteSubscription(oSubscription)">
                            <fa-icon [icon]="faTrashcan"></fa-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>