<p>{{oProcessor.friendlyName}}</p>
<div class="reviews-container d-flex flex-row gap-4 mb-2">
    <div class="">
        star rating

        <div class="star-ratings">
            <div id="five-star-rating" class="star-rating">
                <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
            </div>
            <div id="four-star-rating" class="star-rating">
                <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                <fa-icon [icon]="faStar" class="text-secondary"></fa-icon>
            </div>
            <div id="three-star-rating" class="star-rating">
                <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                <fa-icon [icon]="faStar" class="text-secondary"></fa-icon>
                <fa-icon [icon]="faStar" class="text-secondary"></fa-icon>
            </div>
            <div id="two-star-rating" class="star-rating">
                <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                <fa-icon [icon]="faStar" class="text-secondary"></fa-icon>
                <fa-icon [icon]="faStar" class="text-secondary"></fa-icon>
                <fa-icon [icon]="faStar" class="text-secondary"></fa-icon>
            </div>
            <div id="one-star-rating" class="star-rating">
                <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                <fa-icon [icon]="faStar" class="text-secondary"></fa-icon>
                <fa-icon [icon]="faStar" class="text-secondary"></fa-icon>
                <fa-icon [icon]="faStar" class="text-secondary"></fa-icon>
                <fa-icon [icon]="faStar" class="text-secondary"></fa-icon>
            </div>

        </div>


        <button *ngIf="m_bUserHasReviewed === false" class="btn btn-success" (click)="addNewReview()">
            Add Review
        </button>
        <button *ngIf="m_bUserHasReviewed === true" class="btn btn-success" disabled>
            Already Reviewed
        </button>

    </div>
    <div class="flex-fill d-flex flex-column">

        <div class="border my-2 p-2" *ngFor="let oReview of m_aoReviews">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div class="d-flex flex-row gap-2">
                    <!-- <div class="user-iamge mr-3"
                        style="background-image: url('assets/img/placeholder/user-placeholder.png')"></div> -->
                    <fa-icon class="text-success" [icon]="faAlien"></fa-icon>
                    <div class="reviews-name">{{oReview.userId}}</div>
                </div>
                <div *ngIf="isMineReview(oReview)" class="d-flex justify-content-end gap-1">
                    <div class="delete-btn ml-3 btn btn-secondary btn-sm" (click)="updateReview(oReview)">
                        <fa-icon [icon]="faEdit"></fa-icon>
                        {{"WAP_UPDATE"|translate}}
                    </div>
                    <div class="delete-btn ml-3 btn btn-secondary btn-sm" (click)="deleteReview(oReview)">
                        <fa-icon [icon]="faTrash"></fa-icon>
                        {{"WAP_DELETE"|translate}}
                    </div>
                </div>
            </div>

            <p>{{oReview.vote}}</p>
            <p>{{oReview.title}}</p>
            <p>{{oReview.comment}}</p>
            <div class="text-success">{{oReview.date | date: 'dd/MM/yyyy'}}</div>
            <div class="d-flex flex-row justify-content-end gap-1">
                <button class="btn btn-secondary btn-sm" (click)="addNewComment(oReview)">Add Comment</button>
                <button class="btn btn-secondary btn-sm" (click)="getComments(oReview)">Show Comments</button>
            </div>
            <div *ngIf="m_bShowComments" class="mt-1">
                <div *ngIf="m_aoComments.length === 0" class="reviews-list shadow-sm p-3 mb-4">
                    <div class="d-flex align-items-center justify-content-between">
                        {{"WAP_NO_COMMENTS"|translate}}
                    </div>
                </div>
                <div *ngIf="m_aoComments.length > 0" class="reviews-list shadow-sm gap-2">
                    <div class="d-flex flex-column gap-1 border p-3 mt-3" *ngFor="let oComment of m_aoComments">
                        <div class="d-flex flex-row align-items-center justify-content-between">
                            <div class="d-flex flex-row gap-2">
                                <!-- <div class="user-iamge mr-3"
                                    style="background-image: url('assets/img/placeholder/user-placeholder.png')"></div> -->
                                <fa-icon class="text-success" [icon]="faAlien"></fa-icon>
                                <div class="reviews-name">{{oComment.userId}}</div>
                            </div>
                            <div *ngIf="isMineComment(oComment)" class="d-flex justify-content-end gap-1">
                                <div class="delete-btn ml-3 btn btn-secondary btn-sm"
                                    (click)="updateComment(oComment, oReview)">
                                    <fa-icon [icon]="faEdit"></fa-icon>
                                    {{"WAP_UPDATE"|translate}}
                                </div>
                                <div class="delete-btn ml-3 btn btn-secondary btn-sm" (click)="deleteComment(oComment, oReview)">
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                    {{"WAP_DELETE"|translate}}
                                </div>
                            </div>
                        </div>
                        <div>{{oComment.text}}</div>
                        <div class="text-success">{{oComment.date | date: 'dd/MM/yyyy'}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn btn-primary align-self-center">Load More</div>
    </div>

</div>