<div class="apps-dialog d-flex flex-column justify-content-between" style="height: 100%">
    <div class="dialog-header d-flex flex-row justify-content-between font-bold">Product details
        <span class="close-btn material-symbols-outlined" (click)="onDismiss(false)"> close</span>
    </div>
    <div class="dialog-content flex-fill d-flex flex-column gap-2">
        <div class="product-info-container d-flex flex-row gap-2">
            <div class="info-container" style="width: 70%">
                <div class="font-bold">Original name</div>
                <p>{{m_oProduct.fileName}}</p>
            </div>
            <div class="info-container">
                <div class="font-bold">Product size</div>
                <div>Unavailable</div>
            </div>
        </div>
        <app-input-field [m_sLabel]="'Friendly Name'" [m_sInputValue]="m_oProduct.productFriendlyName"
            (m_oInputChange)="setProductFriendlyName($event)"></app-input-field>
        <div class="textarea-wrapper" style="height: 40%">
            <app-textarea [m_sLabel]="'Description'" [m_sInputString]="m_oProduct.description"
                (keyup)="setDescription($event)"></app-textarea>
        </div>
        <div class="d-flex flex-row align-items-center gap-3">
            <app-autocomplete class="mt-4 flex-fill" [m_sLabel]="'Apply Style'" [m_aoInputs]="m_asStyles"
                [m_sPlaceholder]="m_oProduct.style? m_oProduct.style : 'Select style'"
                (m_oSelectionChange)="setStyleSelection($event)"></app-autocomplete>
            <app-button class="align-self-end " [m_sLabel]="'Browse Styles'" (click)="openStylesDialog()"
                [m_bOutline]="true"></app-button>
        </div>

    </div>
    <div class="dialog-footer d-flex flex-row justify-content-end gap-3">
        <app-button [m_sLabel]="'Cancel'" [m_bOutline]="true" (click)="onDismiss(false)"></app-button>
        <app-button [m_sLabel]="'Save Changes'" (click)="updateProduct()"></app-button>
    </div>
</div>