div.dialog {
    height: 100%;
}

label.product-form-label {
    width: 20%;
}

.info-container {
    overflow-wrap: break-word;
}

p {
    cursor: pointer
}

p:hover {
    color: var(--wasdiGreen);
}