<header class="p1 bg-secondary">
    <h3 class="text-light">Product Properties</h3>
</header>
<form class="d-flex flex-column gap-3 px-5" name="" #f="ngForm" (ngSubmit)="f.form && updateProduct()">
    <div class="d-flex flex-row align-items-center gap-3">
        <label for="" style="width:20%;">Original Name: </label>
        <input class="form-control" type="text" readonly disabled value={{m_oProduct.fileName}}>
    </div>
    <div class="d-flex flex-row align-items-center gap-3">
        <label for="friendlyName" style="width:20%;">Friendly Name:</label>
        <input type="text" name="friendlyName" class="form-control" placeholder={{m_oProduct.productFriendlyName}}
            [(ngModel)]="m_oEditProduct.friendlyName">
    </div>
    <div class="d-flex flex-row align-items-center gap-3">
        <label for="description" style="width:20%;">Description:</label>
        <textarea class="form-control" name="description" id="" cols="25" rows="5"
            [(ngModel)]="m_oEditProduct.description" placeholder={{m_oProduct.description}}></textarea>
    </div>
    <div class="d-flex flex-row align-items-center gap-3">
        <label for="" style="width:20%;">Style:</label>
        <input type="text" [matAutocomplete]="auto" class="form-control" name="style" [(ngModel)]="m_oEditProduct.style"
            placeholder={{m_oEditProduct.style}}>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="getStyleName">
            <mat-option *ngFor="let oStyle of m_asStyles" [value]="oStyle">
                {{oStyle.name}}
            </mat-option>
        </mat-autocomplete>
    </div>

    <button class="btn btn-success align-self-end">Save</button>

</form>