<div class="dropzone d-flex flex-column align-items-center justify-content-center gap-1" appDragAndDrop
    (fileDropped)="onFileDropped($event)">
    <input type="file" class="dropzone-input" name="m_oSelectedFile" id="" (change)="onFileSelect($event.target)">
    <h3 class="d-flex flex-row align-items-center justify-content-center gap-1 p-0 m-0"><span
            class="material-symbols-outlined">
            cloud_upload
        </span> Drag here or <span class="browse-link">browse</span></h3>
    <div class="dropzone-label">
        {{m_sSelectedFileName ? m_sSelectedFileName : m_sPrompt}}
    </div>
</div>