/* Default Buttons */
.wasdi-btn {
    align-items: center;
    background: var(--neutral50Brand);
    border-radius: 4px;
    color: #FFFFFF;
    display: inline-flex;
    gap: 6px;
    flex-shrink: 0;
    font-size: 16px;
    height: 32px;
    padding: 8px;
    width: 100%;
}

.btn-outline {
    background-color: transparent;
    border: 1px solid var(--neutral85);
    color: var(--neutral85);
}

.btn-link {
    background: transparent;
    color: var(--neutral85);
    text-decoration: none;
}

.btn-round {
    border-radius: 100px;
}


/* Size Dimensions */
.wasdi-btn-sm {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    gap: 4px;
}

.wasdi-btn-lg {
    padding: 8px 20px;
    height: 48px;
}

/* Muted BUtton */
.muted {
    color: var(--neutral85);
    border: 1px solid transparent;
    background: transparent;
}


/* Disabled Button */
.wasdi-btn:disabled {
    cursor: not-allowed;
    background-color: var(--neutral25);
}

.btn-outline:disabled {
    border: 1px solid var(--neutral25);
    background: var(--neutral5);
    color: var(--neutral25);
}

.btn-link:disabled {
    background: transparent;
    color: var(--neutral25);
}

/* WASDI Button Hover States */

.wasdi-btn:hover:not([disabled]) {
    background: var(--wasdiGreen);
    transition: ease-out 300ms;
}

.btn-outline:hover:not([disabled]) {
    color: #009036;
    border: 1px solid var(--wasdiGreen);
    background: var(--wasdiGreenLight);
}

.btn-link:hover:not([disabled]) {
    background: transparent;
    color: var(--darkAccessible);
}

.btn-round:hover:not([disabled]) {
    border-radius: 100px;
    background: var(--darkAccessible);
    transition: ease-out 300ms;
}


.muted:hover {
    background-color: var(--wasdiGreen) !important;
    color: #FFFFFF !important;
    border: 1px solid var(--wasdiGreen) !important;

}


.wasdi-btn>span.material-symbols-outlined {
    font-size: 20px !important;
}

.icon-only-sm {
    padding: 12px 2px;
}

.btn-delete {
    background-color: var(--wasdiDanger);
}

.btn-solid {
    background-color: #FFFFFF;
}

.text-white {
    color: #FFFFFF;
}

.border-white {
    border: 1px solid #FFFFFF;
}

.solid {
    background-color: var(--wasdiGreen);
    color: #FFFFFF;
}