<button class="wasdi-btn d-flex flex-row justify-content-center align-items-center" [class.wasdi-btn-sm]="m_sSize === 'small'"
    [class.wasdi-btn-lg]="m_sSize=== 'large'" [class.btn-outline]="m_bOutline" [class.btn-link]="m_bLink" [class.muted]="m_bMuted"
    [class.btn-round]="m_bRounded" [disabled]="m_bDisabled">
    <span class="material-symbols-outlined" *ngIf="m_sIconLeft">
        {{m_sIconLeft}}</span>
    {{m_sLabel}}
    <span class="material-symbols-outlined" *ngIf="m_sIconRight">
        {{m_sIconRight}}</span>
</button>