<button class="wasdi-btn d-flex flex-row justify-content-center align-items-center" [class.btn-solid]="m_bIsBgSolid"
    [class.wasdi-btn-sm]="m_sSize === 'small'" [class.icon-only-sm]="m_sSize === 'small' && !m_sLabel"
    [class.wasdi-btn-lg]="m_sSize=== 'large'" [class.btn-outline]="m_bOutline" [class.btn-link]="m_bLink"
    [class.muted]="m_bMuted" [class.text-white]="m_bTextWhite" [class.border-white]="m_bTextWhite && m_bOutline"
    [class.solid]="m_bBackgroundColor"
    [class.btn-round]="m_bRounded" [class.btn-delete]="m_bIsDelete" [disabled]="m_bDisabled">
    <span class="material-symbols-outlined" [class.icon-small]="m_sSize === 'small'" *ngIf="m_sIconLeft">
        {{m_sIconLeft}}</span>
    {{m_sLabel}}
    <span class="material-symbols-outlined" *ngIf="m_sIconRight">
        {{m_sIconRight}}</span>
</button>