<div class="apps-dialog d-flex flex-column justify-content-between h-100">
    <div class="dialog-header font-bold d-flex flex-row justify-content-between">
        {{m_bEditMode ? 'Edit Project - ' + m_oProject.name : 'Create Project -' + m_oSubscription.name}}
        <span class="close-btn material-symbols-outlined justify-self-end" (click)="onDismiss()"> close</span>
    </div>
    <div class="dialog-content flex-fill">
        <div class="d-flex flex-column gap-2">
            <app-input-field [m_sLabel]="'Project Name'" [m_sInputValue]="m_oProject.name"
                (m_oInputChange)="m_oEditProject.name = $event.event.target.value"></app-input-field>
            <app-input-field [m_sLabel]="'Subscription'" [m_sInputValue]="m_oSubscription.name" [m_bIsDisabled]="true"
                [m_bIsReadonly]="true"></app-input-field>
            <app-textarea [m_sLabel]="'Description'" (keyup)="getDescription($event)"></app-textarea>
            <div class="d-flex flex-row align-items-center gap-1">
                <input name="isActive" type="checkbox" class="wasdi-checkbox"
                    [(ngModel)]="m_oEditProject.activeProject">Set Active
                <label for="isActive">Project</label>
            </div>
        </div>
    </div>
    <div class="dialog-footer d-flex flex-row justify-content-end">
        <app-button [m_sLabel]="'KEY_PHRASES.SAVE' | translate" (click)="saveProject()"></app-button>
    </div>
</div>