<div class="d-flex flex-column justify-content-between">
  @if (m_sLabel) {
    <label for="">{{m_sLabel}}</label>
  }
  <mat-select [multiple]="m_bIsMultiSelect" class="form-control" placeholder="{{m_sPlaceholder}}" name="dropdown"
    (selectionChange)="emitSelectionChange($event)" [(value)]="m_aoSelectedItems" disableOptionCentering="'false'">
    @if (m_bHasSearch) {
      <div class="mat-search-container">
        <input type="text" name="m_sStyle" placeholder="Search..." class="mat-select-search"
          [(ngModel)]="m_sSearchString">
        </div>
      }
      <mat-select-trigger>
        {{getValues(m_aoSelectedItems)}}
      </mat-select-trigger>
      @if (m_bHasSearch) {
        <div>
          @for (oItem of m_aoDropdownItems| filter: m_sSearchString; track oItem) {
            <mat-option [value]="oItem">@if (m_bShowFileExtension === false) {
              <span
                >
                {{oItem.name ? oItem.name : oItem.workspaceName?
                oItem.workspaceName : oItem}}
              </span>
            }
            @if (m_bShowFileExtension === true) {
              <span>
              {{oItem.fileName ? oItem.fileName : oItem.name}}</span>
            }
            @if (oItem.workspaceName) {
              <span class="material-symbols-outlined"
                (click)="m_oDeleteFn(oItem, m_oController)">
                delete
              </span>
            }</mat-option>
          }
        </div>
      }
      @if (!m_bHasSearch) {
        <div>
          @for (oItem of m_aoDropdownItems; track oItem) {
            <mat-option [value]="oItem">@if (m_bShowFileExtension === false) {
              <span
                >
                {{oItem.name ? oItem.name : oItem.workspaceName?
                oItem.workspaceName : oItem}}
              </span>
            }
            @if (m_bShowFileExtension === true) {
              <span>
              {{oItem.fileName ? oItem.fileName : oItem.name}}</span>
            }
            @if (oItem.workspaceName) {
              <span class="material-symbols-outlined"
                (click)="m_oDeleteFn(oItem, m_oController)">
                delete
              </span>
            }</mat-option>
          }
        </div>
      }
    </mat-select>

    @if (m_bFileExt) {
      <div class="d-flex flex-row align-items-center gap-1">
        <input class="wasdi-checkbox" type="checkbox" name="show-file-ext" id="" (click)="switchFileExtension($event)">
        <label for="show-file-ext">Show File Extension</label>
      </div>
    }
  </div>