<div class="d-flex flex-column justify-content-between">
    <label for="" *ngIf="m_sLabel">{{m_sLabel}}</label>
    <mat-select [multiple]="m_bIsMultiSelect" class="form-control" placeholder="{{m_sPlaceholder}}" name="dropdown" (selectionChange)="emitSelectionChange($event)"
        [(value)]="m_aoSelectedItems" disableOptionCentering="'false'">
        <div *ngIf="m_bHasSearch" class="mat-search-container">
            <input type="text" name="m_sStyle" placeholder="Search..." class="mat-select-search">
        </div>
        <mat-select-trigger>
            {{getValues(m_aoSelectedItems)}}
        </mat-select-trigger>
        <div *ngIf="m_bHasSearch">
            <mat-option *ngFor="let oItem of m_aoDropdownItems| filter: m_sSearchString" [value]="oItem"><span
                    *ngIf="m_bShowFileExtension === false">
                    {{oItem.name ? oItem.name : oItem.workspaceName?
                    oItem.workspaceName : oItem}}
                </span>
                <span *ngIf="m_bShowFileExtension === true">
                    {{oItem.fileName ? oItem.fileName : oItem.name}}</span>
                <span *ngIf="oItem.workspaceName" class="material-symbols-outlined"
                    (click)="m_oDeleteFn(oItem, m_oController)">
                    delete
                </span></mat-option>
        </div>
        <div *ngIf="!m_bHasSearch">
            <mat-option *ngFor="let oItem of m_aoDropdownItems" [value]="oItem"><span
                    *ngIf="m_bShowFileExtension === false">
                    {{oItem.name ? oItem.name : oItem.workspaceName?
                    oItem.workspaceName : oItem}}
                </span>
                <span *ngIf="m_bShowFileExtension === true">
                    {{oItem.fileName ? oItem.fileName : oItem.name}}</span>
                <span *ngIf="oItem.workspaceName" class="material-symbols-outlined"
                    (click)="m_oDeleteFn(oItem, m_oController)">
                    delete
                </span></mat-option>
        </div>
    </mat-select>

    <div *ngIf="m_bFileExt" class="d-flex flex-row align-items-center gap-1">
        <input class="wasdi-checkbox" type="checkbox" name="show-file-ext" id="" (click)="switchFileExtension($event)">
        <label for="show-file-ext">Show File Extension</label>
    </div>
</div>