<div class="d-flex flex-fill flex-column gap-5">
  <div class="header font-bold d-flex flex-row justify-content-between">
    Private Missions
    <app-button
      [m_sLabel]="'Add new Mission'"
      (click)="openContactForm()"
    ></app-button>
  </div>
  <div class="d-flex flex-column-gap-2">
    @if (!m_bMissionsLoaded) {
      <app-invader></app-invader>
    }
    @if (m_bMissionsLoaded && m_aoMissions.length > 0) {
      <div
        class="table-wrapper flex-fill"
        >
        <table>
          <thead class="table-heading-container">
            <tr>
              <td>Mission Name</td>
              <td>Owner</td>
              <td>Permissions</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            @for (oMission of m_aoMissions; track oMission) {
              <tr>
                <td>{{ oMission.missionName }}</td>
                <td>{{ oMission.missionOwner }}</td>
                <td>
                  {{ oMission.permissionType ? oMission.permissionType : "Owner" }}
                </td>
                <td class="d-flex flex-row gap-2">
                  @if (oMission.permissionType !== 'readOnly') {
                    <span
                      (click)="openShareUI(oMission)"
                      class="material-symbols-outlined"
                      matTooltip="Manage Collaborators"
                      >
                      group_add
                    </span>
                  }
                  @if (oMission.permissionType !== 'readOnly') {
                    <span
                      (click)="removeMission(oMission)"
                      class="material-symbols-outlined"
                      matTooltip="Delete Mission"
                      >
                      delete
                    </span>
                  }
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
  </div>
</div>
