<div class="flex-fill d-flex flex-column gap-4">
    <div class="header font-bold d-flex flex-row justify-content-between">{{ "EMAIL_PREF_TITLE" |translate}} <app-button
            [m_sLabel]="'Save changes'"></app-button>
    </div>
    <div class="preference-container">
        <div class="d-flex flex-row align-items-center gap-1">
            <input type="checkbox" class="wasdi-checkbox" name="" id="">{{"EMAIL_PREF_NEW_CONTENT" | translate}}
        </div>
        <p class="text-secondary mx-4">{{"EMAIL_PREF_NEW_CONTENT_HELP" | translate}}</p>
    </div>
    <div class="preference-container">
        <div class="d-flex flex-row align-items-center gap-1">
            <input type="checkbox" class="wasdi-checkbox" name="" id="">{{"EMAIL_PREF_BETA" | translate}}</div>
        <p class="text-secondary mx-4">{{"EMAIL_PREF_BETA_HELP" | translate}}</p>
    </div>
    <div class="preference-container">
        <div class="d-flex flex-row align-items-center gap-1">
            <input type="checkbox" class="wasdi-checkbox" name="" id="">{{"EMAIL_PREF_PROM" | translate}}</div>
        <p class="text-secondary mx-4">{{"EMAIL_PREF_PROM_HELP" | translate}}</p>
    </div>
    <div class="preference-container">
        <div class="d-flex flex-row align-items-center gap-1">
            <input type="checkbox" class="wasdi-checkbox" name="" id="">{{"EMAIL_PREF_PROGRESS" | translate}}</div>
        <p class="text-secondary mx-4">{{"EMAIL_PREF_PROGRESS_HELP" | translate}}</p>
    </div>
    <!--div class="preference-container">
        <div class="d-flex flex-row align-items-center gap-1">
            <input type="checkbox" class="wasdi-checkbox" name="" id="">Outage Reminders
        </div>
        <p class="text-secondary mx-4">Be reminded of planned outages.</p>
    </div-->
</div>