<div class="flex-fill d-flex flex-column gap-4">
    <div class="header font-bold d-flex flex-row justify-content-between">Email preferences <app-button
            [m_sLabel]="'Save changes'"></app-button>
    </div>
    <div class="preference-container">
        <div class="d-flex flex-row align-items-center gap-1">
            <input type="checkbox" class="wasdi-checkbox" name="" id="">New Content Annoucements
        </div>
        <p class="text-secondary mx-4">Stay up to date on new content (e.g., features or promising processors) in
            WASDI.
        </p>
    </div>
    <div class="preference-container">
        <div class="d-flex flex-row align-items-center gap-1">
            <input type="checkbox" class="wasdi-checkbox" name="" id="">Beta Testing Invitations
        </div>
        <p class="text-secondary mx-4">Be invited to participate as a beta tester for new WASDI features and give
            feedback.</p>
    </div>
    <div class="preference-container">
        <div class="d-flex flex-row align-items-center gap-1">
            <input type="checkbox" class="wasdi-checkbox" name="" id="">Special Promotions and Events
        </div>
        <p class="text-secondary mx-4">Be notified of special promotions or events (in-person or online).</p>
    </div>
    <div class="preference-container">
        <div class="d-flex flex-row align-items-center gap-1">
            <input type="checkbox" class="wasdi-checkbox" name="" id="">Progress Updates
        </div>
        <p class="text-secondary mx-4">Be notified of progress on bugs or new features in WASDI.</p>
    </div>
    <div class="preference-container">
        <div class="d-flex flex-row align-items-center gap-1">
            <input type="checkbox" class="wasdi-checkbox" name="" id="">Outage Reminders
        </div>
        <p class="text-secondary mx-4">Be reminded of planned outages.</p>
    </div>

</div>