<div class="processes-bar-container d-flex flex-column">
    <!-- Progress indicator for closed bar -->
    <div *ngIf="m_oLastProcesses !== null" class="bg-success"
        [style.width]="m_oLastProcesses.progressPerc ? m_oLastProcesses.progressPerc + '%' : ''" style="height: 5px;"
        matTooltip="90%" [matTooltipPosition]="'after'">
    </div>
    <div class="processes-bar d-flex flex-row justify-content-between align-items-center px-3 flex-fill">
        <div class="running-queue-container d-flex flex-row align-items-center justify-content-between gap-3">
            <div class="d-flex flex-row align-items-center gap-1">
                Running: <span class="font-bold">{{m_iNumberOfProcesses}} </span>
            </div>
            <div class="d-flex flex-row align-items-center gap-1">
                Created: <span class="font-bold">{{m_iWaitingProcesses}}</span>
            </div>
            <div *ngIf="m_oLastProcesses !== null" class="d-flex flex-row align-items-center gap-1">
                <div>Duration: <span class="font-bold">{{m_oLastProcesses | duration}}</span></div>
                <div>{{m_oLastProcesses.productName}}</div>
            </div>
        </div>
        <div class="process-utilities d-flex flex-row gap-2">
            <div class="rabbit-connect"
                [ngClass]="m_iIsWebsocketConnected ? 'rabbit-connected' : 'rabbit-not-connected'">
                <span class="material-symbols-outlined">
                    electric_bolt
                </span>
            </div>
            <div class="card-divider"></div>
            <div class="logs-open-container d-flex flex-row align-items-center gap-2">
                <app-button [m_sLabel]="'Open Logs List'.toUpperCase()" [m_sSize]="'small'" [m_bOutline]="true"
                    [m_bDisabled]="false" [m_bLink]="false" [m_bRounded]="false" [m_sIconLeft]="'list'"
                    (click)="openProcessesDialog()"></app-button>
                <app-button [m_sSize]="'small'" [m_bDisabled]="false" [m_bLink]="false" [m_bRounded]="false"
                    [m_sIconLeft]="'expand_less'" (click)="openProcessesBar()"></app-button>
            </div>
        </div>
        <!-- <div *ngIf="m_bShowDownloadProgress" class="text-light">
            Downloading: {{m_sDownloadProductName}}
            <mat-progress-bar [mode]="'indeterminate'" [color]="'success'" style="width: 300px;"></mat-progress-bar>
        </div>
        <div class="d-flex flex-row gap-5 align-items-center">
            <div class="py-2 px-3" style="border-radius: 100%;"
                [ngClass]="m_iIsWebsocketConnected ? 'bg-success' : 'bg-danger'">
                <fa-icon class="text-light" [icon]="faPlug"></fa-icon>
            </div>
            <div class="d-flex flex-row align-items-center gap-1">
                CREATED: <span class="badge rounded-pill bg-primary">{{m_iWaitingProcesses}}</span>
            </div>
            <div class="d-flex flex-row align-items-center gap-1">
                RUNNING: <span class="badge rounded-pill bg-success">{{m_iNumberOfProcesses}} </span>
            </div>
            <div class="d-flex flex-row align-items-center gap-2">
                <button class="btn" (click)="openProcessesDialog()">
                    <fa-icon [icon]="faBars"></fa-icon>
                </button>
                <button class="btn btn-dark me-2" style="border-radius: 100%;" (click)="openProcessesBar()">
                    <fa-icon [icon]="faArrowUp"></fa-icon>
                </button>
            </div>
        </div> -->
    </div>
</div>