<div class="navbar bg-secondary d-flex flex-row gap-5 justify-content-end px-3" style="position: absolute; bottom: 0; width: 100vw">
    <div class="d-flex flex-row gap-5 align-items-center">
        <div class="d-flex flex-row align-items-center gap-1">
            WAITING: <span class="badge rounded-pill bg-primary">{{m_iWaitingProcesses}}</span>
        </div>
        <div class="d-flex flex-row align-items-center gap-1">
            RUNNING: <span class="badge rounded-pill bg-success">{{m_iNumberOfProcesses}} </span>
        </div>
        <button class="btn btn-dark" style="border-radius: 100%;" (click)="openProcessesBar()">
            <fa-icon [icon]="faArrowUp"></fa-icon>
        </button>
    </div>
</div>