<div class="bg-secondary" style="height: 50vh; width: 100%;">
    <div class="d-flex flex-row gap-3 align-items-center">
        <button class="btn fs-3">
            <fa-icon [icon]="faRefresh"></fa-icon>
        </button>
        <button class="btn fs-3">
            <fa-icon [icon]="faDownload"></fa-icon>
        </button>
    </div>
    <div class="d-flex flex-row p-3 gap-2" style="width: 75%">
        <input type="text" class="form-control" placeholder="Status">
        <input type="text" class="form-control" placeholder="Operation">
        <input type="text" class="form-control" placeholder="Name">
        <input type="text" class="form-control" placeholder="User">
        <input type="text" class="form-control" placeholder="Size">
        <input type="text" class="form-control" placeholder="Created">
        <input type="text" class="form-control" placeholder="Started">
        <button class="btn btn-dark">Apply</button>
    </div>
    <table class="table table-dark table-striped table-hover table-sm">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Operation</th>
                <th scope="col">Name</th>
                <th scope="col">User</th>
                <th scope="col">Size</th>
                <th scope="col">Created</th>
                <th scope="col">Started</th>
                <th scope="col">Progress</th>
                <th scope="col">Duration</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let oProcess of m_aoProcessesRunning">
                <td>
                    <span>{{oProcess.status}}</span>
                </td>
                <td>
                    {{oProcess.operationType}}
                </td>
                <td>
                    {{oProcess.productName}}
                </td>
                <td>
                    {{oProcess.userId}}
                </td>
                <td>
                    {{oProcess.fileSize}}
                </td>
                <td>
                    {{oProcess.operationDate}}
                </td>
                <td>
                    {{oProcess.operationstartDate}}
                </td>
                <td>
                    {{oProcess.progressPerc}}
                </td>
            </tr>
        </tbody>
    </table>
</div>