<!-- <div> -->
    <!-- Processes Bar Downloading -->
    <!-- Processes Bar Header -->
    <!-- <div class="process-bar-header d-flex flex-row justify-content-between align-items-center px-3">
        <div class="running-queue-container d-flex flex-row align-items-center justify-content-between gap-3">
            <div class="d-flex flex-row align-items-center gap-1">
                Running: <span class="font-bold">{{m_iNumberOfProcesses}} </span>
            </div>
            <div class="d-flex flex-row align-items-center gap-1">
                Created: <span class="font-bold">{{m_iWaitingProcesses}}</span>
            </div>
        </div>
        <div class="process-utilities d-flex flex-row gap-2">
            <div class="rabbit-connect"
                [ngClass]="m_iIsWebsocketConnected ? 'rabbit-connected' : 'rabbit-not-connected'">
                <span class="material-symbols-outlined">
                    electric_bolt
                </span>
            </div> -->
            <!-- <div class="card-divider"></div>
            <div class="logs-open-container d-flex flex-row align-items-center gap-2"> -->
                <!-- <app-button [m_sLabel]="'Open Logs List'.toUpperCase()" [m_sSize]="'small'" [m_bOutline]="true"
                    [m_bDisabled]="false" [m_bLink]="false" [m_bRounded]="false" [m_sIconLeft]="'list'"
                    (click)="openProcessesDialog()"></app-button> -->
                <!-- <app-button [m_sSize]="'small'" [m_bDisabled]="false" [m_bLink]="false" [m_bRounded]="false"
                    [m_sIconLeft]="'expand_more'" (click)="dismiss($event)"></app-button>
            </div>
        </div>
    </div> -->
    <!-- Processes Bar Logs -->
    <!-- <app-logs-table [m_aoTableData]="m_aoProcessesRunning"></app-logs-table>
</div> -->