div.dialog-header {
    background-image: linear-gradient(180deg, #43516a8d, lightgray);
}

div.dialog-header>h3 {
    font-weight: bold;
}

.processes-filters {
    background-image: linear-gradient(180deg, lightgray, rgba(255, 255, 255, 0))
}

table {
    table-layout: fixed;
    word-wrap: break-word;
    font-size: 0.8rem;
}