div.process-bar-header {
    background-image: linear-gradient(180deg, #43516a8d, lightgray);
}

div.process-bar-filters {
    width: 100%;
    background-image: linear-gradient(180deg, lightgray, rgba(255, 255, 255, 0))
}

table {
    width: 100%;
}

td {
    cursor: default;
    max-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a.button {
    cursor: pointer;
    color: #000000;
}