<div style="height: 52vh; width: 100%;">
    <div class="process-bar-header d-flex flex-row gap-3 align-items-center justify-content-end px-2">
        <div>
            <button class="btn fs-3" (click)="openProcessesModal($event)">
                <fa-icon [icon]="faList"></fa-icon>

            </button>
            <button class="btn btn-dark" style="border-radius: 100%;" (click)="dismiss($event)">
                <fa-icon [icon]="faArrowDown"></fa-icon>
            </button>
        </div>
    </div>

    <div class="d-flex flex-row process-bar-filters">
        <form class="d-flex flex-row gap-2 align-items-center justify-cotent-start p-2" name="m_oFilter" #f="ngForm"
            (ngSubmit)="f.form && this.openDialogWithFilter($event)">
            <h5>Search</h5>
            <select name="" id="" class="form-select" name="status" [(ngModel)]="m_oFilter.sStatus">
                <option value="" disabled selected hidden>Status</option>
                <option value="None">Any</option>
                <option value="CREATED">Created</option>
                <option value="RUNNING">Running</option>
                <option value="WAITING">Waiting</option>
                <option value="READY">Ready</option>
                <option value="DONE">Done</option>
                <option value="ERROR">Error</option>
                <option value="STOPPED">Stopped</option>
            </select>
            <select class="form-select" name="type" [(ngModel)]="m_oFilter.sType">
                <option value="" disabled selected hidden>Type</option>
                <option value="None">Any</option>
                <option value="RUNPROCESSOR">RUNPROCESSOR</option>
                <option value="RUNIDL">RUNIDL</option>
                <option value="RUNMATLAB">RUNMATLAB</option>
                <option value="INGEST">INGEST</option>
                <option value="DOWNLOAD">DOWNLOAD</option>
                <option value="PUBLISHBAND">PUBLISHBAND</option>
                <option value="GRAPH">GRAPH</option>
                <option value="DEPLOYPROCESSOR">DEPLOYPROCESSOR</option>
                <option value="COPYTOSFTP">COPYTOSFTP</option>
                <option value="MOSAIC">MOSAIC</option>
                <option value="MULTISUBSET">MULTISUBSET</option>
            </select>
            <input type="text" class="form-control" name="name" placeholder="Name" [(ngModel)]="m_oFilter.sName">
            <input type="date" class="form-control" name="date" placeholder="Date" [(ngModel)]="m_oFilter.sDate"
                disabled>
            <button type="submit" class="btn btn-success">
                Apply
            </button>
            <button class="btn btn-dark" (click)="resetFilter($event)">
                Reset
            </button>
        </form>
        <div class="d-flex flex-row">
            <button class="btn fs-3" (click)="refreshProcesses($event)">
                <fa-icon [icon]="faRefresh"></fa-icon>
            </button>
            <button class="btn fs-3" (click)="downloadOperations($event)">
                <fa-icon [icon]="faDownload"></fa-icon>
            </button>
        </div>
    </div>
    <table class="table table-light table-striped table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Operation</th>
                <th scope="col">Name</th>
                <th scope="col">User</th>
                <th scope="col">Size</th>
                <th scope="col">Created</th>
                <th scope="col">Started</th>
                <th scope="col">Progress</th>
                <th scope="col">Duration</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let oProcess of m_aoProcessesRunning">
                <td>
                    <span>{{oProcess.status}}</span>
                </td>
                <td title={{oProcess.operationType}}>
                    {{oProcess.operationType}}
                </td>
                <td title={{oProcess.productName}}>
                    {{oProcess.productName}}
                </td>
                <td title={{oProcess.userId}}>
                    {{oProcess.userId}}
                </td>
                <td>
                    {{oProcess.fileSize}}
                </td>
                <td>
                    {{oProcess.operationDate}}
                </td>
                <td>
                    {{oProcess.operationStartDate}}
                </td>
                <td>
                    <div class="progress-bar bg-success text-light active" role="progressbar"
                        [attr.aria-valuenow]="oProcess.progressPerc" [style.width]="oProcess.progressPerc+'%'"
                        aria-valuemin="0" aria-valuemax="100">
                        {{oProcess.progressPerc}}
                    </div>
                </td>
                <td>00:00:00</td>
                <td class="d-flex flex-row gap-3">
                    <a class="" title="Logs">
                        <fa-icon [icon]="faFile"></fa-icon>
                    </a>
                    <a class="" title="Payload">
                        <fa-icon [icon]="faDatabase"></fa-icon>
                    </a>

                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <button class="btn btn-primary" (click)="openProcessesModal($event)">Load More</button>
    </div>
</div>