main {
    min-height: calc(100vh - 3rem);
    height: 100%
}

div.hero-image {
    background-image: url("src/assets/images/hero-images/hero-img1.jpg");
    position: relative;
    left: -1.5rem;
    height: 200px;
    width: calc(100% + 1.5rem);
}

nav,
div.app-ui-container {
    padding: 0px 32px;
    margin: auto;
    max-width: 1400px;
}

nav {
    --bs-breadcrumb-divider: '>';
    --bs-breadcrumb-item-active-color: #000000;
    padding-top: 16px;
    padding-bottom: 8px;
}

ol.breadcrumb {
    font-size: 12px;
}

li.breadcrumb-item {
    cursor: pointer;
}

li.breadcrumb-item.active {
    font-weight: 700;
    color: #000000;
}

li.breadcrumb-item>a {
    text-decoration: none;
    color: #000000;
}