main {
    min-height: calc(100vh - 3rem);
    height: 100%
}

div.hero-image {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("src/assets/images/hero-images/hero-img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: -2rem;
    height: 200px;
    width: calc(100% + 2rem);
}



nav,
div.app-ui-container {
    padding: 0px 32px;
    margin: auto;
    max-width: 1000px;
}

nav {
    --bs-breadcrumb-divider: '>';
    --bs-breadcrumb-item-active-color: #000000;
    padding-top: 16px;
    padding-bottom: 8px;
}

ol.breadcrumb {
    font-size: 12px;
}

li.breadcrumb-item {
    cursor: pointer;
}

li.breadcrumb-item.active {
    font-weight: 700;
    color: #000000;
}

li.breadcrumb-item>a {
    text-decoration: none;
    color: #000000;
}