<div class="d-flex flex-column mx-3">
    <div class="d-flex flex-row justify-content-between">
        <h4>Organizations</h4>
        <button class="btn btn-success" (click)="openNewOrganizationDialog()"><fa-icon [icon]="faPlus"></fa-icon> Add
            Organization</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Owner</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let oOrganization of m_aoOrganizations">
                <td>{{oOrganization.name}}</td>
                <td>{{oOrganization.ownerUserId}}</td>
                <td>
                    <button class="btn btn-secondary" title="View Organization"><fa-icon [icon]="faInfo"></fa-icon></button>
                    <button class="btn btn-danger" title="Remove Organization"><fa-icon [icon]="faX"></fa-icon></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>