ul {
    padding: 0;
    overflow: scroll;
}

.workspace-list-wrapper {
    overflow: hidden;
}

.workspace-item {
    list-style: none;
    border: 1px solid #D9DCE1;
    border-radius: 8px;
    cursor: pointer;
    padding: 12px;
    width: 100%;
}

.workspace-item:hover {
    background: var(--neutral10);
}

.dialog-content {
    overflow: hidden;
}

.selected {
    background: var(--wasdiGreenLight);
    border: 1px solid var(--wasdiGreen);
}