<div class="apps-dialog d-flex flex-column justify-content-between h-100" style="height: 100%;">
    <div class="dialog-header d-flex flex-row justify-content-between font-bold">
        Send to Workspace
        <span class="close-btn material-symbols-outlined" (click)="onDismiss()"> close</span>
    </div>
    <div class="dialog-content flex-fill d-flex flex-column gap-3">
        <app-input-field [m_sPlacehodler]="'Search Workspaces'" [m_sIconLeft]="'search'" [m_sInputValue]="m_sSearch" (m_oInputChange)="m_sSearch = $event.event.target.value"></app-input-field>
        <ul class="flex-fill ">
            <li class="workspace-item my-1 d-flex flex-row justify-content-between align-items-center"
                [class.selected]="oWorkspace.selected" *ngFor="let oWorkspace of m_aoWorkspaceList | filter: m_sSearch"
                (click)="selectWorkspace($event, oWorkspace)">
                <div>
                    <div class="workspace-name font-bold">{{oWorkspace.workspaceName}}</div>
                    <div class="workspace-owner">Owner: {{oWorkspace.ownerUserId}}</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="dialog-footer d-flex flex-row justify-content-end">
        <!-- button for sending product(s) to workspace from search -->
        <app-button *ngIf="!m_bIsSharingProduct" [m_sLabel]="m_aoSelectedWorkspaces.length <= 2 ? 'Send to Workspace' : 'Send to Workspaces'" (click)="addProductToWorkspace()"></app-button>
        <app-button *ngIf="m_bIsSharingProduct" [m_sLabel]="m_aoSelectedWorkspaces.length <= 2 ? 'Send to Workspace' : 'Send to Workspaces'" (click)="shareProductToWorkspace()"></app-button>
    </div>
</div>