div.parent {
    min-height: calc(100vh - 3rem);
    position: relative;
}

div.img-wrapper {
    position: absolute;
    top: 0;
    left: 10%;
}

img {
    height: 212px;
    filter: drop-shadow(0px 20px 75px #43526B);
    transform: rotate(23deg);
}

div.price-container {
    background: #FFFFFF;
    border: 1px solid var(--neutral10);
    border-radius: 16px;
    font-size: 16px;
    padding: 24px;
    width: 330px;
    height: fit-content;
    box-shadow: 4px 0px 16px 0px #00000014;

}

.header {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 65px;
    font-size: 40px;
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding: 8px;
    text-align: center;
    width: 650px;
    z-index: 1;
}

div.price-header {
    color: var(--wasdiGreen);
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
}

.material-symbols-outlined {
    color: var(--wasdiGreen);
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

div.price-container.selected {
    border: 1px solid var(--wasdiGreen);
    background: var(--wasdiGreenLight);
}

div.price-slider {
    border: 1px solid var(--wasdiGreen);
    border-radius: 80px;
    gap: 8px;
    padding: 4px;
    height: 32px;
}

div.price-slider>div {
    cursor: pointer;
    padding: 0 6px;
    font-size: 14px;
}

div.active-price {
    border-radius: 80px;
    color: #FFFFFF;
    background-color: var(--wasdiGreen);

}

div.price-output {
    text-align: center;
    color: var(--wasdiGreen);
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
}

/* div.pricing-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
}

div.row-price {
    padding-top: 2em;
    justify-content: center;
}

div.single-price {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 2em;
    overflow: hidden;
}

.price-title {
    padding: 1em;
}

div.price-title>h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

.features-wrapper {
    padding: 1em;
}

.single-feature {
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 1em 0;
}

.single-feature>strong {
    border: 1px solid lightgray;
    padding: 3px 5px;
    border-radius: 4px;
}

.single-feature:last-child {
    border-bottom: none;
}

.btn-wrapper {
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 1em;
}

.btn-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.price-disabled {
    pointer-events: none;
    filter: brightness(0.9);
}

.free-bg {
    background-color: #43516A;
}

.standard-bg {
    background-color: #5cb85c;
}

.professional-bg {
    background-color: #f0ad4e;
} */