<div class="flex-fill d-flex flex-column align-items-center h-100 parent">
    <div class="img-wrapper">
        <img src="/assets/images/subscriptions-rocket.png" alt="">
    </div>
    <div class="header" [innerHTML]="('SUBSCRIPTIONS_HEADER' | translate)"></div>
    <div class="d-flex flex-row gap-2">
        <div class="price-container d-flex flex-column gap-3" [class.selected]="m_sSelectedPriceContainer ==='free'">
            <div>
                <div class="price-header">{{"SUBSCRIPTIONS_STARTER" | translate}}</div>
                <div>{{"SUBSCRIPTIONS_TRIAL_DESC" | translate}}</div>
            </div>
            <div class="d-flex flex-column gap-2">
                <div class="d-flex flex-row align-items-center gap-1">
                    <span class="material-symbols-outlined">
                        check_circle
                    </span>
                    {{ "SUBSCRIPTIONS_UP_TO" | translate}} <strong>8 cores</strong>
                </div>
                <div class="d-flex flex-row align-items-center gap-1">
                    <span class="material-symbols-outlined">
                        check_circle
                    </span>
                    <strong>20 GB</strong> {{ "SUBSCRIPTIONS_STORAGE" | translate}}
                </div>
                <div class="d-flex flex-row align-items-center gap-1">
                    <span class="material-symbols-outlined">
                        check_circle
                    </span>
                    <div [innerHTML]="'SUBSCRIPTIONS_DISCORD' | translate"></div>
                </div>
            </div>
            <app-button class="align-self-center" [m_sLabel]="'SUBSCRIPTIONS_TRIAL' | translate"
                [m_sSize]="'large'"></app-button>
        </div>
        <div class="price-container d-flex flex-column gap-3" [class.selected]="m_sSelectedPriceContainer ==='stnd'">
            <div>
                <div class="price-header">{{"SUBSCRIPTIONS_STANDARD" | translate}}</div>
                <div>{{"SUBSCRIPTIONS_STND_DESC" | translate}}</div>
            </div>
            <div class="d-flex flex-column gap-2">
                <div class="d-flex flex-row align-items-center gap-1">
                    <span class="material-symbols-outlined">
                        check_circle
                    </span>
                    {{ "SUBSCRIPTIONS_UP_TO" | translate}} <strong>48 cores</strong>
                </div>
                <div class="d-flex flex-row align-items-center gap-1">
                    <span class="material-symbols-outlined">
                        check_circle
                    </span>
                    <strong>100 GB</strong> {{ "SUBSCRIPTIONS_STORAGE" | translate}}
                </div>
                <div class="d-flex flex-row align-items-center gap-1">
                    <span class="material-symbols-outlined">
                        check_circle
                    </span>
                    <div [innerHTML]="'SUBSCRIPTIONS_ASSISTANCE' | translate"></div>
                </div>
            </div>
            <div class="price-slider d-flex flex-row justify-content-between align-items-center">
                <div [class.active-price]="m_sActiveStndPrice === 'day'"
                    (click)="setActivePrice('day', 'stnd', m_aoTypes[1])">1 {{ "SUBSCRIPTIONS_DAY" | translate}}
                </div>
                <div [class.active-price]="m_sActiveStndPrice === 'week'"
                    (click)="setActivePrice('week', 'stnd', m_aoTypes[2])">1
                    {{"SUBSCRIPTIONS_WEEK" | translate}}
                </div>
                <div [class.active-price]="m_sActiveStndPrice === 'month'"
                    (click)="setActivePrice('month', 'stnd', m_aoTypes[3])">1
                    {{"IMPORT_CRONTAB_MONTH" | translate}}
                </div>
                <div [class.active-price]="m_sActiveStndPrice === 'year'"
                    (click)="setActivePrice('year', 'stnd', m_aoTypes[4])">1
                    {{"IMPORT_CRONTAB_YEAR" | translate}}
                </div>
            </div>
            <div class="price-output">
                {{m_iStndPrice}}€
            </div>
            <app-button class="align-self-center" [m_sLabel]="'DIALOG_BUY_SUBSCRIPTION' | translate" [m_sSize]="'large'"
                (click)="showSubscriptionAddForm(m_oStndType, m_iStndPrice)"></app-button>
        </div>
        <div class="price-container d-flex flex-column gap-3" [class.selected]="m_sSelectedPriceContainer ==='pro'">
            <div>
                <div class="price-header">{{"SUBSCRIPTIONS_PRO" | translate}}</div>
                <div>{{"SUBSCRIPTIONS_PRO_DESC" | translate}}</div>
            </div>
            <div class="d-flex flex-column gap-2">
                <div class="d-flex flex-row align-items-center gap-1">
                    <span class="material-symbols-outlined">
                        check_circle
                    </span>
                    {{ "SUBSCRIPTIONS_UP_TO" | translate}} <strong>96 cores</strong>
                </div>
                <div class="d-flex flex-row align-items-center gap-1">
                    <span class="material-symbols-outlined">
                        check_circle
                    </span>
                    <strong>2 TB</strong> {{ "SUBSCRIPTIONS_STORAGE" | translate}}
                </div>
                <div class="d-flex flex-row align-items-center gap-1">
                    <span class="material-symbols-outlined">
                        check_circle
                    </span>
                    <div [innerHTML]="'SUBSCRIPTIONS_PRIORITY' | translate"></div>

                </div>
                <div class="d-flex flex-row align-items-center gap-1">
                    <span class="material-symbols-outlined">
                        check_circle
                    </span>
                    <div [innerHTML]="'SUBSCRIPTIONS_DEDICATED_TEAM' | translate">
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center gap-1">
                    <span class="material-symbols-outlined">
                        check_circle
                    </span>
                    <div [innerHTML]="'SUBSCRIPTIONS_DEDICATED_NODE' | translate"></div>
                </div>
            </div>
            <div class="align-self-center price-slider d-flex flex-row justify-content-between align-items-center">
                <div [class.active-price]="m_sActiveProPrice === 'month'"
                    (click)="setActivePrice('month', 'pro', m_aoTypes[5])">1
                    {{"IMPORT_CRONTAB_MONTH" |translate}}
                </div>
                <div [class.active-price]="m_sActiveProPrice === 'year'"
                    (click)="setActivePrice('year', 'pro', m_aoTypes[6])">1 {{"IMPORT_CRONTAB_YEAR" | translate}}
                </div>
            </div>
            <div class="price-output">
                {{m_iProPrice}}€
            </div>
            <app-button class="align-self-center" [m_sLabel]="'DIALOG_BUY_SUBSCRIPTION' | translate" [m_sSize]="'large'"
                (click)="showSubscriptionAddForm(m_oProType, m_iProPrice)"></app-button>
        </div>

        <div class="price-container d-flex flex-column gap-2" [class.selected]="m_sSelectedPriceContainer ==='stnd'">
            <div>
                <div class="price-header">{{"CREDITS_BOX" | translate}}</div>
                <div>{{"CREDITS_BOX_DESC" | translate}}</div>
            </div>
            <div class="d-flex flex-column gap-2">
                <div class="d-flex flex-row align-items-center gap-1">
                    <span class="material-symbols-outlined">
                        check_circle
                    </span>
                    {{ "CREDITS_ROW_1" | translate}}
                </div>
                <div class="d-flex flex-row align-items-center gap-1">
                    <span class="material-symbols-outlined">
                        check_circle
                    </span>
                    {{ "CREDITS_ROW_2" | translate}}
                </div>
                <div class="d-flex flex-row align-items-center gap-1">
                    <span class="material-symbols-outlined">
                        check_circle
                    </span>
                    <div [innerHTML]="'CREDITS_ROW_3' | translate"></div>
                </div>
            </div>
            <div class="price-slider d-flex flex-row justify-content-between align-items-center">
                <div [class.active-price]="m_sActiveCreditsPrice === 'Fifty'" (click)="setActiveCreditsPrice('Fifty')">
                    {{ "CREDITS_50" | translate}}
                </div>
                <div [class.active-price]="m_sActiveCreditsPrice === 'OneHundred'" (click)="setActiveCreditsPrice('OneHundred')">
                    {{"CREDITS_100" | translate}}
                </div>
            </div>
            <div class="price-output">
                {{m_iCreditsPrice}}€
            </div>
            <app-button class="align-self-center" [m_sLabel]="'DIALOG_BUY_SUBSCRIPTION' | translate" [m_sSize]="'large'"
                (click)="showBuyCreditPackageForm()"></app-button>
        </div>        

    </div>
</div>