<div class="parent">
    <div class="nav-layer-bar  px-2 bg-secondary d-flex align-items-center justify-content-between">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link text-light">
                    Navigation
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light">
                    Layers
                </a>
            </li>
        </ul>
        <fa-icon class="toggle-btn text-light" [icon]="faX"> </fa-icon>
    </div>
    <!-- Navigation and Layers content -->
    <div class="nav-layers-content">
        NAV NAV NAV
    </div>
</div>