<div class="parent d-flex flex-column">
    <div class="d-flex flex-row pb-3">
        <app-tab [m_sLabel]="'Navigation'" [m_bIsDisabled]="false" [m_bIsActive]="m_sActiveTab === 'nav'"
            (click)="setActiveTab('nav')"></app-tab>
        <app-tab [m_sLabel]="'Layers'" [m_bIsDisabled]="false" [m_bIsActive]="m_sActiveTab === 'layers'"
            (click)="setActiveTab('layers')"></app-tab>
    </div>
    <!-- Navigation and Layers content -->
    <div class="map-container-panel flex-fill h-100" [hidden]="m_sActiveTab !== 'nav'">
        <div class="" id="smallMapContainer" class="" style="height: 97.5%"></div>
    </div>
    <div class="layers-tab" *ngIf="m_sActiveTab === 'layers'">
        <ul class="list-group pt-3">
            <li *ngFor="let oBand of m_aoVisibleBands" style="width: 100%;" class="list-group-item d-flex flex-column">
                <div class="layer-title">
                    <div class="legend-container"></div>
                    <div class="band-title d-flex flex-row gap-1">
                        <div>{{oBand.name}}</div>
                        <div>{{oBand.productName}}</div>
                    </div>
                    <div class="button-options">

                    </div>
                </div>
                <div class="font-bold">
                    Layer opacity
                    <div class="slider-container d-flex flex-column"
                        style="height: fit-content; width: 100%;">
                        <app-slider [m_bHasThumbLabel]="true"></app-slider>

                    </div>
                </div>
                <!-- <div class="d-flex flex-row align-items-center justify-content-between">
                    <div style="width: 50%">
                        <p class="product-name" style="word-wrap: break-word;">
                            {{oBand.productName}}
                        </p>
                        <p>
                            {{oBand.name}}
                        </p>
                    </div>
                    <div class="d-flex flex-row">
                        <mat-slider *ngIf="b2DMapModeOn === true" [min]="0" [max]="100" discrete>
                            <input matSliderThumb [ngModel]="m_iOpacityVal" (input)="setOpacity($event, oBand.layerId)">
                        </mat-slider>
                        <button class="btn" (click)="zoomOnBandImage(oBand.geoserverBoundingBox)">
                            <fa-icon [icon]="faExpand"></fa-icon>
                        </button>
                        <button class="btn" (click)="showLayerLegend(oBand)">
                            <fa-icon [icon]="faList"></fa-icon>
                        </button>
                        <button class="btn text-danger" (click)="removeBandImage(oBand)">
                            <fa-icon [icon]="faX"></fa-icon>
                        </button>
                    </div>
                </div>
                <div *ngIf="oBand.showLegend">
                    <img src="{{oBand.legendUrl}}" />
                </div> -->
            </li>
        </ul>
    </div>
</div>