.parent {
    height: 100%;
}

#smallMapContainer {
    height: 100%
}

.list-group-item {
    border: 1px solid var(--neutral10);
    border-radius: 8px;
    width: 100%;
}


div.layer-title {
    width: 100%;
}

div.legend-container {
    border: 1px solid var(--neutral10);
    border-radius: 16px;
    cursor: pointer;
    padding: 4px;
    gap: 2px;
}

div.legend-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--neutral25);
}

div.dot-2 {
    background-color: var(--wasdiWarn);
}

div.dot-3 {

    background-color: var(--wasdiDanger);
}

.band-title {
    font-size: 14px;
    max-width: 65%;
}

p.band-info {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.layers-tab {
    overflow-y: scroll;
    height: 100%;
}

div.slider-container {
    padding-left: 2px; 
    width: 98%;
}