@for (oControl of getTabControls(); track oControl; let i = $index) {
  <div class="d-flex flex-column" style="padding-bottom:20px;">
    <!-- <label for="oControl">{{oControl.label}}</label> -->
    <!-- WAP Checkbox -->
    @if (oControl.type === 'boolean') {
      <app-wap-check-box [(m_oCheckboxDetails)]="getTabControls()[i]"
      (getOutput)="logOutput($event)"></app-wap-check-box>
    }
    <!-- WAP Date Time Picker -->
    @if (oControl.type === 'date') {
      <app-wap-date-time-picker [(m_oDateControl)]="getTabControls()[i]"
      (getDate)="logOutput($event)"></app-wap-date-time-picker>
    }
    <!-- WAP Dropdown -->
    @if (oControl.type === 'dropdown') {
      <app-wap-dropdown (inputOptions)="getTabControls()[i].asListValues"
      [(oControlInfo)]="getTabControls()[i]" (getSelectedOption)="logOutput($event)"></app-wap-dropdown>
    }
    <!-- WAP Listbox -->
    @if (oControl.type === 'listbox') {
      <app-wap-list-box [(oListboxInput)]="getTabControls()[i]"
      (getSelections)="logOutput($event)"></app-wap-list-box>
    }
    <!-- WAP Numeric Box -->
    @if (oControl.type ==='numeric') {
      <app-wap-numeric-box #numericBox [(m_oNumericInfo)]="getTabControls()[i]"
      (getUserInput)="logOutput($event)"></app-wap-numeric-box>
    }
    <!-- Wap Combo Products List  -->
    @if (oControl.type==='productscombo') {
      <app-wap-products-combo [m_aoProducts]="m_aoProductsArray"
      [(m_oControlSelection)]="getTabControls()[i]"></app-wap-products-combo>
    }
    <!-- WAP Search EO Image -->
    @if (oControl.type ==='searcheoimage') {
      <app-wap-search-eo-image
      [(m_oControlInput)]="getTabControls()[i]"></app-wap-search-eo-image>
    }
    <!-- WAP Select Area -->
    @if (oControl.type ==='bbox') {
      <app-wap-select-area [(m_oMapInput)]="getTabControls()[i]" [m_bParentTabActive]="m_bActiveTab"></app-wap-select-area>
    }
    <!-- WAP Slider -->
    @if (oControl.type ==='slider') {
      <app-wap-slider [(m_oSliderInput)]="getTabControls()[i]"></app-wap-slider>
    }
    <!-- WAP Table -->
    @if (oControl.type ==='table') {
      <app-wap-table [(m_aoTableInput)]="getTabControls()[i]"></app-wap-table>
    }
    <!-- WAP Textbox -->
    @if (oControl.type ==='textbox') {
      <app-wap-textbox [(m_oTextboxInfo)]="getTabControls()[i]"></app-wap-textbox>
    }
  </div>
}