<p>{{wapData.name}}</p>
<div *ngFor="let oControl of getTabControls(); let i=index">
    <!-- WAP Checkbox -->
    <app-wap-check-box *ngIf="oControl.type === 'boolean'" [(oCheckboxDetails)]="getTabControls()[i]"
        (getOutput)="logOutput($event)"></app-wap-check-box>

    <!-- WAP Date Time Picker -->
    <app-wap-date-time-picker *ngIf="oControl.type === 'date'" [(inputtedDate)]="oControl.m_sDate"
        (getDate)="logOutput($event)"></app-wap-date-time-picker>

    <!-- WAP Dropdown -->
    <app-wap-dropdown *ngIf="oControl.type === 'dropdown'" (inputOptions)="getTabControls()[i].asListValues"
        [(oControlInfo)]="getTabControls()[i]" (getSelectedOption)="logOutput($event)"></app-wap-dropdown>

    <!-- WAP Listbox -->
    <app-wap-list-box *ngIf="oControl.type === 'listbox'" [(oListboxInput)]="getTabControls()[i]"
        (getSelections)="logOutput($event)"></app-wap-list-box>

    <!-- WAP Numeric Box -->
    <app-wap-numeric-box #numericBox *ngIf="oControl.type ==='numeric'" [(inputText)]="oControl.m_sText"
        (getUserInput)="logOutput($event)"></app-wap-numeric-box>

    <!-- Wap Combo Products List  -->
    <app-wap-products-combo *ngIf="oControl.type==='productscombo'" [productsArray]="m_asProductNames" [(oControlSelection)]="getTabControls()[i]"></app-wap-products-combo>

    <!-- WAP Product List -->
    <!-- <app-wap-product-list *ngIf="oControl.type ==='productlist'"></app-wap-product-list> -->

    <!-- WAP Search EO Image -->
    <!-- <app-wap-search-eo-image *ngIf="oControl.type ==='searcheoimage'"></app-wap-search-eo-image> -->

    <!-- WAP Select Area -->
    <app-wap-select-area *ngIf="oControl.type ==='bbox'"></app-wap-select-area>

    <!-- WAP Slider -->
    <app-wap-slider *ngIf="oControl.type ==='slider'" [(oSliderInput)]="getTabControls()[i]"></app-wap-slider>

    <!-- WAP Table -->
    <app-wap-table *ngIf="oControl.type ==='table'" [(oTableInput)]="getTabControls()[i]"></app-wap-table>

    <!-- WAP Textbox -->
    <app-wap-textbox *ngIf="oControl.type ==='textbox'" [(oTextboxInfo)]="getTabControls()[i]"></app-wap-textbox>

    <!-- WAP Tooltip -->
    <!-- <app-wap-tooltip *ngIf="oControl.type ==='tooltip'"></app-wap-tooltip>  -->
</div>