<div class="d-flex flex-column justify-content-between h-100">
    <div class="modal-header d-flex justify-content-between p-2">
        <h4 class="modal-title w-100">{{m_oCommentInfo.commentId ? 'Update Comment' : 'Add Comment'}}</h4>
        <fa-icon [icon]="faX" (click)="onDismiss()"></fa-icon>
    </div>
    <div class="flex-fill form-group px-3">
        <label for="comment">{{"WAP_WRITE_COMMENT"|translate}}</label>
        <textarea type="text" class="form-control" id="comment" placeholder="{{'WAP_REVIEW_COMMENT_PLACEHOLDER'|translate}}" [(ngModel)]="m_oCommentInfo.text"></textarea>
    </div>

    <div mat-dialog-actions class="d-flex flex-row justify-content-end gap-1">
        <button class="btn btn-secondary" (click)="onDismiss()">
            <fa-icon [icon]="faTrash"></fa-icon>
            Cancel
        </button>
        <button *ngIf="m_bIsEditing === true" class="btn btn-success" (click)="updateComment()">
            <fa-icon [icon]="faSave"></fa-icon>
            {{"WAP_UPDATE_COMMENT"|translate}}
        </button>
        <button *ngIf="m_bIsEditing === false" class="btn btn-success" (click)="addNewComment()">
            <fa-icon [icon]="faSave"></fa-icon>
            {{"WAP_ADD_COMMENT"|translate}}
        </button>
    </div>
</div>