<app-header></app-header>
<div class="secondary-gradient"></div>
<div class="page-message-container d-flex flex-row align-items-center justify-content-center gap-4">
    <div class="d-flex flex-column align-items-center gap-4">
        <h2>404 {{"PAGE_NOT_FOUND.NOT_FOUND" | translate}}</h2>
        <button (click)="marketplaceRedirect()" class="btn btn-success btn-lg">{{"PAGE_NOT_FOUND.MARKET_BTN" |
            translate}}</button>
    </div>
    <img src="assets/images/404-img/Astronaut.png" alt="">
</div>