<div class="dialog-content d-flex flex-row gap-2" *ngIf="m_oProcessorBasicInfo" [formGroup]="m_oProcessorBasicInfo">
    <div class="dialog-column form-input-container d-flex flex-column gap-2">
        <div *ngIf="m_bEditMode"
            class="button-container d-flex flex-row align-items-center justify-content-center gap-2">
            <app-button [m_sLabel]="'Package manager'" (click)="openPackageManager()"></app-button>
            <app-button [m_sLabel]="'Update Library'" (click)="forceLibUpdate(m_sProcessorId)"></app-button>
            <app-button [m_sLabel]="'Re-deploy App'" (click)="forceProcessorRefresh(m_sProcessorId)"></app-button>
            <app-button [m_sLabel]="'Build Logs'" (click)="openBuildLogs()"></app-button>
        </div>
        <app-input-field [m_sLabel]="'Name'" [m_bIsReadonly]="m_bEditMode" [m_sInputValue]="m_sProcessorName"
            (m_oInputChange)="m_oProcessorBasicInfo.patchValue({sProcessorName: $event.event.target.value})"></app-input-field>
        <app-input-field *ngIf="m_bEditMode" [m_sLabel]="'Type'" [m_bIsReadonly]="m_bEditMode"
            [m_sInputValue]="m_sTypeNameOnly"></app-input-field>
        <app-autocomplete [m_sLabel]="'Type'" *ngIf="!m_bEditMode" [m_aoInputs]="m_aoProcessorTypes"
            (m_oSelectionChange)="setSelectedType($event)"></app-autocomplete>
        <div class="textarea-container flex-fill">
            <app-textarea [m_sLabel]="'Description'"
                [m_sInputString]="m_oProcessorBasicInfo.get('sShortDescription').value"
                (keyup)="onTextareaInput($event)"></app-textarea>
        </div>
        <div class="d-flex flex-row align-items-center gap-2 mt-4">
            <app-input-field [m_sLabel]="'Timeout expressed in minutes'" [m_sPlacehodler]="'180'"
                [m_sInputValue]="m_iMinuteTimeout.toString()"
                (m_oInputChange)="m_oProcessorBasicInfo.patchValue({iMinuteTimeout: $event.event.target.value})"></app-input-field>
            <div class="align-self-end">
                <input type="checkbox" class="wasdi-checkbox" name="" id="" [checked]="m_bIsPublic"
                    (change)="onPublicChange($event)">
                Make the application public
            </div>
        </div>
        <div class="drag-drop-container mt-3">
            <app-drag-and-drop (m_oSelectedFileOutput)="getSelectedFile($event)"></app-drag-and-drop>

        </div>
    </div>
    <div class="dialog-column json-container json-sample-container d-flex flex-column">
        <div class="json-header font-bold pb-2">JSON Sample</div>
        <div class="flex-fill json-editor-wrapper">
            <app-json-editor [(m_sText)]="m_sJSONSample" m_sMode="json"
                (m_sTextChange)="onJsonInput($event)"></app-json-editor>
        </div>
    </div>
</div>