<div [formGroup]="m_oProcessorBasicInfo">
    <div class="form d-flex flex-row justify-content-between align-items-center">
        <div class="d-flex flex-column gap-2" style="width: 65%">
            <div>
                <label for="name">Name:</label>
                <input class="form-control" type="text" formControlName="sProcessorName">
            </div>
            <div>
                <label for="type">Type:</label>
                <input class="form-control" type="text" name="type" [matAutocomplete]="auto"
                    placeholder="{{m_bEditMode?  m_sTypeNameOnly : 'Select Programming Language'}}"
                    [readOnly]="m_bEditMode===true" [disabled]="m_bEditMode === true">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setSelectedType($event)">
                    <mat-option *ngFor="let oProcessorType of m_aoProcessorTypes" [value]="oProcessorType.name">
                        {{oProcessorType.name}}
                    </mat-option>
                </mat-autocomplete>
            </div>
            <div class="">
                <input type="file" class="form-control" name="m_oSelectedFile" id=""
                    (change)="onFileSelect($event.target)">
            </div>
        </div>
        <div class="d-flex flex-row gap-2" *ngIf="m_bEditMode">
            <button class="btn btn-secondary">Package Manager</button>
            <button class="btn btn-secondary">Update Library</button>
            <button class="btn btn-secondary" (click)="forceProcessorRefresh(m_sProcessorId)">Re-Deploy</button>
        </div>
    </div>

    <div class="advanced-info d-flex flex-row gap-2 mt-3">
        <div style="width: 50%">
            <label for="description">Description:</label>
            <textarea class="form-control" name="" id="" rows="5" formControlName="sShortDescription"></textarea>

            <label for="timeOut">Timeout (min)</label>
            <input class="form-control" type="number" name="" id="" formControlName="iMinuteTimeout">

            <mat-checkbox formControlName="bIsPublic">
                Make Application Public
            </mat-checkbox>
        </div>
        <div style="width: 50%">
            <label for="jsonSample">JSON Sample:</label>
            <textarea class="form-control" name="jsonSample" id="" rows="10" formControlName="sJSONSample"></textarea>
        </div>
    </div>
</div>