div.table-wrapper {
    height: 79vh;
    overflow: auto;
    display: inline-block;
    width: 100%;
    margin: auto;
}

table {
    width: 98%;
    margin: auto;
    /* 
    margin: auto;
    height: 80vh;
    overflow-y: scroll; */

}

.table-heading-container {
    background-color: #FFFFFF;
    box-shadow: inset 0px -1px #D1D5DB;
    position: sticky;
    top: 0;
    z-index: 1;
}

td>span.material-symbols-outlined {
    color: var(--wasdiGreen);
    cursor: pointer;
}

td,
th {
    font-size: 14px;
    padding: 6px 12px 6px 8px;
    height: 44px;
    /* width: fit-content; */
    max-width: fit-content;
}

td {
    font-size: 14px;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td>span.cancel-icon {
    color: var(--wasdiDanger) !important;
}