<table>
    <!-- Table Heading -->
    <tr class="table-heading-container">
        <th>Status</th>
        <th>Operation</th>
        <th>Name</th>
        <th>User</th>
        <th>Created</th>
        <th>Started</th>
        <th>Progress</th>
        <th>Duration</th>
        <th></th>
    </tr>
    <tr *ngFor="let oProcessLog of m_aoTableData">
        <td>
            <app-table-cell [m_sLabel]="oProcessLog.status" [m_bIsTag]="true"></app-table-cell>
        </td>
        <td>
            <app-table-cell [m_sLabel]="getOperationDescription(oProcessLog)"></app-table-cell>
        </td>
        <td>{{oProcessLog.productName}}</td>
        <td>{{oProcessLog.userId}}</td>
        <td>{{oProcessLog.operationDate | date:'dd-MM-yyyy hh:mm:ss'}}</td>
        <td>{{oProcessLog.operationStartDate | date:'dd-MM-yyyy hh:mm:ss'}}</td>
        <td>
            <app-progress-bar [m_iProgressPerc]="oProcessLog.progressPerc"></app-progress-bar>
        </td>
        <td></td>
        <td class="d-flex flex-row">
            <span class="material-symbols-outlined" matTooltip="Payload" *ngIf="oProcessLog.payload"
            (click)="openPayloadDialog(oProcessLog)">
                subtitles
            </span>
            <span class="material-symbols-outlined" matTooltip="Logs" (click)="openLogsDialog(oProcessLog)">
                cloud_sync
            </span>
        </td>
    </tr>
</table>