div.toolbar-container {
    background-image: linear-gradient(180deg, lightgray, rgba(255, 255, 255, 0));
}

div.processor-img {
    background-position: center;
    background-size: cover;
    height: 300px
}