main {
    width: 100%;
}

div.hero-image {
    background-image: url("src/assets/images/hero-images/hero-img7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: -2rem;
    height: 200px;
    width: calc(100% + 2rem);
}

nav,
div.processor-info-container {
    padding: 0px 32px;
    margin: auto;
    max-width: 1000px;
}

nav {
    --bs-breadcrumb-divider: '>';
    --bs-breadcrumb-item-active-color: #000000;
    padding-top: 16px;
    padding-bottom: 8px;
}

ol.breadcrumb {
    font-size: 12px;
}

li.breadcrumb-item {
    cursor: pointer;
}

li.breadcrumb-item.active {
    font-weight: 700;
    color: #000000;
}

li.breadcrumb-item>a {
    text-decoration: none;
    color: #000000;
}

div.images-container {
    max-width: 260px;
}

div.processor-img,
div.sample-img {
    background-position: center;
    background-size: cover;
}

div.processor-img {
    border-radius: 16px;
    height: 275px;
    width: 260px;
}

div.sample-img {
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    width: 60px;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
}

h2 {
    color: var(--neutral80);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.info-container {
    padding: 0px 0px 48px 0px;
}


.app-details {
    background: var(--neutral5);
    padding: 24px 32px;
}

.material-symbols-outlined {
    font-size: 20px;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}



.price-flag {
    border-radius: 0px 0px 4px 4px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--Colors-Neutrals-0, #FFF);
    padding: 1px 8px;
}

.price-flag.free {
    background: #009036;
}

.price-flag.paid {
    background: #FBAC00;
}

.category-tag {
    border-radius: 4px;
    background: var(--neutral50Brand);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 8px;
    line-height: 12px;
}

.info-tag {
    color: var(--neutral50Brand);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    line-height: 24px;
}

.info-tag-content {
    color: var(--wasdiGreen);
    cursor: pointer;
    text-decoration: underline;
    font-weight: 400;
}

p {
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
}

p>span {
    color: var(--neutral50Brand);
    font-weight: 400;
}


p>span.wasdi-highlight {
    color: var(--wasdiGreen);
    text-decoration: underline;
}

/* 16px, 32px, 8px, 32px */