<div class="d-flex flex-column align-items-center justify-content-center">
    <div>
        <input class="form-control" type="text" [(ngModel)]="m_oBBox.north">
        <label class="form-label" for="North">North</label>
    </div>
    <div class="d-flex flex-row gap-2">
        <div>
            <input class="form-control" type="text" [(ngModel)]="m_oBBox.west">
            <label class="form-label" for="West">West</label>
        </div>
        <div>
            <input class="form-control" type="text" [(ngModel)]="m_oBBox.east">
            <label class="form-label" for="East">East</label>
        </div>
    </div>
    <div>
        <input class="form-control" type="text" [(ngModel)]="m_oBBox.south">
        <label class="form-label" for="South">South</label>
    </div>
    <div class="d-flex flex-row justify-content-end align-self-end justify-self-end">
        <button class="btn btn-success" (click)="saveBoundingBox()">Save</button>
        <button class="btn btn-secondary" (click)="onDismiss()">Close</button>
    </div>
</div>