main {
    height: 100vh !important;
    padding: 32px;
}

.header-logo-container {
    font-size: 16px;
    line-height: 24px;
}

.logos-container {
    height: 2rem;
}

.logo-name {
    height: 75%;
}
div.login-container {
    gap: 24px;
}

div.row {
    /* padding: 64px; */
}

div.form-container {
    color: #FF33F9;
}

div.login-header {
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 1rem;
}

div.img-container {
    background-image: url('src/assets/login-imgs/login-1.jpg');
    border-radius: 32px;
    height: 100%;
    width: 55%;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    height: 100%;
}

.call-to-action{
    cursor: pointer;
    color: #6A064D;
    text-decoration: underline;
}