<div class="h-100 d-flex flex-column justify-content-between">
    <div class="header bg-secondary w-100 d-flex flew-row justify-content-between">
        <h3 *ngIf="m_bIsEditing === false">New Organization</h3>
        <h3 *ngIf="m_bIsEditing === true">Edit {{m_oInputOrganization.name}}</h3>
    </div>
    <div class="px-3">
        <div>
            <label for="name">Organization Name</label>
            <input id="name" type="text" class="form-control" [(ngModel)]="m_oOrganization.name"
                [readOnly]="m_bIsAdmin === false" [disabled]="m_bIsAdmin === false">
        </div>
        <div>
            <label for="description">Description</label>
            <input id="description" type="text" class="form-control" [(ngModel)]="m_oOrganization.description"
                [readOnly]="m_bIsAdmin === false" [disabled]="m_bIsAdmin === false">
        </div>
        <div>
            <label for="address">Address</label>
            <input id="address" type="text" class="form-control" [(ngModel)]="m_oOrganization.address"
                [readOnly]="m_bIsAdmin === false" [disabled]="m_bIsAdmin === false">
        </div>
        <div>
            <label for="email">Contact Email</label>
            <input id="email" type="text" class="form-control" [(ngModel)]="m_oOrganization.email"
                [readOnly]="m_bIsAdmin === false" [disabled]="m_bIsAdmin === false">
        </div>
        <div>
            <label for="url">Organization Website</label>
            <input id="url" type="text" class="form-control" [(ngModel)]="m_oOrganization.url"
                [readOnly]="m_bIsAdmin === false" [disabled]="m_bIsAdmin === false">
        </div>

    </div>
    <div class="d-flex flex-row justify-content-end gap-2 p-3">
        <button class="btn btn-success" *ngIf="m_bIsEditing === false" (click)="saveOrganization()">
            Create
        </button>
        <button class="btn btn-success" *ngIf="m_bIsEditing === true && m_bIsAdmin"
            (click)="saveOrganization()">Update</button>
        <button class="btn btn-secondary" (click)="onDismiss()">Cancel</button>
    </div>
</div>