<div class="apps-dialog d-flex flex-column gap-2 h-100">
    <div class="dialog-header d-flex flex-row justify-content-between font-bold">{{ "DIALOG_FEEDBACK_SEND" | translate}}
        <span class="close-btn material-symbols-outlined" (click)="onDismiss()"> close</span>
    </div>
    <div class="dialog-content flex-fill d-flex flex-column gap-3">
        <div class="d-flex flex-column flex-fill">
            <app-input-field [m_sLabel]="'DIALOG_FEEDBACK_SEND_AS' | translate" [m_bIsReadonly]="true"
                [m_bIsDisabled]="true" [m_sInputValue]="m_oActiveUser.userId"></app-input-field>
            <app-input-field [m_sLabel]="'DIALOG_FEEDBACK_LIVE_TITLE' | translate"
                (m_oInputChange)="getUserInput('title', $event)"></app-input-field>
            <div class="flex-fill">
                <app-textarea [m_sLabel]="'DIALOG_FEEDBACK_LIVE_MESSAGE' | translate"
                    (keyup)="getUserInput('message', $event)"></app-textarea>
            </div>
        </div>
        <div class="text-center font-bold">
            {{("KEY_PHRASES.OR" | translate).toUpperCase()}}
        </div>
        <div class="discord-cta d-flex flex-row gap-3">
            <img src="assets/icons/discord.svg" alt="">
            <div class="d-flex flex-column justify-content-start gap-3">
                <div class="discord-header font-bold">{{"DIALOG_FEEDBACK_LIVE_SUPPORT" | translate}}</div>
                <div>{{ "DIALOG_FEEDBACK_DISCORD" | translate}}
                </div>
                <app-button class="align-self-start" [m_sLabel]="'DIALOG_FEEDBACK_JOIN' | translate" [m_bOutline]="true"
                    [m_bIsBgSolid]="true" (click)="openDiscord()"></app-button>
            </div>
        </div>
    </div>
    <div class="dialog-footer mt-3 d-flex flex-row justify-content-end gap-2">
        <app-button [m_sLabel]="'KEY_PHRASES.CANCEL' | translate" [m_bOutline]="true"
            (click)="onDismiss()"></app-button>
        <app-button [m_sLabel]="'KEY_PHRASES.SEND' | translate" (click)="sendFeedback()"></app-button>
    </div>
</div>