.secondary-nav {
  height: calc(100vh - 6rem);
  width: 480px;
}

.check-circle {
  color: var(--wasdiGreen) !important;
}

.filters-container {
  overflow-y: scroll;
}

.filter-instructions {
  background: var(--wasdiGreenLight);
  border-radius: 4px 3px;
  color: #000000;
  font-size: 14px;
  padding: 1rem;
}

.date-inputs {
  max-width:50%
}

div.floating-buttons {
  background: #FFFFFF;
  /* width: 22rem; */
  padding: 1rem;
}

div.plan-tree-container {
  height: 85%;
  overflow: scroll;
}