.secondary-nav {
  height: calc(100vh - 6rem);
  width: 478px;
}

.filters-container {
  height: calc(100vh - 9rem);
}

.satellite-container {
  height: 60%;
}

.filter-instructions {
  background: var(--wasdiGreenLight);
  border-radius: 4px 3px;
  color: #000000;
  font-size: 14px;
  padding: 1rem;
}

.date-inputs {
  max-width: 100%;
}

div.floating-buttons {
  background: #FFFFFF;
  bottom: 0px;
  width: 22rem;
  position: sticky;
}

div.plan-tree-container {
  height: 85%;
  overflow:scroll;
}