div.product {
    border-radius: 4px;
    cursor: default;
    font-size: 14px;
    line-height: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    /* max-width: 100%; */
}

div.product:hover {
    background: var(--neutral5);
}

/* div.product:hover>div>p.product-label {
    width: 330px;
} */

.arrow-icon {
    color: var(--neutral50Brand);
    cursor: pointer;
    font-size: 20px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.product-label {
    white-space: nowrap;
    /* width: 330px; */
    overflow: hidden;
    padding: 0;
    margin: 0;
}



.product-label-icon,
.bands-icon,
.button-icon {
    color: var(--neutral30);
    cursor: default !important;
    font-size: 14px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.product-label-icon {
    padding-left: 12px;
    padding-right: 8px;
}


/* .display-more-icon {
    visibility: hidden;
} */

div.product:hover>.display-more-icon {
    visibility: visible;
    color: var(--wasdiGreen);
    cursor: pointer !important;
    font-size: 14px;
    /* padding: 8px; */
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

span.category-tag.outlined {
    color: var(--darkAccessible);
    padding: 4px !important;
}

.product-bands-container {
    padding-bottom: 1rem;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    padding-left: 1em;
}

ul.first-list {
    padding-left: 2.45rem;
}

li {
    padding-left: 1em;
    border: 1px dotted var(--neutral25);
    border-width: 0 0 1px 1px;
}

li>ul {
    border-left: 0px;
}

li.container {
    border-bottom: 0px;
}

li.empty {
    font-style: italic;
    color: svar(--neutral25);
    border-color: svar(--neutral25);
}

li p {
    cursor: pointer;
    margin: 0;
    background: white;
    position: relative;
    top: 0.5em;
    font-size: 14px;
}

li p.disabled-label {
    cursor: not-allowed;
}

li ul {
    border-top: 1px dotted var(--neutral25);
    margin-left: -1em;
    padding-left: 2em;
}

ul li:last-child ul {
    border-left: 1px solid #FFFFFF !important;
    margin-left: -17px;
}

.context-menu {
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid var(--neutral10);
}

.context-menu-item {
    cursor: pointer;
    padding: 12px;
}

.context-menu-item:hover {
    background: var(--neutral5);
}