<div class="apps-dialog h-100 d-flex flex-column justify-content-between">
    <div class="dialog-header font-bold d-flex flex-row justify-content-between w-100">
        {{"DIALOG_USER_PROJECTS" | translate}}
        <span class="close-btn material-symbols-outlined justify-self-end" (click)="onDismiss()"> close</span>
    </div>
    <div class="dialog-content flex-fill">
        <div class="table-wrapper">
            <table>
                <thead class="table-heading-container">
                    <tr>
                        <td>Project Name</td>
                        <td>Status</td>
                        <td>My Processing Time</td>
                        <td>Total Processing Time</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let oProject of m_aoProjects">
                        <td>{{oProject.name}}</td>
                        <td> {{oProject.activeProject ? "Active" :
                            "Inactive"}}</td>
                        <td *ngIf="oProject.individualProcessingTime">
                            {{oProject.individualProcessingTime
                            | convertMsToTime }}</td>
                        <td *ngIf="!oProject.individualProcessingTime">00:00:00</td>
                        <td *ngIf="oProject.totalProcessingTime">{{oProject.totalProcessingTime |
                            convertMsToTime}}</td>
                        <td *ngIf="!oProject.totalProcessingTime">00:00:00</td>
                        <td class=" d-flex flex-row gap-2">
                            <span class="table-btn material-symbols-outlined justify-self-end"
                                (click)="openProjectInfoDialog(true, m_oSubscription, oProject)">edit</span>
                            <span class="table-btn material-symbols-outlined justify-self-end"
                                (click)="removeProject(oProject)">delete</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="d-flex flex-row justify-content-start">
                            <app-button [m_sLabel]="'DIALOG_USER_PROJECTS_NEW' | translate"
                                (click)="openProjectInfoDialog(false, m_oSubscription)"></app-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="dialog-footer d-flex flex-row justify-content-end">
        <app-button [m_sLabel]="'KEY_PHRASES.CLOSE' | translate" (click)="onDismiss()"></app-button>
    </div>
</div>