<div class="dialog d-flex flex-column justify-content-between" style="height: 100%;">
    <div class="dialog-header bg-secondary text-light d-flex flex-row justify-content-between p-2">
        <h4 class="dialog-text m-0 p-0">
            <fa-icon [icon]="faFolder"></fa-icon>
            Package Manager
        </h4>
        <fa-icon [icon]="faX" (click)="onDismiss()"></fa-icon>
    </div>
    <div class="dialog-content p-2 flex-fill" *ngIf="m_bIsLoading === false">
        <div class="content-header">
            <h3>{{m_sProcessorName}} Packages - <span class="text-success">{{m_sPackageManagerName}}
                    {{m_sPackageManagerVersion}}</span></h3>

            <div class="d-flex flex-row justify-content-between pb-2">
                <form #f="ngForm" (ngSubmit)="f.form && addLibrary(m_sProcessorId, m_sPackageToAdd)" action="" class="d-flex flex-row gap-1 flex-fill">
                    <div class="input-field w-25">
                        <input class="form-control" type="text" name="m_sPackageToAdd" id="" placeholder="Package Name"
                            [(ngModel)]="m_sPackageToAdd">
                    </div>
                    <button class="btn btn-secondary" type="submit">Add Package</button>
                    <button class="btn btn-secondary" (click)="updateLibraryList(m_sProcessorId)">Refresh List</button>
                    <button class="btn btn-secondary" (click)="resetActionList(m_sProcessorId)">Reset Actions</button>
                </form>
                <div class="input-field w-30">
                    <input class="form-control" type="text" name="" id="" placeholder="Search Packages" [(ngModel)]="m_sPackageSearch">
                </div>
            </div>
        </div>
        <div class="table-container">
            <table class="table table-light table-striped table-hover">
                <thead class="table-header">
                    <tr>
                        <th scope="col">Package Name</th>
                        <th scope="col">Current Version</th>
                        <th scope="col">Latest Version</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let oPackage of m_aoPackages | filter: m_sPackageSearch">
                        <td>{{oPackage.packageName}}</td>
                        <td>{{oPackage.currentVersion}}</td>
                        <td ngClass="{{oPackage.latestVersion? 'text-danger' : 'text-success'}}">
                            {{oPackage.latestVersion? oPackage.latestVersion : oPackage.currentVersion}}</td>
                        <td class="d-flex gap-1">
                            <button matTooltip="Update Package" class="btn btn-success btn-sm"
                                [disabled]="oPackage.latestVersion === null"
                                (click)="updatePackage(m_sProcessorId, oPackage.packageName, oPackage.latestVersion)">
                                <fa-icon [icon]="faArrowUp"></fa-icon>
                            </button>
                            <button matTooltip="Remove Package" class="btn btn-secondary btn-sm"
                                (click)="removeLibrary(m_sProcessorId, oPackage.packageName)">
                                <fa-icon [icon]="faTrashcan"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="dialog-content text-center d-flex flex-column align-items-center justify-content-center"
        *ngIf="m_bIsLoading === true">
        <h2>Updating Packages - Please Wait...</h2>
        <mat-progress-spinner [color]="'primary'" [mode]="'indeterminate'"></mat-progress-spinner>
    </div>
    <div mat-dialog-actions class="border dialog-footer p-1 d-flex flex-row justify-content-end">
        <button class="btn btn-secondary" (click)="onDismiss()">Close</button>
    </div>
</div>