<div class="dialog d-flex flex-column justify-content-between" style="height: 100%;">
    <div class="dialog-header bg-secondary text-light d-flex flex-row justify-content-between p-2">
        <h4 class="dialog-text m-0 p-0">
            <fa-icon [icon]="faFolder"></fa-icon>
            Package Manager
        </h4>
        <fa-icon [icon]="faX" (click)="onDismiss()"></fa-icon>
    </div>

    <div mat-dialog-actions class="border dialog-footer p-1 d-flex flex-row justify-content-end">
        <button class="btn btn-secondary">Close</button>
    </div>
</div>