<div class="map-frame h-100 w-100">
    <div class="mb-3 edit-toolbar-container" role="toolbar"
        aria-label="Toolbar with button groups to control Map settings">
        <app-edit-toolbar></app-edit-toolbar>
    </div>
    <div class="mb-3 map-controls-container" role="toolbar"
        aria-label="Toolbar with button groups to control Map settings">
        <div class="btn-group me-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary" (click)="switch2D3DMode()">
                <span *ngIf="m_b2DMapModeOn === false">
                    <fa-icon [icon]="faMap"></fa-icon>
                </span>
                <span *ngIf="m_b2DMapModeOn === true">
                    <fa-icon [icon]="faGlobe"></fa-icon>
                </span>
            </button>
            <button type="button" class="btn btn-secondary" (click)="goWorkspaceHome()">
                <fa-icon [icon]="faHome"></fa-icon>
            </button>
            <button type="button" class="btn btn-secondary">
                <fa-icon [icon]="faArrow"></fa-icon>
            </button>
            <button type="button" class="btn btn-secondary">
                <fa-icon [icon]="faNavicon"></fa-icon>
            </button>
            <button type="button" class="btn btn-secondary">
                <fa-icon [icon]="faInfo"></fa-icon>
            </button>
        </div>
    </div>
    <div class="map-container h-100 w-100" id="bigMapContainer"></div>
</div>