<main class="d-flex flex-column flex-fill">
    <div class="d-flex flex-row" style="height: 100%;">
        <app-search-filters [hidden]="m_bIsVisibleListOfLayers === true" [m_aoMissions]="m_aoMissions"
            [m_aoSelectedProviders]="m_aoSelectedProviders" (m_oSearchFilter)="getMissionFilter($event)"
            (m_aoProviderSelection)="getSelectedProviders($event)" (m_oTypeOfFilterSelected)="getTimeFilter($event)"
            (m_oAdvancedFilterSelection)="getAdvancedFilterSelection($event)"></app-search-filters>
        <app-products-table [hidden]="m_bIsVisibleListOfLayers === false" [m_aoProducts]="m_oProductSubject.asObservable()"
            [m_aoSelectedProviders]="m_oSelectedProvidersSubject.asObservable()"
            [m_bIsPaginatedList]="m_bIsPaginatedList" [m_bIsVisibleListOfLayers]="m_bIsVisibleListOfLayers"
            (m_oNavigateBackOutput)="getNavigationFilters($event)" (m_oActiveProviderChange)="getActiveProvider($event)"
            (m_oSelectedProducts)="getSelectedProducts($event)"></app-products-table>
        <div class="map map-container flex-fill">
            <app-search-map [m_aoProducts]="m_oProductSubject.asObservable()"
                (m_oMapInputChange)="getMapInput($event)"></app-search-map>
        </div>
    </div>
</main>