<main class="d-flex flex-row flex-fill">
    <!-- <section class="sub-menu"> -->
    <!-- <div class="products-table" *ngIf="m_bIsVisibleListOfLayers === true">
            <app-products-table [m_aoProducts]="m_oProductSubject.asObservable()"
                [m_aoSelectedProviders]="m_oSelectedProvidersSubject.asObservable()"
                [m_bIsPaginatedList]="m_bIsPaginatedList" [m_bIsVisibleListOfLayers]="m_bIsVisibleListOfLayers"
                (m_oNavigateBackOutput)="getNavigationFilters($event)" (m_oActiveProviderChange)="getActiveProvider($event)"
                (m_oSelectedProducts)="getSelectedProducts($event)"></app-products-table>
        </div>-->
    <section>
        <app-search-filters [hidden]="m_bIsVisibleListOfLayers === true" [m_aoMissions]="m_aoMissions"
            [m_aoSelectedProviders]="m_aoSelectedProviders" (m_oSearchFilter)="getMissionFilter($event)"
            (m_aoProviderSelection)="getSelectedProviders($event)" (m_oTypeOfFilterSelected)="getTimeFilter($event)"
            (m_oAdvancedFilterSelection)="getAdvancedFilterSelection($event)"></app-search-filters>

    </section>

    <!-- <article class="sub-menu-grp">
            <div class="title">
                <img src="./assets/svg/filter-icon.svg" alt="filter icon" />
                <h3>Filters</h3>
            </div>

            <div class="sub-menu-body">
                <button>
                    <img src="./assets/svg/cron-icon.svg" alt="cron tab icon" />
                    Cron&nbsp;Tab
                </button>
                <li class="search-input-container">
                    <div class="background-color">
                        <img src="./assets/svg/search-icon.svg" alt="search icon" />
                        <label for="search-bar">Search</label>
                    </div>
                    <input class="search-input" type="text" id="search-bar" name="search-bar"
                        placeholder="Products name" />
                </li>
            </div>
            <hr />
        </article>
        <article class="provider">
            <label for="wasdi">Provider:</label>
            <select class="name-select" id="wasdi">
                <option value="name" selected>WASDI</option>
            </select>
            <div class="date">
                <div>
                    <label for="from">From:</label>
                    <select class="name-select" id="from">
                        <option value="name" selected>
                            01/01/2024
                        </option>
                    </select>
                </div>
                <div>
                    <label for="to">To:</label>
                    <select class="name-select" id="to">
                        <option value="name" selected>
                            01/09/2024
                        </option>
                    </select>
                </div>
            </div>
            <hr />
        </article>
        <article class="sub-menu-grp mission">
            <p>Select a mission:</p>
            <div class="category-body">
                <button class="selected">S1</button>
                <button>S2</button>
                <button>S3</button>
                <button>S5P</button>
                <button>PROBAV</button>
                <button>ENVISAT</button>
                <button class="selected">Viirs</button>
                <button>ERA5</button>
                <button>CAMS</button>
                <button>PLANET</button>
                <button>IMERG</button>
                <button>THEMATICS</button>
                <button>Earthcache</button>
                <button>WorldCover</button>
                <button>CM</button>
                <button>European ECOSTRESS hub</button>
                <button class="selected">DEM</button>
            </div>
            <hr />
        </article>
        <article class="">
            <div class="filter-inputs">
                <div>
                    <label for="">Satellite Platform:</label>
                    <input type="text" class="input" />
                </div>
                <div>
                    <label for="">Product Type:</label>
                    <input type="text" class="input" />
                </div>
            </div>
            <div class="filter-inputs">
                <div>
                    <label for="">Polarisation:</label>
                    <input type="text" class="input" />
                </div>
                <div>
                    <label for="">Sensor Mode:</label>
                    <input type="text" class="input" />
                </div>
            </div>
            <div class="filter-inputs">
                <div>
                    <label for="">Relative Orbit Number:</label>
                    <input type="text" class="input" />
                </div>
                <div>
                    <label for="">Swath:</label>
                    <input type="text" class="input" />
                </div>
            </div>
        </article>-->
    <!-- </section>  -->
    <!-- Page Content -->
    <section class="page-content  d-flex flex-column">
        <div class="map map-container">
            <app-search-map [m_aoProducts]="m_oProductSubject.asObservable()"
                (m_oMapInputChange)="getMapInput($event)"></app-search-map>
        </div>
        <!-- <div class="map-controls">
            <div class="top-controls">
                <img
                    src="./assets/map-control-1.svg"
                    alt="map control 1"
                />
                <img
                    src="./assets/map-control-2.svg"
                    alt="map control 2"
                />
                <img
                    src="./assets/map-control-3.svg"
                    alt="map control 3"
                />
                <img
                    src="./assets/map-control-4.svg"
                    alt="map control 4"
                />
                <img
                    src="./assets/map-control-5.svg"
                    alt="map control 5"
                />
                <img
                    src="./assets/map-control-6.svg"
                    alt="map control 6"
                />
            </div>
            <div class="bot-controls">
                <div class="zoom">
                    <img
                        src="./assets/map-control-7.svg"
                        alt="map control 7"
                    />
                    <img
                        src="./assets/map-control-8.svg"
                        alt="map control 8"
                    />
                </div>
                <img
                    src="./assets/map-control-9.svg"
                    alt="map control 9"
                />
                <img
                    src="./assets/map-control-10.svg"
                    alt="map control 10"
                />
            </div>
        </div> -->
        <!-- THE following code is an example of implementation of MapBox API -->
        <!-- ----------------------------------------------------------------- -->
        <!-- <div id="map"></div>
        <script>
            // TO MAKE THE MAP APPEAR YOU MUST
            // ADD YOUR ACCESS TOKEN FROM
            // https://account.mapbox.com
            mapboxgl.accessToken = "YOUR_MAPBOX_ACCESS_TOKEN";
            const map = new mapboxgl.Map({
                container: "map", // container ID
                // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
                style: "mapbox://styles/mapbox/streets-v12", // style URL
                center: [-74.5, 40], // starting position [lng, lat]
                zoom: 9, // starting zoom
            });
        </script> -->
    </section>
</main>

<!-- Operation Bar
<div class="d-flex flex-row gap-2 justify-content-end align-items-center px-4 py-2">
    <button *ngIf="m_sTypeOfFilterSelected === 'Time period'" (click)="searchAllSelectedProviders()"
        class="btn btn-secondary">Search</button>
    <button *ngIf="m_sTypeOfFilterSelected === 'Time series'" (click)=" searchListAllSelectedProviders()"
        class="btn btn-secondary">Search List</button>
    <button (click)="openAddToWorkspaceDialog()" class="btn btn-secondary" [disabled]="m_aoSelectedProducts.length < 1">
        <fa-icon [icon]="faPlus"></fa-icon>
        Add Selected to Workspace</button>
</div>
<div class="d-flex flex-row gap-3 px-4 pt-2" style="height: 75%;">
    <div class="products-table" style="width: 40%;"  *ngIf="m_bIsVisibleListOfLayers === true">
        <app-products-table [m_aoProducts]="m_oProductSubject.asObservable()"
            [m_aoSelectedProviders]="m_oSelectedProvidersSubject.asObservable()"
            [m_bIsPaginatedList]="m_bIsPaginatedList" [m_bIsVisibleListOfLayers]="m_bIsVisibleListOfLayers"
            (m_oNavigateBackOutput)="getNavigationFilters($event)" (m_oActiveProviderChange)="getActiveProvider($event)"
            (m_oSelectedProducts)="getSelectedProducts($event)"></app-products-table>
    </div>
    <div class="filters-panel" style="width: 40%;" [hidden]="m_bIsVisibleListOfLayers === true">
        <app-search-filters [m_aoMissions]="m_aoMissions" [m_aoSelectedProviders]="m_aoSelectedProviders"
            (m_oSearchFilter)="getMissionFilter($event)" (m_aoProviderSelection)="getSelectedProviders($event)"
            (m_oTypeOfFilterSelected)="getTimeFilter($event)"
            (m_oAdvancedFilterSelection)="getAdvancedFilterSelection($event)"></app-search-filters>
    </div>
    <div class="map" style="width: 60%;">
        <app-search-map [m_aoProducts]="m_oProductSubject.asObservable()"
            (m_oMapInputChange)="getMapInput($event)"></app-search-map>
    </div>
</div>
<app-processes-bar [m_oActiveWorkspace]="m_oActiveWorkspace"></app-processes-bar> -->