<!-- Operation Bar -->
<div class="d-flex flex-row gap-2 justify-content-end align-items-center px-4" style="height: 5%; width: 100%;">
    <button (click)="executeSeach()" class="btn btn-secondary">Search</button>
    <button (click)="openAddToWorkspaceDialog()" class="btn btn-secondary">
        <fa-icon [icon]="faPlus"></fa-icon>
        Add Selected to Workspace</button>
</div>
<div class="d-flex flex-row gap-3 px-4" style="height: 80%; width: 100%;">
    <div class="filters-panel" style="width: 40%;">
        <app-search-filters [m_aoMissions]="m_aoMissions"></app-search-filters>
    </div>
    <div class="map">
        <app-search-map></app-search-map>
    </div>
</div>