<div class="dialog">
    <div class="px-4 pt-3 text-secondary d-flex flex-row justify-content-between align-items-center">
        <h4>Sharing and Access</h4>
        <button class="btn" (click)="onDismiss()">
            <fa-icon [icon]="faX"></fa-icon>
        </button>
    </div>
    <app-share-ui [resource]="resource" [resourceType]="type"></app-share-ui>
    <div class="px-4 py-3 d-flex flex-row justify-content-end">
        <button class="btn btn-secondary" (click)="onDismiss()">Close</button>
    </div>
</div>