<div class="secondary-nav">
  <div class="user-options-container">
    <div class="header">
      {{"ADMIN_MENU_USER" | translate}}
    </div>
    <div class="menu-container d-flex flex-column gap-1">
      @for (oMenuItem of m_aoMenuButtons; track oMenuItem) {
        <app-menu-button [m_sLabel]="oMenuItem.label | translate"
          [m_bIsActive]="m_sActiveTab === oMenuItem.title" [m_sIcon]="oMenuItem.icon"
        (click)="setActiveTab(oMenuItem.title)"></app-menu-button>
      }
    </div>
  </div>
  @if (m_bIsAdmin) {
    <div class="staff-options-container">
      <div>{{"ADMIN_MENU_ADMIN" | translate}}</div>
      <div class="menu-container d-flex flex-column gap-1">
        @for (oMenuItem of  m_aoAdminMenuItems; track oMenuItem) {
          <app-menu-button [m_sLabel]="oMenuItem.label | translate"
            [m_bIsActive]="m_sActiveTab === oMenuItem.title" [m_sIcon]="oMenuItem.icon"
          (click)="setActiveTab(oMenuItem.title)"></app-menu-button>
        }
      </div>
    </div>
  }
</div>