<div class="secondary-nav">
    <div class="user-options-container">
        <div class="header">
            {{"ADMIN_MENU_USER" | translate}}
        </div>
        <div class="menu-container d-flex flex-column gap-1">
            <app-menu-button *ngFor="let oMenuItem of m_aoMenuButtons" [m_sLabel]="oMenuItem.label | translate"
                [m_bIsActive]="m_sActiveTab === oMenuItem.title" [m_sIcon]="oMenuItem.icon"
                (click)="setActiveTab(oMenuItem.title)"></app-menu-button>
        </div>
    </div>
    <div *ngIf="m_bIsAdmin" class="staff-options-container">
        <div>{{"ADMIN_MENU_ADMIN" | translate}}</div>
        <div class="menu-container d-flex flex-column gap-1">
            <app-menu-button *ngFor="let oMenuItem of  m_aoAdminMenuItems" [m_sLabel]="oMenuItem.label | translate"
                [m_bIsActive]="m_sActiveTab === oMenuItem.title" [m_sIcon]="oMenuItem.icon"
                (click)="setActiveTab(oMenuItem.title)"></app-menu-button>
        </div>
    </div>
</div>