<label [class.invalid]="!m_bIsValid" [class.readonly]="m_bIsReadonly" for="{{m_sInputName}}">{{m_sLabel}}</label>
<div class="input-group" [class.invalid]="!m_bIsValid" [class.readonly]="m_bIsReadonly"
    [class.icon-left]="m_sIconLeft !== null" [class.icon-right]="m_sIconRight !== null">
    <div class="input-group-prepend" *ngIf="m_sIconLeft !== null">
        <span class="material-symbols-outlined input-group-text" [class.invalid]="!m_bIsValid">
            {{m_sIconLeft}}
        </span>
    </div>
    <input type="{{m_sInputType}}" class="form-control" name="{{m_sInputName}}" placeholder="{{m_sPlacehodler}}"
        [readOnly]="m_bIsReadonly" aria-label="InputField" aria-describedby="basic-addon1" pattern="{{m_sPattern}}"
        [value]="m_sInputValue" (change)="emitInputChange($event)">
    <div class="input-group-append" *ngIf="m_sIconRight">
        <span class="material-symbols-outlined input-group-text" [class.invalid]="!m_bIsValid">
            {{m_sIconRight}}
        </span>
    </div>
</div>