<div class="d-flex flex-column justify-content-between">
  @if (m_sLabel) {
    <label [class.invalid]="!m_bIsValid" [class.readonly]="m_bIsReadonly" for="{{m_sInputName}}"
      >{{m_sLabel}} @if (m_bIsRequired) {
      <span>*</span>
    }</label>
  }
  <div class="input-group" [class.invalid]="!m_bIsValid" [class.readonly]="m_bIsReadonly"
    [class.icon-left]="m_sIconLeft !== null" [class.icon-right]="m_sIconRight !== null || m_bClearField">
    @if (m_sIconLeft !== null) {
      <div class="input-group-prepend">
        <span class="material-symbols-outlined input-group-text" [class.invalid]="!m_bIsValid">
          {{m_sIconLeft}}
        </span>
      </div>
    }
    <input type="{{m_sInputType}}" class="form-control" name="{{m_sInputName}}" placeholder="{{m_sPlaceholder}}"
      [readOnly]="m_bIsReadonly" aria-label="InputField" aria-describedby="basic-addon1" pattern="{{m_sPattern}}"
      [value]="m_sInputValue" (change)="emitInputChange($event)" (keyup)="emitInputChange($event)" [disabled]="m_bIsDisabled"
      (keydown.enter)="onEnterPressed()" max="{{m_sMaxValue}}" min="{{m_sMinValue}}">
      @if (m_sIconRight) {
        <div class="icon-right input-group-append"
          (click)="m_sIconRight === 'visibility'? toggleType() : ''">
          <span class="material-symbols-outlined input-group-text" [class.invalid]="!m_bIsValid">
            {{m_sIconRight}}
          </span>
        </div>
      }
      @if (m_bClearField) {
        <div class="icon-left input-group-append" (click)="emitClearInput($event)">
          <span class="clear-icon material-symbols-outlined input-group-text" [class.invalid]="!m_bIsValid">
            close
          </span>
        </div>
      }
    </div>

  </div>