div.style-cards-container {
    height: 80%;
    overflow-y: scroll;
}

div.column-body-container {
    padding: 0px 32px;
}

.textarea,
.drag-drop {
    height: 30%;
}

.json-wrapper {
    padding-bottom: 32px;
}

.hidden {
    display: none !important;
}

.file-container {
    background: #FFFFFF;
    border: 1px solid #000000;
    padding: 12px;
    border-radius: 6px;
}
