<div class="apps-dialog d-flex flex-column" style="height: 100%">
    <div class="dialog-header d-flex flex-row justify-content-between font-bold">Wasdi styles
        <span class="close-btn material-symbols-outlined" (click)="onDismiss()"> close</span>
    </div>
    <div class="dialog-content flex-fill d-flex flex-row w-100 justify-content-between "
        style="height: 100%; overflow: hidden;">
        <div class="apps-container d-flex flex-column">
            <div class="search-header font-bold d-flex flex-column gap-2 mb-3">
                <div class="d-flex flex-row justify-content-between align-items-center">Search styles
                    <app-button [m_sLabel]="'New Style'" [m_sIconLeft]="'add_box'"
                        (click)="openNewStyleDialog()"></app-button>
                </div>
                <app-input-field [m_sPlacehodler]="'Search style'" [m_sIconLeft]="'search'"
                    (m_oInputChange)="handleSearchChange($event)"></app-input-field>
            </div>
            <div *ngIf="m_bIsLoadingStyleList === true">
                <app-invader></app-invader>
            </div>
            <div *ngIf="m_bIsLoadingStyleList === false"
                class="apps-cards-container d-flex flex-column gap-2 flex-fill pe-1" style="overflow-y:scroll">
                <app-list-item *ngFor="let oStyle of m_aoStyleList| filter: m_sSearchString" [m_oProcessorItem]="oStyle"
                    [m_bIsSelected]="oStyle.name === m_oSelectedStyle.name" [m_bSimpleItem]="true"
                    [m_bProcessorItem]="true" [m_sLabel]="oStyle.name" [m_sDescription]="oStyle.description"
                    [m_sIcon]="oStyle.imgLink" (m_oEmitClickEvent)="handleToolbarClick($event, oStyle)"
                    [m_bHasToolbar]="oStyle.sharedWithMe === true || m_sActiveUserId === oStyle.userId"
                    (click)="selectActiveStyle(oStyle)"></app-list-item>
            </div>
        </div>
        <div class="json-container d-flex flex-column justify-content-between">
            <div class="json-header d-flex flex-column">
                <div class="processor-name font-bold">{{m_oSelectedStyle.name ?
                    m_oSelectedStyle.name: 'Select A Style'}}</div>
                <p *ngIf="m_oSelectedStyle.userId">Publisher: {{m_oSelectedStyle.userId}}</p>
            </div>

            <app-textarea class="json-body flex-fill" [m_sInputString]="m_asStyleXml"
                [m_bIsDisabled]="true"></app-textarea>

            <div class="footer d-flex flex-row justify-content-end">
                <div class="d-flex flex-row gap-3">
                    <app-button [m_sLabel]="'Apply'" [m_sIconLeft]="'play_circle'"
                        [m_bDisabled]="!m_oSelectedStyle.name"></app-button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="dialog d-flex flex-column justify-content-between" style="height: 100%;">
    <div class="dialog-header d-flex flex-row justify-content-between px-4 pt-3 pb-2 bg-secondary text-light">
        <h4 class="dialog-text">Styles</h4>
        <button class="btn" (click)="onDismiss()">
            <fa-icon [icon]="faX"></fa-icon>
        </button>

    </div>
    <div class="dialog-content d-flex flex-row justify-content-between px-4 py-2 gap-3" style="height: 80%">
        <div class="styles-container" style="width: 50%">
            <ul class="nav nav-tabs d-flex flex-row justify-content-between">
                <li class="nav-item">
                    <a class="nav-link active">Styles List</a>
                </li>
                <li class="nav-item">
                    <button class="btn btn-success" (click)="openNewStyleDialog()">
                        <fa-icon [icon]="faPlus"></fa-icon> Add Style
                    </button>
                </li>
            </ul>
            <input class="form-control my-3" type="text" placeholder="Search by Style Name"
            [(ngModel)]="m_sSearchString" (ngModelChange)="filterStyles()">
            <div class=" style-cards-container d-flex flex-row flex-wrap justify-content-start gap-1"
                style="width:100%">
                <div *ngFor="let oStyle of m_aoStyleList | filter: m_sSearchString"
                    class="card d-flex flex-column gap-3 p-2 align-self-start" style="cursor: pointer; height: 50%; width: 32%"
                    (click)="selectActiveStyle(oStyle)">
                    <div style="height: 30px">
                        <div *ngIf="oStyle.sharedWithMe || oStyle.userId === m_sActiveUserId"
                            class="card-toolbar d-flex flex-row justify-content-end">
                            <button class="btn btn-sm" (click)="downloadStyle(oStyle.styleId)">
                                <fa-icon [icon]="faDownload"></fa-icon>
                            </button>
                            <button class="btn btn-sm" (click)="openStyleEditDialog(oStyle)">
                                <fa-icon [icon]="faEdit"></fa-icon>
                            </button>
                            <button class="btn btn-sm text-danger" (click)="deleteStyle(oStyle.styleId)">
                                <fa-icon [icon]="faX"></fa-icon>
                            </button>
                        </div>
                    </div>

                    <div class="cardbody" height="7rem">
                        <h2 class="text-center">
                            <fa-icon [icon]="faPaintBrush"></fa-icon>
                        </h2>
                        <p class="text-success title">{{oStyle.name}}</p>
                        <p class="style-description">{{oStyle.description}}</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="info-container card border border-success rounded-1" style="width: 50%;">
            <div *ngIf="m_oSelectedStyle.name && m_bDisplayInfo" class="px-4 py-4 d-flex flex-column gap-2">
                <h4>{{m_oSelectedStyle.name}}</h4>
                <div class="main-style-info d-flex flex-row justify-content-between">

                    <div class="style-description">
                        <span class="text-success">Description:</span>
                        <p>{{m_oSelectedStyle.description}}</p>
                    </div>
                    <div>
                        <span class="text-success">Owner:</span>
                        <p>{{m_oSelectedStyle.userId}}</p>
                    </div>
                </div>

                <div class="style-xml-container d-flex flex-column">
                    <span class="text-success">Style XML:</span>
                    <textarea readonly class="form-control" name="m_asStyleXml" rows="10"
                        placeholder="{{m_asStyleXml}}"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="border dialog-footer d-flex flex-row justify-content-end">
        <button class="btn btn-secondary" (click)="onDismiss()">
            Close
        </button>
    </div>
</div> -->