/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-bottom-sheet-container-medium,
.mat-bottom-sheet-container-large,
.mat-bottom-sheet-container-xlarge {
    min-width: 100%;
    max-width: 100% !important;
    padding: 0 !important;
}