/* Custom Colour Sets */
:root {
  /* Main Colours */
  --darkAccessible: #006526;
  --wasdiGreen: #009036;
  --wasdiBlue: #212F45;
  --wasdiWarn: #FBAC00;
  --wasdiDanger: #FF3D00;

  /* Shade Variants */
  --wasdiWarn10: #FEF5E0;
  --wasdiDanger10: #FFE7E0;
  --wasdiGreen10: #E0F1E6;
  --wasdiBlue10: #E1EAFB;

  /* Lighter Shade Variants */
  --wasdiWarnLight: #FFF9EB;
  --wasdiDangerLight: #FFF0EB;
  --wasdiGreenLight: #EBF7EF;
  --wasdiBluelight: #F0F5FD;

  /* Neutrals */
  --neutral5: #ECEEF0;
  --neutral10: #D9DCE1;
  --neutral15: #C7CBD3;
  --neutral20: #B4BAC4;
  --neutral25: #8E97A6;
  --neutral30: #697589;
  --neutral50Brand: #43526B;
  --neutral60: #364256;
  --neutral70: #283140;
  --neutral80: #1B212B;
  --neutral85: #141920;
  --neutral90: #0D1015;
  --neutral95: #07080B;
}

/* BROWSER RESETS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px red solid; */
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif !important;
}

button {
  background: none;
  border: none;
  padding: 0;
}

main {
  width: 100%;
  min-height: calc(100vh - 6rem);
}

div.app-outlet {
  min-height: 100vh;
}

.font-bold {
  font-weight: 700;
}

.font-light {
  font-weight: 400;
}

.text-white {
  color: #FFFFFF;
}

mat-bottom-sheet-container-medium,
.mat-bottom-sheet-container-large,
.mat-bottom-sheet-container-xlarge {
  min-width: 100vw !important;
  max-width: 100vw !important;
  max-height: 97vh !important;
  padding: 0 !important;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.32);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.32);
}

/* Secondary Nav (Filters) Styling */
.secondary-nav {
  align-self: stretch;
  color: var(--neutral60);
  border-right: 1px solid #D9DCE1;
  font-weight: 700;
  display: flex;
  height: 100%;
  max-height: 100%;
  padding: 16px 16px 16px 8px;
  flex-direction: column;
  gap: var(--Radius-or-Spacings-S, 8px);
  width: 22rem;
  overflow-y: hidden;
}

.location-header {
  color: var(--neutral50Brand);
  font-size: 12px;
  font-weight: 700;
}

.filters-header {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
}


/* Custom Search Input with Search Icon */
.search-input {
  align-self: stretch;
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid var(--neutral20);
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: 32px;
  padding: 8px;
  width: 314px;
  padding-left: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  text-align: center;
  pointer-events: none;
}

.material-symbols-outlined.form-control-feedback {
  line-height: 2rem;
  padding-left: 0.25rem;
  font-size: 20px;
}

.wasdi-checkbox {
  border: 1.5px solid var(--Colors-Neutrals-30, #697589);
  background: var(--Colors-Neutrals-0, #FFF);
  width: 16px;
  height: 16px;

}

/* Custom Checkbox */
.wasdi-checkbox-container {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.wasdi-checkbox {
  cursor: pointer;
}

.wasdi-checkbox:checked {
  accent-color: var(--Colors-Primary-10, #009036);
}

.wasdi-checkbox:checked:hover {
  accent-color: var(--Colors-Primary-10, #009036);
}

.wasdi-checkbox-label {
  align-self: stretch;
  color: #000000;
  cursor: default;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.star-filled {
  color: #FBAC00;
}

.star-grey {
  color: #C7CBD3;
}

/* Formatting for WASDI Tags (e.g., in Table and marketplace) */
.category-tag {
  border-radius: 4px;
  border: 1px solid var(--neutral50Brand);
  background: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 8px;
  line-height: 12px;
}

.category-tag:hover {
  background: var(--wasdiGreenLight);
  transition: ease-out 300ms;
}

.category-tag.active {
  border: 1px solid var(--wasdiGreen);
  background: var(--wasdiGreen);
  color: #FFFFFF;
}

.category-tag.yellow,
.category-tag.red,
.category-tag.green {
  border: none;
  color: #FFFFFF !important;
  cursor: default !important;
}

.category-tag.yellow {
  background: var(--wasdiWarn);
  color: #000000;
}

.category-tag.red {
  background: var(--wasdiDanger);
}

.category-tag.green {
  background: var(--wasdiGreen);
}

.category-tag.outlined.red {
  background: #FFFFFF !important;
  border: 1px solid var(--wasdiDanger) !important;
  color: var(--wasdiDanger) !important;
  cursor: pointer !important;
}

.category-tag.outlined.red:hover {
  background: var(--wasdiDangerLight) !important;
}


/* Custom Styling for WASDI Checkbox - Angular Materials OVERRIDES! */
.mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
  border-color: #009036 !important;
  background-color: #009036 !important;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background {
  border-color: #009036 !important;
  background-color: #009036 !important;
}

.mdc-checkbox .mdc-checkbox__native-control[disabled]:checked~.mdc-checkbox__background {
  background-color: #B4BAC4 !important;
}

.mdc-checkbox .mdc-checkbox__native-control[disabled]:indeterminate~.mdc-checkbox__background {
  background-color: #B4BAC4 !important;
}

.mdc-checkbox .mdc-checkbox__native-control[disabled]:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
  border-color: #B4BAC4 !important;
}

.mat-ripple {
  display: none !important;
}

.mdc-checkbox__ripple {
  height: 0px;
  width: 0px;
}

.mdc-checkbox {
  flex: 0 0 8px !important;
}

.map-container {
  z-index: 0;
}

.floating-menu {
  background: #FFFFFF;
}

span.close-btn {
  cursor: pointer;
}

/* Styles for Dialogs in the Editor Tab */

div.apps-dialog {
  padding: 24px;
  height: 80vh;
  width: 100%;
}

.dialog-header {
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 16px;
}

.search-header {
  color: var(--neutral60);
  font-size: 16px;
}

.apps-container,
.json-container {
  width: 49.5%
}

.json-container {
  background: var(--neutral10);
  border-radius: 8px;
  height: 100%;
  padding-top: 32px;
}

.json-header,
.json-body {
  padding: 0px 32px;
}

.json-body {
  padding-bottom: 1rem;
}

p {
  font-size: 14px;

}

.footer {
  background-color: #FFFFFF;
  padding: 16px 32px;
}

/* 
.leaflet-bar a {
  background-color: rgba(13, 16, 21, 0.8) !important;
  color: #006526 !important;
  border-radius: 50% !important;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: none !important;
  border-radius: 50% !important;
}

.leaflet-touch .leaflet-control-layers .leaflect-control-layers-expanded{
  border-radius: none !important;
} */