/* BROWSER RESETS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px red solid; */
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Inter", sans-serif;
    font-family: "Poppins", sans-serif;
}

main {
    width: 100%;
    height: 100%;

}

.mat-bottom-sheet-container-medium,
.mat-bottom-sheet-container-large,
.mat-bottom-sheet-container-xlarge {
    /* min-width: 100vw !important;
    max-width: 100vw !important;
    padding: 0 !important; */
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #43526b;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #43526b;
  }