<div mat-dialog-content class="d-flex flex-column justify-content-between gap-3" style="height: 100%">
    <div class="dialog-header d-flex flex-row justify-content-between p-2">
        <h6>View Build Logs for {{m_sInputProcessorName}}</h6>
        <fa-icon [icon]="faX" (click)="onDismiss()"></fa-icon>
    </div>

    <div class="flex-fill" style="overflow-y: scroll;">
        <div *ngFor="let aBuildLogs of m_asBuildLogs">
            <table class="table table-striped table-hover">
                <tbody>
                    <tr *ngFor="let sBuildLog of aBuildLogs">
                        <td *ngIf="sBuildLog.length !== 1 ">{{sBuildLog}}</td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-sm btn-secondary" [cdkCopyToClipboard]="m_sBuildLogs">Copy Build to Clipboard</button>
        </div>
    </div>
</div>