<app-invader *ngIf="m_bLoadingUsers"></app-invader>

<div class="dialog-content d-flex flex-column align-items-center justify-content-center" *ngIf=" (!m_aoSharedUsers ||
    m_aoSharedUsers.length===0) && (!m_bShowUsers) && !m_bLoadingUsers"
    class="image-wrapper d-flex flex-column align-items-center justify-content-center">
    <img src="/assets/images/collaborators.png" alt="">
    <div class="header-text font-bold">There is no one here...</div>
    <div class="collab-text mt-2">You can add collaborators to help you manage your {{resourceType}}</div>
    <app-button class="mt-4" [m_sSize]="'large'" [m_sLabel]="'Add Collaborator'" (click)="openSharedUsers()"></app-button>
</div>
<div [class.pannel]="resourceType === 'workflow'" class="dialog-content users-table d-flex flex-column" *ngIf="m_bShowUsers">
    <div class="table-wrapper">
        <table>
            <thead class="table-heading-container">
                <tr>
                    <td class="font-bold">Email Address</td>
                    <td class="font-bold thead-fixed-width">Access Type</td>
                    <td class="thead-fixed-width"></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let oUser of m_aoSharedUsers">
                    <td>
                        <app-input-field [m_sInputValue]="oUser.userId" [m_bIsDisabled]="true"
                            [m_bIsReadonly]="true"></app-input-field>
                    </td>
                    <td>
                        <app-dropdown [m_aoDropdownItems]="m_aoShareOptions" [m_aoSelectedItems]="oUser.permissions"
                            [m_bIsDisabled]="true"></app-dropdown>
                    </td>
                    <td class="d-flex flex-row justify-content-end">
                        <button class="material-symbols-outlined"
                            (click)="onRemoveEnabledUser(oUser.userId)">delete</button>
                    </td>
                </tr>
                <tr *ngIf="m_bShowInput === true">
                    <td>
                        <app-input-field [m_sPlacehodler]="'Enter user email'" (m_oInputChange)="getEmailInput($event)"
                            [m_sInputValue]="m_sUserIdSearch"></app-input-field>
                    </td>
                    <td>
                        <app-dropdown [m_aoDropdownItems]="m_aoShareOptions" [m_sPlaceholder]="'Permission'"
                            [m_aoSelectedItems]="m_sPermission"
                            (m_oSelectionChange)="getPermissionInput($event)"></app-dropdown>
                    </td>
                    <td class="d-flex flex-row justify-content-end">
                        <app-button class="" [m_sLabel]="'Add User'" (click)="!m_bIsReadOnly? onAddEnabledUser() : ''"
                            [m_bDisabled]="this.m_bIsReadOnly === true"></app-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <app-button [m_sLabel]="!m_bShowInput ? 'Add collaborator' : 'Cancel'" class="align-self-start pt-2 ps-3"
        (click)="toggleShowInput()"></app-button>
</div>