<div class="dialog-header bg-secondary text-light d-flex flex-row justify-content-between align-items-center p-1">
    <h4>Payload For: {{m_oProcess.processObjId}}</h4>
    <button class="btn text-light" (click)="dismiss($event)">
        <fa-icon [icon]="faXmark"></fa-icon>
    </button>
</div>
<div *ngIf="m_bIsWasdiDasboard === false" class="process-payload d-flex flex-column align-items-center gap-3 mx-5 my-4">
    <textarea class="process-payload-display" name="" id="" value={{m_sPayloadString}}></textarea>
    <div class="d-flex flex-row jusify-content-end align-self-end gap-3">
        <button class="btn btn-success" [cdkCopyToClipboard]="m_sPayloadString">Copy Payload</button>
        <button class="btn btn-secondary" (click)="dismiss($event)">Close</button>
    </div>
</div>
<div class="process-payload d-flex flex-column align-items-center gap-3 mx-5 my-4">

    <ngx-charts-line-chart 
   
    [view]="view" [legend]="m_bLegend"
        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [legendPosition]="legendPosition" [results]="multi"
        [timeline]="timeline">
    </ngx-charts-line-chart>
    <ngx-charts-bar-horizontal-2d  [view]="view" [results]="multi"
        [xAxis]="xAxis" [yAxis]="yAxis" [legend]="m_bLegend" [legendPosition]="legendPosition"
        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel">
    </ngx-charts-bar-horizontal-2d>
</div>