<table class="table table-sm">
  <thead>
    @if (m_aoTableInput.rowHeaders.length !== 0) {
      <th>row</th>
    }
    @for (oColumn of m_aoTableInput.colHeaders; track oColumn; let i = $index) {
      <th scope="col">
        {{m_aoTableInput.colHeaders[i]}}
      </th>
    }
  </thead>
  <tbody>
    @for (row of m_aoTableInput.aoTableVariables; track row; let iRow = $index) {
      <tr>
        @if (m_aoTableInput.rowHeaders.length !== 0) {
          <td>{{m_aoTableInput.rowHeaders[iRow]}}</td>
        }
        @for (row of m_aoTableInput.aoTableVariables[iRow]; track row; let iColumn = $index) {
          <td >
            <input class="form-control" type="text" name="" id="{{'id_'+iRow+'_'+iColumn}}" (change)="setTableInput($event, iRow, iColumn)" [value]="m_aoLocalInputsCopy[iRow][iColumn]">
          </td>
        }
      </tr>
    }
  </tbody>
</table>