<p>wap-table works!</p>
<form (ngSubmit)="emitTableInputs()">
    <table class="table table-sm">
        <thead>
            <th *ngIf="oTableInput.rowHeaders.length !== 0">row</th>
            <th scope="col" *ngFor="let column of oTableInput.aoTableVariables[0]; let i = index">
                {{oTableInput.colHeaders[i]}}
            </th>
        </thead>
        <tbody>
            <tr *ngFor="let row of oTableInput.aoTableVariables; let i = index">
                <td>{{oTableInput.rowHeaders[i]}}</td>
                <td *ngFor="let row of oTableInput.aoTableVariables[i]; let j = index;" >
                    <input class="form-control" type="text" name="" id="" (change)="getTableInput($event, i, j)">
                </td>
            </tr>

        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">SAVE INPUTS</button>
</form>