<header class="p-1 bg-secondary d-flex flex-row align-items-center justify-content-between">
    <h3 class="text-light"><fa-icon [icon]="faUser"></fa-icon> User Dashboard</h3>
    <button class="btn text-light" (click)="dismiss($event)">
        <fa-icon [icon]="faClose"></fa-icon>
    </button>
</header>
<ul class="nav nav-tabs mx-3 my-2">
    <li class="nav-item" (click)="changeActiveTab('ACCOUNT')">
        <a class="nav-link" ngClass="{{m_sActiveTab === 'ACCOUNT' ? 'active' : ''}}">Account Info</a>
    </li>
    <li class="nav-item" (click)="changeActiveTab('SUBSCRIPTIONS')">
        <a class="nav-link" ngClass="{{m_sActiveTab === 'SUBSCRIPTIONS' ? 'active' : ''}}">Subscriptions</a>
    </li>
    <li class="nav-item" (click)="changeActiveTab('ORGANIZATIONS')">
        <a class="nav-link" ngClass="{{m_sActiveTab === 'ORGANIZATIONS' ? 'active' : ''}}">Organizations</a>
    </li>
    <li class="nav-item" (click)="changeActiveTab('PURCHASES')">
        <a class="nav-link" ngClass="{{m_sActiveTab === 'PURCHASES' ? 'active' : '' }}">Purchase History</a>
    </li>
    <li class="nav-item" (click)="changeActiveTab('EMAIL')">
        <a class="nav-link" ngClass="{{m_sActiveTab === 'EMAIL' ? 'active' : ''}}">Email Preferences</a>
    </li>
</ul>

<div class="" *ngIf="m_sActiveTab === 'ACCOUNT'">
    <div class="edit-info-container row col-10 mx-auto my-2">
        <h5 class="pb-2" style="border-bottom: 1px solid lightgrey">
            Edit User Info
        </h5>
        <form class="d-flex flex-column gap-3" name="m_oEditUser" #f="ngForm" (ngSubmit)="f.form && changeUserInfo()">
            <div class="d-flex flew-row align-items-center gap-3">
                <label for="fname" style="width: 15%">First Name</label>
                <input class="form-control" type="text" name="fname" [(ngModel)]="m_oEditUser.fname">
            </div>

            <div class="d-flex flew-row align-items-center gap-3">
                <label for="lname" style="width: 15%">Surame</label>
                <input class="form-control" type="text" name="lname" [(ngModel)]="m_oEditUser.lname">
            </div>
            <div class="d-flex flew-row align-items-center gap-3">
                <label for="userId" style="width: 15%">User ID</label>
                <input class="form-control" type="text" name="userId" [(ngModel)]="m_oEditUser.userId">
            </div>
            <button class="btn btn-success align-self-end">Save Info</button>
        </form>
    </div>

    <div class="change-password-container row col-10 mx-auto m2-3">
        <h5 class="pb-2" style="border-bottom: 1px solid lightgrey">
            Change Password
        </h5>
        <form class="d-flex flex-column gap-3" name="m_oEditPassword" #f="ngForm">
            <div class="d-flex flew-row align-items-center gap-3">
                <label for="currentPassword" style="width: 15%">Current Password</label>
                <input class="form-control" type="password" name="currentPassword"
                    [(ngModel)]="m_oEditPassword.currentPassword">
            </div>

            <div class="d-flex flew-row align-items-center gap-3">
                <label for="newPassword" style="width: 15%">New Password</label>
                <input class="form-control" type="password" name="newPassword"
                    [(ngModel)]="m_oEditPassword.newPassword">
            </div>
            <div class="d-flex flew-row align-items-center gap-3">
                <label for="newPasswordConfirm" style="width: 15%">Confirm New Password</label>
                <input class="form-control" type="password" name="newPasswordConfirm"
                    [(ngModel)]="m_oEditPassword.newPasswordConfirm">
            </div>
            <button class="btn btn-success align-self-end" (click)="changePassword()">Save Password</button>
        </form>
    </div>
</div>

<app-subscriptions-display *ngIf="m_sActiveTab === 'SUBSCRIPTIONS'"></app-subscriptions-display>
<app-organizations-display *ngIf="m_sActiveTab === 'ORGANIZATIONS'"></app-organizations-display>
<app-purchase-history-display *ngIf="m_sActiveTab === 'PURCHASES'"></app-purchase-history-display>
<app-email-preferences-display *ngIf="m_sActiveTab === 'EMAIL'"></app-email-preferences-display>