<div class="d-flex flex-column gap-3">
    <div class="logo-upload-container d-flex flex-row align-items-center gap-3">
        <div>
            <h5>Upload Logo</h5>
            <img src="{{m_oProcessor.imgLink}}" class="img-fluid img-thumbnail"
                style="max-height: 200px; max-width: 200px" alt="...">
        </div>
        <div class="d-flex flex-column justify-content-start align-items-start gap-3">
            <app-drag-and-drop [m_sFormDataType]="'image'"
                (m_oSelectedFileOutput)="getSelectedLogo($event)"></app-drag-and-drop>
            <button class="btn btn-primary" (click)="updateProcessorLogo()">Save Logo</button>
        </div>
    </div>
    <div class="multiple-upload-container mt-3">
        <h5>Upload Images</h5>
        <app-drag-and-drop [m_sFormDataType]="'image'"
            (m_oSelectedFileOutput)="getSelectedAppImage($event)"></app-drag-and-drop>
        <button class="btn btn-primary" (click)="addApplicationImage()">Save Image</button>
        <div class="d-flex flex-row gap-3 mt-3">
            <div *ngFor="let oImage of m_oProcessor.images" class="position-relative">
                <img src="{{oImage}}" class="img-fluid img-thumbnail" style="max-height: 200px; max-width: 200px"
                    alt="...">
                <button class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary"
                    (click)="removeProcessorImage(oImage)">
                    <fa-icon [icon]="faX"></fa-icon>
                    <span class="visually-hidden">Remove Image</span>
                </button>
            </div>
        </div>
    </div>
</div>