<div class="secondary-nav">
    <div class="location-header">Marketplace</div>
    <div class="filters-header">Filters</div>
    <div class="filters-container">
        <app-input-field [m_sIconLeft]="'search'" [m_sPlacehodler]="'Search Apps'"
            (m_oInputChange)="getSearchInput($event)" [m_sLabel]="'Search App'"
            (keyup)="onSearchInput($event)"></app-input-field>
        <div class="input-container">
            <div class="search-header">Category</div>
            <div class="categories-container">
                <div class="category-tag" (click)="categoriesChanged(oCategory)"
                    *ngFor="let oCategory of m_asCategoryOptions"
                    [class.active]="m_aoSelectedCategories.indexOf(oCategory.id) !== -1">
                    {{oCategory.category}}</div>
            </div>
        </div>
        <div class="input-container">
            <div class="search-header">Developer</div>
            <app-input-field [m_sIconLeft]="'search'" [m_sPlacehodler]="'Search Developers'"
                (m_oInputChange)="getDeveloperInput($event)" [m_sLabel]="'Developer Search'"></app-input-field>
            <div class="developers-container">
                <div class="wasdi-checkbox-container" *ngFor=" let oPublisher of m_aoPublishers | filter:
                    m_sDeveloperSearch">
                    <input class="wasdi-checkbox" type="checkbox" name="" id="" (click)="developerChanged(oPublisher)">
                    <span class="wasdi-checkbox-label">{{oPublisher.publisher}}</span>
                </div>
            </div>
        </div>
        <div class="input-container">
            <div class="search-header">Customer review</div>
            <div class="review-options">
                <div class="review-option-container d-flex flex-row align-items-center gap-1"
                    *ngFor="let iRating of m_aiRatingsFilter">
                    <input type="radio" name="reviewOption" id="" value="{{iRating}}" (click)="ratingChanged($event)">
                    <span class="material-symbols-outlined" [class]="iRating > 0 ? 'star-filled' : 'star-grey'">
                        star
                    </span>
                    <span class="material-symbols-outlined" [class]="iRating > 1? 'star-filled' : 'star-grey'">
                        star
                    </span>
                    <span class="material-symbols-outlined" [class]="iRating > 2 ? 'star-filled' : 'star-grey'">
                        star
                    </span>
                    <span class="material-symbols-outlined" [class]="iRating > 3 ? 'star-filled' : 'star-grey'">
                        star
                    </span>
                    <span class="material-symbols-outlined" [class]="iRating > 4 ? 'star-filled' : 'star-grey'">
                        star
                    </span>
                    <span class="review-text">& up</span>
                </div>
            </div>
        </div>
        <div class="input-container">
            <!-- <div class="search-header">Price</div> -->
        </div>
    </div>
</div>