<div class="marketplace-filters-container d-flex flex-column">
    <div class="location-header">Marketplace</div>
    <div class="filters-header">Filters</div>
    <div class="filters-container">
        <div>
            <div class="search-header">Search app</div>
            <span class="input-icon material-symbols-outlined">
                search
                </span>
            <input type="text" class="search-input">
        </div>
        <div>
            <div class="search-header">Category</div>
        </div>
        <div>
            <div class="search-header">Developer</div>
        </div>
        <div>
            <div class="search-header">Customer review</div>
        </div>
        <div>
            <div class="search-header">Price</div>
        </div>
    </div>
</div>